<div class="container col-sm-6" style="margin-top:5%">
  <div class="card" style="width: 30rem;">
    <div class="card-header">
      <!-- <div style="float: right;">
          <i class="fa fa-close"></i>
        </div> -->
      <div class="card-title" style="color:#FFF;font-weight: bold;font-size: 20px;">
        Registration Form
      </div>
    </div>
    <div class="card-body" style="color:black">
      <form ngForm="RegistrationForm" #RegistrationForm="ngForm" name="RegistrationForm" nonvalidate>
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3" [class.has.error]="fullname.invalid">
              <div class="input-group-prepend">
                <label class="input-group-text control-label" id="basic-addon1">Full Name</label>
              </div>
              <input type="text" class="form-control" aria-label="fullname" name="fullname" [(ngModel)]="fullnametxt" #fullname="ngModel" aria-describedby="basic-addon1" required>
              <span class="help-block alert-danger" *ngIf="fullname.touched && !fullname.valid">Full name is required</span>
              <!-- <div class="alert alert-danger" style="font-size: 12px;" *ngIf="fullname.touched && !fullname.valid">Username is required</div> -->
              <!--<div *ngIf="username.errors.minlength">Username should be minlength 3</div>
              <div *ngIf="username.errors.maxlength">Username should be maxlength 6</div> -->
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3" [class.has.error]="emailid.invalid">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email Id</span>
              </div>
              <input type="text" class="form-control" aria-label="emailid" name="emailid" [(ngModel)]="emailidtxt" #emailid="ngModel" aria-describedby="basic-addon1" required>
              <span  class="help-block alert-danger" *ngIf="emailid.touched && !emailid.valid">Email Id is required</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3" [class.has.error]="mobileno.invalid">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Mobile No</span>
              </div>
              <input type="text" class="form-control" aria-label="mobileno" name="mobileno" [(ngModel)]="mobilenotxt" #mobileno="ngModel" aria-describedby="basic-addon1" required>
              <span class="help-block alert-danger" *ngIf="mobileno.touched && !mobileno.valid">Mobile No is required</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3" [class.has.error]="username.invalid">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">User Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Username" name="username" [(ngModel)]="usernametxt" #username="ngModel" aria-describedby="basic-addon1" required>
              <span class="help-block alert-danger" *ngIf="username.touched && !username.valid">Username is required</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3" [class.has.error]="password.invalid">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password</span>
              </div>
              <input type="password" class="form-control" aria-label="password" name="password" [(ngModel)]="passwordtxt" #password="ngModel" aria-describedby="basic-addon1" required>
              <span class="help-block alert-danger" *ngIf="password.touched && !password.valid">Password is required</span>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3" [class.has.error]="!authorization.vaild">
              <div class="input-group-prepend">
                <span class="input-group-text control-label" id="basic-addon1">Authorization</span>
              </div>
              <select class="form-control" [(ngModel)]="authorizationtxt" #authorization="ngModel" name="authorization" required>
                <option>Choose..</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
              </select>
              <span class="help-block alert-danger" *ngIf="authorization.touched && !authorization.valid">Authorization is required</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 offset-4">
          <button class="btn btn-success" routerLink="/layout/home">Save</button>
          <button class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
