<!-- <p>
  shiftmanagement works!
</p> -->
<div class="bqn">
  <div class="bqo">
    <!-- <h6 class="bqq">Dashboards</h6> -->
    <h5 class="bqp">Shift Management</h5>
  </div>
</div>



<div class="row">
  <div class="col-sm-9">
    <div class="card text-white bg-secondary mb-3">
      <h6 class="card-header">SourceShift</h6>
      <div class="card-body">
        <!-- <p class="card-text">This is a card text paragraph with primary color background.</p> -->
        <div class="row">
          <div class="col">
            <div class="well">
              <div class="input-group">
                <span class="input-group-addon">Shift</span>
                <select type="input" class="form-control" ng-model="final_data.info" ng-options="m.id as m.title for m in chartlist" required
                  ng-cloak>
                  <option selected>Choose...</option>
                  <option value="1">Day Shift</option>
                  <option value="2">Night Shift</option>
                  <option value="3">Full Day</option>
                </select>
              </div>
              <!-- <br>
            <div class="input-group">
              <span class="input-group-addon">Deparment </span>
              <select type="input" class="form-control" ng-model="final_data.info" ng-options="m.id as m.title for m in chartlist" required
                ng-cloak></select>
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">Employee Code </span>
              <input type="text" name="ShiftCode" class="form-control" id="ShiftCode" placeholder="Enter Shift Code" required>
            </div>
            <br>
            <button type="button" class="btn btn-secondary">FilterEmployee</button>
            <button type="button" class="btn btn-secondary">MoveEmployee</button> -->
            </div>
          </div>
          <div class="col">
            <div class="well">
              <div class="input-group">
                <span class="input-group-addon">Deparment </span>
                <select type="input" class="form-control" ng-model="final_data.info" ng-options="m.id as m.title for m in chartlist" required
                  ng-cloak>
                  <option selected>Choose...</option>
                  <option value="1">Finance</option>
                  <option value="2">Billing</option>
                  <option value="3">Account</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="well">
              <div class="input-group">
                <span class="input-group-addon">Emp Code </span>
                <input type="text" name="ShiftCode" class="form-control" id="ShiftCode" required>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-dark">FilterEmployee</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-outline-dark" (click)="moveemployee()">MoveEmployee</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-white bg-secondary mb-3">
      <h6 class="card-header">DestinationShift</h6>
      <div class="card-body">
        <!-- <p class="card-text">This is a card text paragraph with primary color background.</p> -->
        <div class="row">
          <div class="well">
            <div class="input-group">
              <span class="input-group-addon">Select</span>
              <select type="input" class="form-control" ng-model="final_data.info" ng-options="m.id as m.title for m in chartlist" required
                ng-cloak>
                <option selected>Choose...</option>
                <option value="1">Full Day</option>
                <option value="2">Night Shift</option>
                <option value="3">Day Shift</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <!-- Date:
            <input type="date" placeholder="Datepicker" class="form-control"> -->
        <div class="row">
          <form action="/action_page.php">
            Date:
            <input type="date" name="bday">
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="card text-white bg-dark mb-3 text-center">
  <h6 class="card-header">List of Employee</h6>
  <div class="card-body">
    <form class="form-inline">
      <div class="checkbox">
        <label>
          <input type="checkbox" />Select All</label>
      </div>
    </form>
    <div class="ly">
      <table class="ck" data-sort="table">
        <thead>
          <tr>
            <th>Select</th>
            <th>EMP ID</th>
            <th>Employee</th>
            <th>Deparment</th>
            <th>User Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>1001</td>
            <td>Mohsin</td>
            <td>Account</td>
            <td>Billing</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>1002</td>
            <td>Sanskruti</td>
            <td>Account</td>
            <td>Billing</td>
          </tr>


        </tbody>

      </table>
    </div>
    <!-- <p class="card-text">This is a card text paragraph with primary color background.</p> -->
  </div>
</div>