<section style="background-color:gray;height: 140px ;border-radius: 5px">
  <h3 style="width: 100% ;font-style: italic;font:bold;text-align: center">Shift Details</h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <label> Shift Name</label>
        <input type="text" name="ShiftName" class="form-control form-control-sm" id="ShiftName" placeholder="Enter Shift Name" required>
      </div>
      <div class="col-sm-4">
        <label> Shift Code</label>
        <input type="text" name="ShiftCode" class="form-control form-control-sm" id="ShiftCode" placeholder="Enter Shift Code" required>
      </div>
      <div class="col-sm-4">
          <label > Punch Start Time</label> 
          <input type="text" name="Shiftpunchstarttime" class="form-control form-control-sm " id="Shiftpunchstarttime" placeholder="Enter time">
        </div>
    </div>
   
  </div>
</section>
<br>
<section style="background-color:gray;height: 180px; border-radius: 5px">
  <h3 style="width: 100% ;font-style: italic;font:bold;text-align: center">Timing Details</h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label lable" for="exampleCheck1">Night Shift applicable</label>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label lable" for="exampleCheck1">General Shift applicable</label>
        </div>

      </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label> Shift Begin Time</label>
            <input type="text" name="ShiftBeginTime" class="form-control form-control-sm" id="ShiftBeginTime" placeholder="Enter Shift Begin Time" required>
          </div>
          <div class="col-sm-3">
            <label>Shift End Time</label>
            <input type="text" name="ShiftEndTime" class="form-control form-control-sm" id="ShiftEndTime" placeholder="Enter Shift End Time" required>
          </div>
          <div class="col-sm-3">
              <label > Shift Duration</label> 
              <input type="text" name="ShiftDuration" class="form-control form-control-sm " id="ShiftDuration" placeholder="Enter Shift Duration">
            </div>
            <div class="col-sm-3">
                <label > Work Duration</label> 
                <input type="text" name="WorkDuration" class="form-control form-control-sm " id="WorkDuration" placeholder="Enter time">
              </div>
    </div>

   
  </div>
</section>
<br>


 <section >
  <div class="container">
    <div class="row">
      <div class="col sm 6">

<div class="accordion"  id="accordionExample" style="background-color: orchid">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Break Applicable
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
     <div class="container">
       <div class="row card-body">

        <div class="col-sm-4 ">
            <label style="color:black;font-size: 15px" > Break Begin Time</label>
            <input type="text" name="BreakBeginTime" class="form-control form-control-sm" id="BreakBeginTime" placeholder="Enter Break Begin Time" required>
        </div>
        <div class="col-sm-4">
            <label style="color:black;font-size: 15px"> Break End Time</label>
            <input type="text" name="ShiftBeginTime" class="form-control form-control-sm" id="ShiftBeginTime" placeholder="Enter Break End Time" required>
          </div>
          <div class="col-sm-4">
              <label style="color:black;font-size: 15px">Break Duration</label>
              <input type="text" name="BreakDuration" class="form-control form-control-sm" id="BreakDuration" placeholder="Enter Break Duration" required>
            </div>
       </div>
     </div>

     
      <!-- <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div> -->
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Advance Setting
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="container">
            <h4  >Break2 Applicable  </h4>
            <div class="row card-body">
     
             <div class="col-sm-4 ">
                 <label style="color:black;font-size: 15px" > Break Begin Time</label>
                 <input type="text" name="BreakBeginTime" class="form-control form-control-sm" id="BreakBeginTime" placeholder="Enter Break Begin Time" required>
             </div>
             <div class="col-sm-4">
                 <label style="color:black;font-size: 15px"> Break End Time</label>
                 <input type="text" name="ShiftBeginTime" class="form-control form-control-sm" id="ShiftBeginTime" placeholder="Enter Break End Time" required>
               </div>
               <div class="col-sm-4">
                   <label style="color:black;font-size: 15px">Break Duration</label>
                   <input type="text" name="BreakDuration" class="form-control form-control-sm" id="BreakDuration" placeholder="Enter Break Duration" required>
                 </div>
            </div>
          </div>
        
  

    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Other Setting
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="container">
            <div class="row card-body">
               

                    <div class="col-sm-6 ">
                        <label style="color:black;font-size: 15px" >Restrict Leave For</label>
                        <input type="text" name="leavefor" class="form-control form-control-sm" id="leavefor" placeholder="Enter Leave for" required>
                    </div>
                    <div class="col-sm-6">
                        <label style="color:black;font-size: 15px"> Creadit Extra Hours</label>
                        <input type="text" name="ShiftBeginTime" class="form-control form-control-sm" id="ShiftBeginTime" placeholder="Enter Break End Time" required>
                      </div>

            </div>
          </div>
    </div>
  </div>
</div>


      </div>
    </div>
  </div>
</section>
<br>
<div class="container" style="border-radius: 5px">
  <div class="row">
<div class="col-sm-3">
   
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#altersuccess" data-whatever="@mdo">UPDATE</button>
    <button type="button"class="btn btn-primary">CLOSE </button>
</div>  
  </div>
</div>

<div id="altersuccess" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Edited Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You Have Successfully Updated Record.......</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        
      </div>
    </div>
  </div>
</div>
   

<!-- 
<div class="bqn">
  <div class="bqo">

    <h2 class="bqp">Shifts</h2>
  </div>
</div>
<div class="bop ayg">
  <div class="boq bor">
    <div class="axm bpy">
      <input type="text" class="form-control bsx" placeholder="Search ">
      <span class="bv bhw"></span>
    </div>
  </div>
  <button type="button" style="margin-bottom: 20px ;margin-top: 10px" (click)="CreateUser()" class="btn btn-primary">Create shift</button>


  <div class="ly">
    <table class="ck" data-sort="table">
      <thead>
        <tr style="color: aqua; font: bold">
          <th>Shift Code</th>
          <th>Shift Name</th>
          <th>Shift Start</th>
          <th>Shift End</th>        
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Day Shift</td>
          <td>08:30</td>          
          <td>300</td>
          <td>
           <a > <span  class="bv bji iconstyle"></span></a>   
           
          </td>
          <td>
            <a> <span class="bv bei iconstyle2"></span></a>
            
          </td>

        </tr>


      </tbody>
    </table>
  </div>  -->