<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Expenses List</h4>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                    </div>
                    <select class="form-control form-control-sm" id="item-type">
                        <option [ngValue]="null" disabled>--Select--</option>
                        <option></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">From Date</label>
                      </div>
                      <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                      class="form-control" placeholder="Date From">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">To Date</label>
                      </div>
                      <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                      class="form-control" placeholder="Date To">
                    </div>
                  </div>
                </div>
              <!-- <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Employee Name</label>
                    </div>
                    <input class="form-control form-control-sm" type="text" placeholder="">
                  </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-12 offset-3">
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                  <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn">Show All</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-md-6">
                      <label type="text">Overview</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                      <label type="text">Total No of Record:0</label>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <label type="text">Total No Expenses:</label>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 offset-3">
                  <button type="button" style="margin-right:5px;margin-bottom: 10px;" (click)="openModal(template)" class="btn btn-info">Add New</button>
                  <button type="button" style="margin-bottom: 10px;margin-right:5px;background-color:#dc143c;" class="btn">Print</button>


                  <button type="button" style="margin-bottom: 10px" class="btn btn-warning">Export</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="bop ayg">
  <div class=" ly">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordered table-sm table-striped">
            <thead style="color:#fff;background-color: #cc5f61">
              <th>
                <input type="checkbox" id="checkall" />
              </th>
              <th>Date</th>
              <th>Category</th>
              <th>Payment mode</th>
              <th>Bank Name</th>
              <th>Cheque No </th>
              <th>Amount</th>
              <th>Note</th>
              <th>Operation</th>              
            </thead>
            <tbody style="color: black;" class="table-hover">
              <tr *ngFor="let expenses of expenseentryList">
                <td>
                  <input type="checkbox" class="checkthis" />
                </td>
                <td>{{expenses.Date}}</td>
                <td>{{expenses.Category}}</td>
                <td>{{expenses.PaymentMode}}</td>
                <td>{{expenses.BankName}}</td>
                <td>{{expenses.ChequeNo}}</td>
                <td>{{expenses.Amount}}</td>
                <td>{{expenses.Note}}</td>
                <td>
                  <div style="float: left;margin-left: 10px;">
                    <p data-title="Edit" class="edit" (click)="openModal(template,expenses.ID)">
                           <span class="bv bji iconstyle"></span>
                    </p>
                  </div>
                  <div style="float: left;margin-left: 10px;">
                      <p data-title="Delete" class="delete" (click)="DeleteExpenses(expenses.ID)">
                          <a>
                        <span class="bv bmx iconstyle2"></span>
                      </a>
                    </p>
                  </div>
                  <div>
                      <p data-title ="Delete" class="delete" data-toggle="modal" data-target="#delete">
                          <a>
                                <i class="fa fa-bars" ></i>
                          </a>
                        </p>
                  </div>
                  <div style="float: left;margin-left: 10px;">
                      <p class="print">
                        <a>
                            <i class="fa fa-print"></i>
                        </a>
                      </p>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="avv">
          <nav>
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
                      <a (click)="setPage(1)" class="qo">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
                      <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
                      <a (click)="setPage(page)"  class="qo">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                      <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                      <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
                  </li>
              </ul>
            <!-- <ul class="qn">
              <li class="qp">
                <a class="qo" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="adp">Previous</span>
                </a>
              </li>
              <li class="qp active">
                <a class="qo" href="#">1</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">2</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">3</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">4</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">5</a>
              </li>
              <li class="qp">
                <a class="qo" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="adp">Next</span>
                </a>
              </li>
            </ul> -->
          </nav>
        </div>
      </div>
    </div>
  </div>
  <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title">Add Details</h4>
          <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Date<i class="fa fa-calendar"></i></label>
                  </div>
                  <input type="text" [(ngModel)]="expenseentry.Date" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" placeholder="" class="form-control form-control-sm">
                </div>
                <!-- <label style="color: black ;font-size: 13px">Employee Code</label>
                     <input class="form-control form-control-sm " type="text" > -->
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend ">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Category</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="expenseentry.Category" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              
                  <!-- <select name="Shifttype" class="  form-control form-control-sm custom-select " aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    <option value="volvo">DayShift</option>
                    <option value="saab">NightShift</option>
                    <option value="fiat">GeneralShift</option>

                  </select> -->
                </div>
                <!-- <label style="color: black;font-size: 13px">Employee Name</label>
                      <input class="form-control form-control-sm " type="text" > -->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Payment Mode</span>
                  </div>
                  <select name="Shifttype" class="form-control form-control-sm custom-select" [(ngModel)]="expenseentry.PaymentMode" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                      <option [ngValue]="null" disabled>--Select--</option> 
                    <option >Cash</option>
                      <option >Cheque</option>
                      <option >Card</option>
  
                    </select>  </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Bank Name</span>
                  </div>
                  <input type="text" [(ngModel)]="expenseentry.BankName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Cheque No</span>
                      </div>
                      <input type="text" [(ngModel)]="expenseentry.ChequeNo" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                  </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Amount</span>
                    <span class="input-group-text" id="basic-addon1">₹</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="expenseentry.Amount" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              
              <div class="col-sm-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Note<i class="fa fa-sticky-note-o"></i></span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="expenseentry.Note" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 offset-5">
              <button type="button" class="btn btn-success" style="height: 40px;" (click)="SaveExpenses()">Save</button>
              <button type="button" class="btn btn-danger" (click)="modalRef.hide()" style="margin-left:10px;height: 40px;">Cancel</button>
            </div>
          <!-- <div class="form-group">
            <input class="form-control " type="text" placeholder="Shift Name">
            </div> -->

        </div>
     
</ng-template>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Details</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h4 class=" text-center modal-title " id="Heading">Add Details</h4>
            </div> -->
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Date <i class="fa fa-calendar"></i></label>
                  </div>
                  <input type="date" placeholder="Datepicker" class="form-control form-control-sm">
                </div>
                <!-- <label style="color: black ;font-size: 13px">Employee Code</label>
                       <input class="form-control form-control-sm " type="text" > -->
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend ">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Shift <i class="material-icons">assignment_ind</i></span>
                  </div>
                  <select name="Shifttype" class="form-control form-control-sm custom-select" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    <option value="volvo">DayShift</option>
                    <option value="saab">NightShift</option>
                    <option value="fiat">GeneralShift</option>

                  </select>
                </div>
                <!-- <label style="color: black;font-size: 13px">Employee Name</label>
                        <input class="form-control form-control-sm " type="text" > -->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Employee Name<i class="fa fa-male"></i></span>
                  </div>
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Expense Name</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Amount</span>
                    <span class="input-group-text" id="basic-addon1">₹</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Check Detalis </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
              <div class="col-sm-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Note<i class="fa fa-sticky-note-o"></i></span>
                  </div>
                  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
              </div>
            </div>
          </div>
          <div>

            <!-- <div class="form-group">
              <input class="form-control " type="text" placeholder="Shift Name">
              </div> -->
              <div class="col-sm-4 offset-5">
                  <button type="button" class="btn btn-success" style="height: 40px;" (click)="SaveExpenses()">Save</button>
                  <button type="button" class="btn btn-danger" style="margin-left:10px;height: 40px;">Cancel</button>
                </div>
          </div>

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>




    <!-- <div class="modal fade" id="ExpenseAdd1" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">     <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title custom_align" id="Heading">Add Detail</h4>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Date<i class="fa fa-calendar"></i></label>
              </div>
              <input type="date" placeholder="Datepicker" class="form-control form-control-sm">
            </div>

    
            <div class="input-group input-group-sm mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
              </div>
              <div class="form-control">
                <select name="Shifttype" class=" form-control  " aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  <option value="volvo">DayShift</option>
                  <option value="saab">NightShift</option>
                  <option value="fiat">GeneralShift</option>

                </select>
              </div>
            </div>
           
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Employee Name <i class="fa fa-male"></i></span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Expense Name</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Amount</span>
                <span class="input-group-text" id="basic-addon1">₹</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
           
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Note <i class="fa fa-sticky-note-o"></i></span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="col-sm-4 offset-4">
              <button type="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            </div>
            
          </div>
         
        </div>
       
      </div>
     
    </div> -->


<!-- 
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
          </div>
          <div class="modal-body">

            <div class="alert alert-danger">
              <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span> No</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $("#mytable #checkall").click(function () {
          if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", true);
            });

          } else {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", false);
            });
          }
        });

        $("[data-toggle=tooltip]").tooltip();
      });
    </script> -->



    </div>