<!-- <div class="pagination"
     *ngIf="count > 0">
  <div class="description">
    <span class="page-counts">{{ getMin() }} - {{ getMax() }} of {{ count }}</span>
    <span class="page-totals">{{ totalPages() }} pages</span>
  </div>
  <div class="numbers">
    <button class="link"
            (click)="onPrev()"
            [disabled]="page === 1 || loading"
            [ngClass]="{ 'disabled': page === 1 || loading }">&lt; Previous</button>

    <button *ngFor="let pageNum of getPages()"
            (click)="onPage(pageNum)"
            [ngClass]="{'active': pageNum === page, 'disabled': loading}">{{ pageNum }}</button>

    <button class="link"
            (click)="onNext(true)"
            [disabled]="lastPage() || loading"
            [ngClass]="{ 'disabled': lastPage() || loading }">Next &gt;</button>
  </div>
</div> -->
<div class="ard">
  <nav>
    <ul class="qn">
      <li class="qp">
        <button class="qo linkButton"
                (click)="onPrev()"
                [ngStyle]="{'cursor':(page === 1 || loading)?'not-allowed':'pointer'}"
                [disabled]="page === 1 || loading"
                style="padding: 0.5rem 0.75rem!important"
                [ngClass]="{ 'disabled': page === 1 || loading }"
                aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="qp"
          [ngClass]="{'active': pageNum === page, 'disabled': loading}"
          *ngFor="let pageNum of getPages()">
        <button class="qo linkButton"
                (click)="onPage(pageNum)"
                [disabled]="loading"
                style="padding: 0.5rem 0.75rem!important">{{pageNum}}
        </button>
      </li>
      <li class="qp">
        <button class="qo linkButton"
                (click)="onNext(true)"
                [ngStyle]="{'cursor':(lastPage() || loading)?'not-allowed':'pointer'}"
                [disabled]="lastPage() || loading"
                style="padding: 0.5rem 0.75rem!important"
                [ngClass]="{ 'disabled':lastPage() || loading }"
                aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>