td:hover{
    color:black;
    background-color:burlywood;
  
  }
  td:focus{
    color:black;
    background-color:rgb(135, 222, 157);
  
  }
  tbody > tr:hover{
      color:blue;
  }.delete{
      color: red;
  }
  .modal-lg {
     max-width: 80%;
     margin-right: -3px;
  }
  .ng-template{
    max-width: 80%;
  }