<div class="bqn">
  <div class="bqo">

    <h4 class="bqp">Shift Allocation</h4>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">
                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="text" [(ngModel)]="search.StartDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Select Date"
                    class="form-control form-control-sm">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="text" [ngModel]="search.EndDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" placeholder="Select Date"
                    class="form-control form-control-sm">
                </div>
              </div>


            </div>


            <div class="row">

              <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">EmployeeName</label>
                  </div>
                  <select [(ngModel)]="shiftallocation.EmployeeName" [ngModelOptions]="{standalone: true}" name="EmployeeName" class="custom-select form-control form-control-sm"
                  id="inputGroupSelect01">
                  <option [ngValue]="null" disabled>--Select--</option>
                  <option *ngFor=" let ename of EmployeeNameMaster " [ngValue]="ename.ID">
                    {{ ename.EmployeeName}}</option>
                </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                  </div>
                  <select [(ngModel)]="shiftallocation.ShiftType" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                    <option [ngValue]="null" disabled>--Select--</option>
                    <option *ngFor=" let stype of shiftMaster" [ngValue]="stype.ID">{{stype.Type}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 offset-3">
                  <!-- <button type="button" style="margin-bottom: 10px;margin-right:5px;" class="btn btn-primary">Search</button> -->
                  <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn" (click)="GetFilterdData()">Search</button>

                  <button type="button" style="margin-bottom: 10px;margin-right:5px;" class="btn btn-light">Reset</button>


                  <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn" (click)="GetList()">Show All</button>

                  <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Shift:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-top: 10px;margin-right:5px;" (click)="SaveShiftAllocation()" class="btn btn-info">Add New</button>


                <button type="button" style="margin-top: 10px;margin-right:5px;background-color:#dc143c;" class="btn">Print</button>


                <button type="button" style="margin-top: 10px" class="btn btn-warning">Export</button>

                <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bop ayg">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="mytable" class="ck table-bordered table-sm table-striped">
          <thead style="color:#fff;background-color: #cc5f61">
            <th>
              <input type="checkbox" id="checkall" />
            </th>

            <th>ID</th>

            <th>EmployeeName</th>
            <th>Shift</th>
            <!-- <th>Note</th> -->
            <th>Nozzel</th>
            <th>Tank</th>
            <th>Opening</th>
            <th>Closing</th>
            <th>TotalSale</th>
            <th>Rate</th>
            <th>ByCash</th>
            <th>CreditCardCash</th>
            <th>DebitCardCash</th>
            <th>TotalAmount</th>
            <!-- <th>GrandTotalSale</th>
            <th>GrandTotalAmount</th> -->
            <th>PumpTesting</th>
            <th>Operation</th>

          </thead>
          <tbody style="color: #000000;" class="table-hover">
            <tr *ngFor="let shiftallocation1 of pagedItems">
              <!--change object for search -->
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>{{shiftallocation1.ID}}</td>
              <td>{{shiftallocation1.EmployeeName}}</td>
              <td>{{shiftallocation.ShiftType}}</td>
              <!-- <td>{{shiftallocation1.Note}}</td> -->
              <td>{{shiftallocation1.Nozzel}}</td>
              <td>{{shiftallocation1.Tank}}</td>
              <td>{{shiftallocation1.Opening}}</td>
              <td>{{shiftallocation1.Closing}}</td>
              <td>{{shiftallocation1.TotalSale}}</td>
              <td>{{shiftallocation1.Rate}}</td>
              <td>{{shiftallocation1.ByCash}}</td>
              <td>{{shiftallocation1.CreditCardCash}}</td>
              <td>{{shiftallocation1.DebitCardCash}}</td>
              <td>{{shiftallocation1.TotalAmt}}</td>
              <!-- <td>{{shiftallocation1.GrandTotalSale}}</td>
              <td>{{shiftallocation1.GrandTotalAmount}}</td> -->
              <td>{{shiftallocation1.PumpTesting}}</td>
              <td>
                <div style="float: left;margin-left: 10px;">
                  <!-- <p (click)=" UpdateShiftAllocationM()" data-title="Edit" class="edit" data-toggle="modal" data-target="#edit">
                    <span class="bv bji iconstyle"></span>
                  </p> -->
                  <p data-title="Edit" class="edit" (click)="UpdateShiftAllocation(shiftallocation1.ShiftAllocationMasterID)">
                    <span class="bv bji iconstyle"></span>
                  </p>
                </div>
                <!-- <div style="float: left;margin-left: 10px;">
                  <p data-title="Delete"  class="delete" (click)="Delete(shiftallocation.ID)">
                    <a>
                      <span class="bv bmx iconstyle2"></span>
                    </a>
                  </p>
                </div> -->
                <!-- <div>
                  <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
                    <a>
                      <i class="fa fa-bars"></i>
                    </a>
                  </p>

                </div> -->
              </td>
            </tr>


          </tbody>

        </table>


        <div class="avv">
          <nav>
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
                  <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
                      <a (click)="setPage(1)" class="qo">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
                      <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
                      <a (click)="setPage(page)"  class="qo">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                      <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                      <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
                  </li>
              </ul>
            <!-- <ul class="qn">
              <li class="qp">
                <a class="qo" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="adp">Previous</span>
                </a>
              </li>
              <li class="qp active">
                <a class="qo" href="#">1</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">2</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">3</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">4</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">5</a>
              </li>
              <li class="qp">
                <a class="qo" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="adp">Next</span>
                </a>
              </li>
            </ul> -->
          </nav>
        </div>

      </div>

    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add New Entry</h4>
    <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <form ngForm="ShiftAllocationForm" #ShiftAllocationForm="ngForm" name="ShiftAllocationForm"> -->
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                    </div>
                    <input type="date" placeholder="Datepicker" name="Date" class="form-control form-control-sm">
                  </div>
                </div>
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                    </div>
                    <select [(ngModel)]="shiftallocation.ShiftType" [ngModelOptions]="{standalone: true}" name="ShiftType" class="custom-select form-control form-control-sm"
                      id="inputGroupSelect01">
                      <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor=" let stype of shiftMaster " [ngValue]="stype.ID"> {{ stype.Type}}</option>
                    </select>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">EmployeeName</span>
                    </div>
                    <select [(ngModel)]="shiftallocation.EmployeeName" [ngModelOptions]="{standalone: true}" name="EmployeeName" class="custom-select form-control form-control-sm"
                      id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option *ngFor=" let ename of EmployeeNameMaster " [ngValue]="ename.ID">
                        {{ ename.EmployeeName}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Notes</span>
                    </div>
                    <input type="text" [(ngModel)]="shiftallocation.Note" name="Note" #Note="ngModel" class="form-control" aria-label="Username"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="bop ayg">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>ID</th>
                        <th>Tank</th>
                        <th>Nozzel </th>
                        <th>Opening</th>
                        <th>Closing</th>
                        <th>TotalSale</th>
                        <th>Rate</th>
                        <th>TotalAmount</th>
                        <th>Cash</th>
                        <th>CreditCard</th>
                        <th>Debit Cash</th>
                        <th>PumpTesting</th>
                        <th>Operation</th>
                      </tr>
                    </thead>
                    <tbody class="text-body">
                      <tr *ngFor="let item of shiftallocationList;let i=index">
                        <td>
                          <input type="number" [ngModel]="item.ID" name="ID" #ID='ngModel' class="form-control form-control-sm" aria-label="Username"
                            aria-describedby="basic-addon1">
                        </td>
                        <td>
                          <select [(ngModel)]="item.Tank" name="Tank" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor=" let ttype of tankmaster" [ngValue]="ttype.ID">{{ttype.Type}}</option>
                          </select>
                        </td>
                        <td>
                          <select [(ngModel)]="item.Nozzel" name="Nozzel" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                            <option [ngValue]="null" disabled>--Select--</option>
                            <option *ngFor=" let ntype of nozzelmaster" [ngValue]="ntype.ID">{{ntype.Type}}</option>
                          </select>
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="item.Opening" style="border: none" name="Opening" class="form-control form-control-sm"
                            aria-label="large" aria-describedby="inputGroup-sizing-lg">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="item.Closing" name="Closing" (change)="SubtractionTotalSale(item, i)" style="border: none"
                            class="form-control form-control-sm" aria-label="large" aria-describedby="inputGroup-sizing-lg">
                        </td>
                        <td>
                          <input type="number" [ngModel]="item.TotalSale" name="Totalsale" style="border: none" class="form-control form-control-sm"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly="true">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="item.Rate" name="Rate" (change)="MultiplicationTotalAmt(item, i)" style="border: none"
                            class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" [ngModel]="item.totalamount" name="TotalAmt" style="border: none" class="form-control form-control-sm" aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm" readonly="true">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="item.ByCash" name="ByCash" (change)="SubstractionCreditCard(item, i)" style="border: none"
                            class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" [ngModel]="item.CreditCardCash" name="CreditCardCash" style="border: none" class="form-control form-control-sm"
                            aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly="true">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="item.DebitCardCash" name="DebitCardCash" style="border: none" class="form-control form-control-sm"
                            aria-label="large" aria-describedby="inputGroup-sizing-lg">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="item.PumpTesting" name="PumpTesting" style="border: none" class="form-control form-control-sm"
                            aria-label="large" aria-describedby="inputGroup-sizing-lg">
                        </td>
                        <td>
                          <button class="form-control">
                            <i class="fa fa-plus" (click)="addrow(this.shiftallocation.shiftallocationList)" name="addrow" style="color:green"></i>
                          </button>
                        </td>

                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">TotalSale</span>
                </div>
                <input type="text" [(ngModel)]="totalsale" name="totalsale" readonly class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">TotalAmount</span>
                </div>
                <input type="text" [(ngModel)]="totalamount" name="totalamount" readonly class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-md-12 offset-5 ">

              <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="SaveShiftAllocation()">Save</button>
              <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="UpdateShiftAllocation()">Update</button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
</ng-template>
