<div class="bqn">
    <div class="bqo">
      <h4 class="bqp">Receive Item Entry</h4>
    </div>
  </div>
  <!-- Search Operation -->
  <div class="container">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-6" style="margin-top: 20px;">
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Receive Type</label>
                    </div>
                    <input type="text" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                  <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn" (click)="GetList()">Show All</button>
                  <button type="button" (click)="openModal(template)" style="margin-bottom: 10px;" class="btn btn-info">Add New</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ly">
    <img *ngIf="ShowLoader" style="margin-left: 40%" src="./assets/img/Loader.gif" />
    <table *ngIf="!ShowLoader" class="ck table-bordered table-sm table-striped" data-sort="table">
      <thead style="color:#fff;background-color: #cc5f61">
        <tr>
          <th>
            <input type="checkbox" id="checkall" />
          </th>
          <th>Recevie ID</th>
          <th>Date</th>
          <th>Recevie Type</th>
          <th>Qty</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody style="color: black;" class="table-hover">
        <tr *ngFor="let item of pagedItems ">
          <td>
            <input type="checkbox" id="checkthis" />
          </td>
          <!-- <td> 1</td>
            <td>
              <img width="60" height="60" [src]="image ? image : defaultImage" />
            </td> -->
          <td style="column-width:auto">{{item.ID}}</td>
          <td>{{item.Date}}</td>
          <td>{{item.TankTypeDes}}</td>
          <td>{{item.Qty}}</td>
          <td>
            <div style="float: left;margin-left: 10px;">
              <p data-title="Edit" class="edit" (click)="openModal(template,item.ID)">
                <span class="bv bji iconstyle"></span>
              </p>
            </div>
            <div style="float: left;margin-left: 10px;">

  <p class="delete" (click)="DeleteReceiveEntry(item.ID)">
                <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p>
            </div>
            <div style="float: left;margin-left: 10px;">
                <p class="print">
                  <a>
                      <i class="fa fa-print"></i>
                  </a>
                </p>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="avv">
      <nav>
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
                  <a (click)="setPage(1)" class="qo">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
                  <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
                  <a (click)="setPage(page)"  class="qo">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                  <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                  <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
              </li>
          </ul>
      </nav>
    </div>
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title">Receive Item</h4>
        <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- popup Form code  -->
        <form ngForm="ReceiveMasterForm" #ReceiveMasterForm="ngForm" name="ReceiveMasterForm">
          <div class="well">
            <div class="row">
              <!-- <div class="col-sm-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Date
                      <i class="fa fa-male"></i>
                    </span>
                  </div>
                  <input type="text" [(ngModel)]="shift.Type" name="ShiftType" #ShiftType="ngModel" class="form-control" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div> -->
              <div class="col-sm-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Date<i class="fa fa-calendar"></i></label>
                  </div>
                  <input type="text" placeholder="{{valuedate | date:'dd/MM/yyyy'}}" [(ngModel)]="shiftentry.Date" name="Date" #Date="ngModel"  bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" class="form-control">
                </div>
                <!-- <label style="color: black ;font-size: 13px">Employee Code</label>
                     <input class="form-control form-control-sm " type="text" > -->
              </div>
              <div class="col-sm-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Item Type
                      <i class="fa fa-male"></i>
                    </span>
                  </div>
                  <select [(ngModel)]="receiveitem.TankType" [ngModelOptions]="{standalone: true}" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                    <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor="let stype of tankmaster" [ngValue]="stype.ID">{{stype.Type}}</option>
                    </select>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Quantity
                      <i class="fa fa-male"></i>
                    </span>
                  </div>
                  <input type="text" [(ngModel)]="receiveitem.Qty" [ngModelOptions]="{standalone: true}" name="Qty" #Qty="ngModel" class="form-control" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 offset-1">
              <div class="row">
                <div class="col-sm-6">
                  <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="SaveReceiveEntry()">Save</button>
                  <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="UpdateReceiveEntry()">Update</button>
                </div>
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" style="height: 40px;">Cancel</button>
              </div>
            </div>
          </div>
        </form>
        <!--End of popup Code-->
      </div>
    </ng-template>
  </div>


