<!-- <div class="bqn">
    <div class="bqo">

        <h6 class="bqp">EntryShift</h6>
    </div>
</div> -->

<!-- <div class="container" style="background-color: gray;border-radius: 5px">
    <div class="row">
        <div class="col-sm-3">
        <label>By Category </label>
</div>

<div class="col-sm-3">
        <select type="input" class="form-control form-control-sm"  ng-model="final_data.info" ng-options="m.id as m.title for m in chartlist" required
        ng-cloak>
        <option selected>Choose...</option>
        <option value="1">FullDay</option>
        <option value="2">HalfDay</option>
        <option value="3">Night</option></select>
        </div>
    </div>
    <br>
    <div class="row">

     <div class="col-sm-3">
        <label>By dates</label>
        </div>
        <div class="col-sm-3">
                <input type="datetime-local"class="form-control form-control-sm" name="Fromtime" style="width:200px;" >
                </div> 
    </div>
    <br>
    <div class="row">
            <div class="col-sm-3">
            <label>value</label>
            </div>
            <div class="col-sm-3">
                   <input type="text" class="form-control form-control-sm" placeholder="Enter value">
                    </div>
        </div>
        <br>
         <div class="row">
                <div class="col-sm-6">
                <button  class="btn btn-primary">SEARCH </button>
                <button  class="btn btn-primary"> RESET</button>
                <button  class="btn btn-primary"> SHOW ALL</button>
                <button type="button"  (click)="CreateShift()" class="btn btn-primary" data-toggle="modal"
                data-target="#Edit">Add New</button>
                </div>
            </div> 
            <br>
</div> -->
<div class="bqn">
        <div class="bqo">
          <h4 class="bqp">Product Sale</h4>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="card text-white bg-secondary mb-3" style="width:100%;">
            <div class="card-body ">
              <div class="row">
                <div class="col-md-6">
      
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                        </div>
                        <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                          <option selected>Choose...</option>
                          <option value="1">ID</option>
                          <option value="2">EmpName</option>
                          <option value="3">Itemtype</option>
                        </select>
                      </div>
      
                    </div>
      
      
                  </div>
      
                  <div class="row">
      
                    <div class="col-sm-6">
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                        </div>
                        <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">To</label>
                        </div>
                        <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                      </div>
                    </div>
      
      
                  </div>
      
      
                  <div class="row">
      
                    <div class="col-md-6">
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Value</label>
                        </div>
                        <input class="form-control form-control-sm" type="text" placeholder="">
      
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                        </div>
                        <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                          <option selected>Choose...</option>
                          <option value="1">DayShift</option>
                          <option value="2">NightShift</option>
                          <option value="3">General</option>
                        </select>
                      </div>
      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 offset-3">
                      <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
      
      
                      <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
      
      
                      <button type="button" style="margin-bottom: 10px;background-color: #f44253"(click)="GetList()" class="btn">Show All</button>
      
                      <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
                    </div>
                  </div>
      
      
                </div>
      
                <div class="col-md-6">
      
                  <div class="card text-white bg-secondary mb-3" style="width:100%;">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-md-6">
                          <label type="text">Overview</label>
                        </div>
                      </div>
                      <div class="row" style="margin-top:18px;">
                        <div class="col-md-7">
                          <label type="text">Total No:0</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 offset-3">
                      <button type="button" style="margin-top: 10px;margin-right: 5px;" (click)="openModal(template)" class="btn btn-primary">New Invoice</button>
      
      
                      <button type="button" style="margin-top: 10px;margin-right: 5px; background-color: #dc143c;" class="btn">Print</button>
      
      
                      <button type="button" style="margin-top: 10px" class="btn btn-warning">Export</button>
      
                      <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bop ayg">
      
      
      
        <div class="row">
      
      
          <div class="col-md-12">
      
            <div class="table-responsive">
      
      
              <table id="mytable" class="table table-bordered table-sm table-striped">
      
                <thead style="color:#fff;background-color: #cc5f61">
      
                  <th>
                    <input type="checkbox" id="checkall" />
                  </th>
      
                  <th>Date</th>
                  <th>ID</th>
                  <th>Employee Name</th>
                  <th>Shift</th>
                  <th>TankType</th>
                  <th>NozzelNo</th>
                  <th>Opening</th>
                  <th>Closing</th>
                  <th>TotalSale</th>
      
                  <th>Cash</th>
                  <th>CreditCard</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th>Print</th>
                </thead>
                <tbody style="color: black;" class="table-hover">
      
                  <tr *ngFor="let item of productsalelist"> 
                    <td>
                      <input type="checkbox" class="checkthis" />
                    </td>
                    <td>1Jan2018</td>
                    <td>1</td>
                    <td>{{item.EmployeeNameDes}}</td>
                    <td>{{item.ShiftTypeDes}}</td>
                    <td>{{item.TankTypeDes}}</td>
                    <td>{{item.NozzelNoDes}}</td>
                    <td>7000ltr</td>
                    <td>6000ltr</td>
                    <td>1000</td>
      
                    <td>500</td>
                    <td>500</td>
                    <td>
                      <p  class="edit" data-title="Edit" (click)="openModal(template,productsale.ID)">
                        <span class="bv bji iconstyle"> Edit</span>
                      </p>
                    </td>
                    <td>
                      <p data-title="Delete" class="delete"(click)="DeleteProductSaleMaster(productsale.ID)">
                        <a>
                          <span class="bv bmx iconstyle2"> Delete</span>
                        </a>
                      </p>
                    </td>
                    <td>s
                      <span>
                        <i class="fa fa-print"></i> Print</span>
                    </td>
                  </tr>
                </tbody>
      
              </table>
              <div class="avv">
                <nav>
                  <ul class="qn">
                    <li class="qp">
                      <a class="qo" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="adp">Previous</span>
                      </a>
                    </li>
                    <li class="qp active">
                      <a class="qo" href="#">1</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">2</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">3</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">4</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">5</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="adp">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
      
          </div>
        </div>
      
      
      
      
        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title">Add Details</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form ngForm="ProductSaleForm" #ProductSaleForm="ngForm" name="ProductSaleForm">
            <div class="container" style="background-color: white;border-radius: 5px">

              <div class="row">
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">EmpName</span>
                    </div>
                    <select  [(ngModel)]="productsale.EmployeeName" class="custom-select form-control form-control-sm" [ngModelOptions]="{standalone: true}" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <!-- <option *ngFor="let item in employee" [ngValue]="item.ID">
                        {{item.EmployeeName}}
                      </option> -->
                      <option *ngFor="let name of employee" [ngValue]="name.ID">
                        {{name.EmployeeName}}
                      </option>
      
                    </select>
                  </div>
                </div>
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                    </div>
                    <select [(ngModel)]="productsale.ShiftType" [ngModelOptions]="{standalone: true}" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option *ngFor="let item of shiftmaster" [ngValue]="item.ID">
                          {{item.Type}}</option>
                    </select>
                  </div>
                  <!-- <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                              <label class="input-group-text" for="inputGroupSelect01">Shift</label>
                                                            </div>
                                                            <select class="custom-select" id="inputGroupSelect01">
                                                              <option selected>Choose...</option>
                                                              <option value="1">DayShift</option>
                                                              <option value="2">NightShift</option>
                                                              <option value="3">General</option>
                                                            </select>
                                                          </div> -->
                </div>
              </div>
              <!-- <br> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Tank Type</span>
                    </div>
                    <select [(ngModel)]="productsale.TankType" [ngModelOptions]="{standalone: true}" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option *ngFor="let item of tankmaster" [ngValue]="item.ID">
                            {{item.Type}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">NozzelNo</span>
                    </div>
                    <select [(ngModel)]="productsale.NozzelNo" [ngModelOptions]="{standalone: true}" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option *ngFor="let item of nozzelMaster" [ngValue]="item.ID">
                          {{item.Type}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <br> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Notes</span>
                    </div>
                    <input type="text" [(ngModel)]="productsale.Notes" [ngModelOptions]="{standalone: true}" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
              </div>
      
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>Openingqty</th>
                        <th>ClosingQty</th>
                        <th>TotalSale</th>
                        <th>Cash</th>
                        <th>CreditCard</th>
      
                        <th>Total</th>
                        <th>Operation</th>
                      </tr>
                    </thead>
                    <tbody class="text-body">
                      <tr>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          <!-- <select id="inputGroupSelect01" style="border: none">
                                                                <option selected>Choose...</option>
                                                                <option value="1">Tank HSD</option>
                                                                <option value="2">Tank MS</option>
                                                                <option value="3">Tank Oil</option>
                                                            </select> -->
                        </td>
      
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <button type="button" style="border: none;border-radius: 5px">Remove</button>
                        </td>
      
                      </tr>
                      <tr>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          <!-- <select id="inputGroupSelect01" style="border: none">
                                                                <option selected>Choose...</option>
                                                                <option value="1">DayShift</option>
                                                                <option value="2">NightShift</option>
                                                                <option value="3">General</option>
                                                            </select> -->
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
      
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <button type="button" style="border: none;border-radius: 5px">Remove</button>
                        </td>
                      </tr>
      
                    </tbody>
                  </table>
                  <div class="avv">
                    <nav>
                      <ul class="qn">
                        <li class="qp">
                          <a class="qo" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="adp">Previous</span>
                          </a>
                        </li>
                        <li class="qp active">
                          <a class="qo" href="#">1</a>
                        </li>
                        <li class="qp">
                          <a class="qo" href="#">2</a>
                        </li>
                        <li class="qp">
                          <a class="qo" href="#">3</a>
                        </li>
                        <li class="qp">
                          <a class="qo" href="#">4</a>
                        </li>
                        <li class="qp">
                          <a class="qo" href="#">5</a>
                        </li>
                        <li class="qp">
                          <a class="qo" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="adp">Next</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
      
      
               
              </div>
              <div class="col-sm-12 offset-5 ">
                <!-- <button type="button" class="btn btn-warning" (click)="SaveProductSaleMaster()" >
                  <span class="glyphicon glyphicon-ok-sign"></span>SAVE</button>
       -->
       <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="ProductSaleForm.valid?SaveProductSaleMaster():submitted=true">Save</button>
       <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="ProductSaleForm.valid?UpdateProductSaleMaster():submitted=true">Update</button>
       <button type="button" class="btn btn-danger" (click)="modalRef.hide()" style="margin-left:10px;height: 40px;">Cancel</button>
    
              </div>
            </div>
      
            
          </form>
          </div>
      
        </ng-template>
      
      
      
      
      
       
      