<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Employee Salary</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <input type="text" placeholder="" class="form-control form-control-sm"> </div>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="input-group input-with-icon input-group-sm mb-3">
                  <div class="input-group-prepend">

                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>

                  </div>

                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                  class="form-control" placeholder="Date">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="icon icon-calendar"></span>
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                  class="form-control" placeholder="Date">
                </div>
              </div>

            </div>

            
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>

                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>

                <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn" (click)="GetList()">Show All</button>

                <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-top: 10px;margin-right: 5px;" (click)="openModal(template)" class="btn btn-info"> Create Salary</button>

                <button type="button" style="margin-top: 10px;background-color: #dc143c;margin-right: 5px;" class="btn" (click)="pdffile()">Print</button>
                <!-- <button type="button" style="background-color: #f44253" class="btn" (click)="pdffile()">Print</button> -->

                <button type="button" style="margin-top: 10px" class="btn btn-warning">Export</button>

                <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bop ayg">

    </div>
  </div>

  <div class="row">


    <div class="table-responsive">

      <table id="mytable" class="ck table-bordered table-sm table-striped">

        <thead style="color:#fff;background-color: #cc5f61">
          <tr>
            <th>
              <input type="checkbox" id="checkall" />
            </th>

            <th>ID</th>
            <!-- <th>Date</th>
            <th>EmployeeID</th> -->
            <th>Employee Name</th>
            <th>Department</th>
            <th>Available Day</th>
            <th>Paid Day</th>
            <th>Rate </th>
           
            <th>Bonus</th>
            <th>Salary</th>
            <th>Total</th>
            <!-- <th>Note</th> -->
            <th>Operation</th>
          </tr>
        </thead>
        <tbody style="color: black;" class="table-hover">

          <tr *ngFor="let employeeSalary of pagedItems;let i=index ">
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>{{employeeSalary.ID}}</td>
            <!-- <td>{{employeeSalary.Date}}</td>
            <td>{{employeeSalary.EmployeeID}}</td> -->
            <td>{{employeeSalary.EmployeeNameDes}}</td>
            <td>{{employeeSalary.DepartmentDes}}</td>
            <td>{{employeeSalary.AvailableDays}}</td>
            <td>{{employeeSalary.PaidDays}}</td>
            <td>{{employeeSalary.Rate}}</td>
            <td>{{employeeSalary.Bonus}}</td>
            <td>{{employeeSalary.Salary}}</td>
            <td>{{employeeSalary.Total}}</td>
            <td>
              <div style="float: left;margin-left: 10px;">
                <p data-title="Edit" class="edit" (click)="openModal(template,employeeSalary.ID)">
                  <span class="bv bji iconstyle"></span>
                </p>
              </div>
              <div style="float: left;margin-left: 10px;">
                <p class="delete" (click)="DeleteEmployeeSalary(employeeSalary.ID)">
                  <a>
                    <span class="bv bmx iconstyle2"></span>
                  </a>
                </p>
              </div>
              <div style="float: left;margin-left: 10px;">
                  <p class="print">
                    <a>
                        <i class="fa fa-print"></i>
                    </a>
                  </p>
                </div>
              
            </td>




          </tr>

        </tbody>

      </table>

      <div class="avv">
        <div class="avv">
          <nav>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
                <a (click)="setPage(1)" class="qo">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
                <a (click)="setPage(pager.currentPage - 1)" class="qo">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="qp">
                <a (click)="setPage(page)" class="qo">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
                <a (click)="setPage(pager.currentPage + 1)" class="qo">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
                <a (click)="setPage(pager.totalPages)" class="qo">Last</a>
              </li>
            </ul>
            <!-- <ul class="qn">
                    <li class="qp">
                      <a class="qo" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="adp">Previous</span>
                      </a>
                    </li>
                    <li class="qp active">
                      <a class="qo" href="#">1</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">2</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">3</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">4</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#">5</a>
                    </li>
                    <li class="qp">
                      <a class="qo" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="adp">Next</span>
                      </a>
                    </li>
                  </ul> -->
          </nav>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="row ">
  <div class="col-md-12">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title">Save Salary Details</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ngForm="EmployeeSalaryForm" #EmployeeSalaryForm="ngForm" name="EmployeeSalaryForm">
          <div class="container" style="background-color: white;border-radius: 5px">
            <div class="row">
              <!-- <div class=col-md-4>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" [(ngModel)]="employeeSalary.Date" name="EmpSalaryDate"
                    #EmpSalaryDate="ngModel" class="form-control" placeholder="Date">
                </div>
              </div> -->
              <!-- <br> -->
              <!-- <div class="col-md-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">EmpID</span>
                      </div>
                      <select [(ngModel)]="employeeSalary.EmployeeID" name="empID" #empID="ngModel" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                          <option *ngFor="let item of employeeList" [ngValue]="item.ID">
                              {{item.ID}}
                      </select>
                    </div>
                  </div> -->
              <div class="col-md-8">
                <div class="input-group input-group-sm mb-3" [class.has-error]="employeeSalary.touched && employeeSalary.invalid">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Employee Name</span>
                  </div>
                  <select [(ngModel)]="employeeSalary.EmployeeName" name="empName" #empName="ngModel" class="custom-select form-control form-control-sm"
                    id="inputGroupSelect01" required>
                    <option [ngValue]="null" disabled>--Select--</option>
                    <option *ngFor="let item of employeeList" [ngValue]="item.ID">
                      {{item.EmployeeName}}
                  </select>
                  
                </div>
                <div class="validation-error has-block" *ngIf="empName.touched && empName.invalid">
                    Emplyoee Name is required
                   
                  </div>

              </div>

              <div class="col-md-4">
                <div class="input-group input-group-sm mb-3" [class.has-error]="employeeSalary.touched && employeeSalary.invalid">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Department</span>
                  </div>
                  <select [(ngModel)]="employeeSalary.Dapartment" name="Dapartment" #Dapartment="ngModel" class="custom-select form-control form-control-sm"
                    id="inputGroupSelect01" required>
                    <option [ngValue]="null" disabled>--Select--</option>
                    <option *ngFor="let item of deptList" [ngValue]="item.ID">
                      {{item.Type}}
                  </select>
                </div>
                <div class="validation-error has-block" *ngIf="Dapartment.touched && Dapartment.invalid">
                    <span *ngIf="Dapartment.errors?.required">Department is required</span>
                   
                  </div>
              </div>

              <div class="col-md-4">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Available Days</span>
                  </div>
                  <input type="number" [(ngModel)]="employeeSalary.AvailableDays" name="AvailableDays" #AvailableDays="ngModel" class="form-control" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm" pattern='[0-9]+' required>

                </div>
                <div class="validation-error" *ngIf="AvailableDays.invalid&&(AvailableDays.dirty||submitted)">
                    <span *ngIf="AvailableDays.errors?.required">AvailableDays is required</span>
                    <span *ngIf="AvailableDays.errors?.pattern">AvailableDays is a digit</span>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Paid Day</span>
                  </div>
                  <input type="number" [(ngModel)]="employeeSalary.PaidDays" name="PaidDays" #PaidDays="ngModel" class="form-control" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm" required pattern="[0-9]+">

                </div>
                <div class="validation-error" *ngIf="PaidDays.invalid&&(PaidDays.dirty||submitted)">
                    <span *ngIf="PaidDays.errors?.required">Paid Day is required</span>
                    <span *ngIf="PaidDays.errors?.pattern">Paid Day is a digit</span>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Rate</span>
                  </div>
                  <input type="number" [(ngModel)]="employeeSalary.Rate" name="Rate" #Rate="ngModel" class="form-control" aria-label="Small" (change)="salarycal()"
                    aria-describedby="inputGroup-sizing-sm">


                </div>
                <div class="validation-error" *ngIf="Rate.invalid&&(Rate.dirty||submitted)">
                    <span *ngIf="Rate.errors?.required">Rate is required</span>
                    <span *ngIf="Rate.errors?.pattern">Rate is a digit</span>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Salary</span>
                  </div>
                  <input type="number" [(ngModel)]="employeeSalary.Salary" name="Salary" #Salary="ngModel" class="form-control" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm" readonly>

                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Bonus</span>
                  </div>
                  <!-- <input type="text" [(ngModel)]="employeeSalary.Bonus" name="Bonus" #Bonus="ngModel" class="form-control" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm" (change)="totalsal()"> -->
                    <input type="number" [(ngModel)]="employeeSalary.Bonus" name="Bonus" #Bonus="ngModel" class="form-control" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm" (change)="totalsal()" required pattern="[0-9]+">
                </div>
                <div class="validation-error" *ngIf="Bonus.invalid&&(Bonus.dirty||submitted)">
                    <span *ngIf="Bonus.errors?.required">Bonus is required</span>
                    <span *ngIf="Bonus.errors?.pattern">Bonus is a digit</span>
                  </div>
               
              </div>
              <div class="col-md-4">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Total</span>
                  </div>
                  <input type="number" [(ngModel)]="employeeSalary.Total" name="Total" #Total="ngModel" class="form-control" aria-label="Small"
                    aria-describedby="inputGroup-sizing-sm" readonly >

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 offset-5">
                <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="EmployeeSalaryForm.valid?SaveEmployeeSalary():submitted=true">Save</button>
                <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="EmployeeSalaryForm.valid?UpdateEmployeeSalary():submitted=true">Update</button>
                <!-- <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button> -->
                <button type="button" class="btn btn-danger" (click)="modalRef.hide()" style="margin-left:10px;height: 40px;">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
