<div class="alert-box">
 
  <div class="modal-header">
               <div class="icon-box">
                   <i class="material-icons" (click)="onCancel()">&#xE5CD;</i>
               </div>                
               <h4 class="modal-title">Are you sure?</h4>    
              <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
    </div>
    <div class="modal-body">
        <p style="color:black ; font-size: 15px">Do you really want to delete these records?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-info"style="margin-right: 40px;" data-dismiss="modal"(click)="onCancel()">Cancel</button>
          <!-- <button type="button" class="btn btn-danger">Delete</button> -->
          <button type="button" class="btn btn-danger" (click)="onConfirm()">
              <span class="glyphicon glyphicon-ok-sign"></span>Delete</button>
        </div>
  
<!-- <div class="modal-header">
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-hidden="true">
    <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span>
  </button>
  <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
</div>
<div class="modal-body">

  <div class="alert alert-danger">
    <span class="glyphicon glyphicon-warning-sign"></span> {{message}}</div>

</div>
<div class="modal-footer ">
  <button type="button" class="btn btn-success" (click)="onConfirm()">
    <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
  <button type="button" class="btn btn-default" (click)="onCancel()">
    <span class="glyphicon glyphicon-remove"></span> No</button>
</div> -->
</div>