<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Employee Salary</h4>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">ID</option>
                    <option value="2">Name</option>
                    <option value="3">Itemtype</option>
                  </select>
                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="input-group input-with-icon input-group-sm mb-3">
                  <div class="input-group-prepend">
                      
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
            
                  </div>
                  
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                      <span class="icon icon-calendar"></span>
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  
                </div>
              </div>


            </div>


            <div class="row">

              <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Value</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">

                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                  </div>
                  <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">DayShift</option>
                    <option value="2">NightShift</option>
                    <option value="3">General</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;" class="btn btn-primary">Search</button>


                <button type="button" style="margin-bottom: 10px;" class="btn btn-light">Reset</button>


                <button type="button" style="margin-bottom: 10px" class="btn btn-dark">Show All</button>

                <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
              </div>
            </div>


          </div>

          <div class="col-md-6">

            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-top: 10px;margin-right: 5px;" data-toggle="modal" data-target="#myModal" class="btn btn-info"> Create Salary</button>


                <button type="button" style="margin-top: 10px;background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>


                <button type="button" style="margin-top: 10px" class="btn btn-warning">Export</button>

                <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bop ayg">

    </div>
  </div>

  <div class="row">



    <div class="table-responsive">


      <table id="mytable" class="table table-bordred table-sm table-striped">

        <thead style="color:#fff;background-color: #cc5f61">
          <tr>
          <th>
            <input type="checkbox" id="checkall" />
          </th>

          <th>ID</th>
          <th>EmpName</th>
          <th>Department</th>
          <th>DateOfJoin</th>
          <th>AvailableDays</th>
          <th>PaidDays </th>
          <th>OT.hrs </th>
          <th>Rate/Day</th>
          <th>OT/Rate</th>
          <th>GST</th>
          <th>PF</th>
          <th>Others</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody style="color: black;" class="table-hover">

          <tr>
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>1001</td>
            <td>Ram Naik</td>
            <td>Account</td>
            <td>1Jan 2018</td>
            <td>28</td>
            <td>24</td>
            <td>15hrs</td>
            <td>200</td>
            <td>150</td>
            <td>18%</td>
            <td>1000</td>
            <td>1000</td>
            <td>7000</td>


            <!-- <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                                            <p (click)="EditShift()" data-title="Edit" data-toggle="modal" data-target="#edit">
                                                <span class="bv bji iconstyle"></span>
                                            </p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <p data-title="Delete" data-toggle="modal" data-target="#delete">
                                                <a>
                                                    <span class="bv bmx iconstyle2"></span>
                                                </a>
                                            </p>
                                    </td> -->
          </tr>

          <tr>
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>1001</td>
            <td>Ram Naik</td>
            <td>Account</td>
            <td>1Jan 2018</td>
            <td>28</td>
            <td>24</td>
            <td>15hrs</td>
            <td>200</td>
            <td>150</td>
            <td>18%</td>
            <td>1000</td>
            <td>1000</td>
            <td>7000</td>

            <!-- <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                                            <p (click)="EditShift()" data-title="Edit" data-toggle="modal" data-target="#edit">
                                                <span class="bv bji iconstyle"></span>
                                            </p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <p data-title="Delete" data-toggle="modal" data-target="#delete">
                                                <a>
                                                    <span class="bv bmx iconstyle2"></span>
                                                </a>
                                            </p>
                                    </td> -->
          </tr>


          <tr>
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>1001</td>
            <td>Ram Naik</td>
            <td>Account</td>
            <td>1Jan 2018</td>
            <td>28</td>
            <td>24</td>
            <td>15hrs</td>
            <td>200</td>
            <td>150</td>
            <td>18%</td>
            <td>1000</td>
            <td>1000</td>
            <td>7000</td>
            <!-- <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                                            <p (click)="EditShift()" data-title="Edit" data-toggle="modal" data-target="#edit">
                                                <span class="bv bji iconstyle"></span>
                                            </p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <p data-title="Delete" data-toggle="modal" data-target="#delete">
                                                <a>
                                                    <span class="bv bmx iconstyle2"></span>
                                                </a>
                                            </p>
                                    </td> -->
          </tr>



          <tr>
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>1001</td>
            <td>Ram Naik</td>
            <td>Account</td>
            <td>1Jan 2018</td>
            <td>28</td>
            <td>24</td>
            <td>15hrs</td>
            <td>200</td>
            <td>150</td>
            <td>18%</td>
            <td>1000</td>
            <td>1000</td>
            <td>7000</td>
            <!-- <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                                            <p (click)="EditShift()" data-title="Edit" data-toggle="modal" data-target="#edit">
                                                <span class="bv bji iconstyle"></span>
                                            </p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <p data-title="Delete" data-toggle="modal" data-target="#delete">
                                                <a>
                                                    <span class="bv bmx iconstyle2"></span>
                                                </a>
                                            </p>
                                    </td> -->
          </tr>
        </tbody>

      </table>

      <div class="avv">
          <nav>
            <ul class="qn">
              <li class="qp">
                <a class="qo" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="adp">Previous</span>
                </a>
              </li>
              <li class="qp active">
                <a class="qo" href="#">1</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">2</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">3</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">4</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">5</a>
              </li>
              <li class="qp">
                <a class="qo" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="adp">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
    </div>

  </div>
</div>




<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class=" modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit New Entry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="background-color: white;border-radius: 5px">
          <div class="row">
            <div class=col-md-6>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                </div>
                <input type="date" placeholder="Datepicker" class="form-control form-control-sm">
              </div>
            </div>
            <div class=col-md-6>
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                </div>
                <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">DayShift</option>
                  <option value="2">NightShift</option>
                  <option value="3">General</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <br> -->
          <div class="row">
            <div class="col-md-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">EmployeeName</span>
                </div>
                <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                  <option selected>Choose...</option>
                  <option value="1">Amit Kumar</option>
                  <option value="2">Neha Kumar</option>
                  <option value="3">Neha Pawar</option>
                </select>
              </div>
            </div>
          </div>
          <!-- <br> -->
          <div class="row">
            <div class="col-md-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Notes</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Tank</th>
                    <th>Nozzel</th>
                    <th>Oppening</th>
                    <th>Closing</th>
                    <th>TotalSale</th>
                    <th>Rate</th>
                    <th>TotalAmount</th>
                    <th>Cash</th>
                    <th>CreditCard</th>
                    <th>Operation</th>
                  </tr>
                </thead>
                <tbody class="text-body">
                  <tr>
                    <td>
                      <select id="inputGroupSelect01" style="border: none">
                        <option selected>Choose...</option>
                        <option value="1">Tank HSD</option>
                        <option value="2">Tank MS</option>
                        <option value="3">Tank Oil</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <button type="button" style="border: none;border-radius: 5px">Remove</button>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <select id="inputGroupSelect01" style="border: none">
                        <option selected>Choose...</option>
                        <option value="1">DayShift</option>
                        <option value="2">NightShift</option>
                        <option value="3">General</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </td>
                    <td>
                      <button type="button" style="border: none;border-radius: 5px">Remove</button>
                    </td>
                  </tr>

                </tbody>
              </table>
              <div class="clearfix"></div>
              <ul class="pagination pull-right">
                <li class="disabled">
                  <a href="#">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                </li>
                <li class="active">
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">4</a>
                </li>
                <li>
                  <a href="#">5</a>
                </li>
                <li>
                  <a href="#">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">TotalSale</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">TotalAmount</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
            <span class="glyphicon glyphicon-ok-sign"></span>Update</button>
        </div>

      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-content -->
</div>
<div class="row ">
  <div class="col-md-12">

    <div class="modal" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Save Salary Details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container" style="background-color: white;border-radius: 5px">
              <div class="row">
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                    </div>
                    <input type="date" placeholder="Datepicker" class="form-control form-control-sm">
                  </div>
                </div>
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Department</span>
                    </div>
                    <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">Account</option>
                      <option value="2">Balance</option>
                      <option value="3">Others</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <br> -->
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">EmpID</span>
                    </div>
                    <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">1001</option>
                      <option value="2">1002</option>
                      <option value="3">1003</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">EmpName</span>
                    </div>
                    <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">Amit Kumar</option>
                      <option value="2">Neha Kumar</option>
                      <option value="3">Neha Pawar</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <br> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Notes</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>AvailableDays</th>
                        <th>PaidDays</th>
                        <th>OThrs</th>
                        <th>Rate/Day</th>
                        <th>OT/Rate</th>
                        <th>GST</th>
                        <th>PF</th>
                        <th>Others</th>
                        <th>Total</th>
                        <th>Operation</th>
                      </tr>
                    </thead>
                    <tbody class="text-body">
                      <tr>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <button type="button" style="border: none;border-radius: 5px">Remove</button>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </td>
                        <td>
                          <button type="button" style="border: none;border-radius: 5px">Remove</button>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <div class="clearfix"></div>
                  <ul class="pagination pull-right">
                    <li class="disabled">
                      <a href="#">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                    </li>
                    <li class="active">
                      <a href="#">1</a>
                    </li>
                    <li>
                      <a href="#">2</a>
                    </li>
                    <li>
                      <a href="#">3</a>
                    </li>
                    <li>
                      <a href="#">4</a>
                    </li>
                    <li>
                      <a href="#">5</a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-4 offset-5">
                <button type="button" class="btn btn-success" style="height: 40px;" (click)="btnSave()">Save</button>
                <button type="button" class="btn btn-danger" style="margin-left:10px;height: 40px;">Cancel</button>
              </div>



            </div>
            <!-- <div class="modal-footer ">
              <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
                <span class="glyphicon glyphicon-ok-sign"></span>SAVE</button>
              <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
                <span class="glyphicon glyphicon-ok-sign"></span>PRINT</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#mytable #checkall").click(function () {
      if ($("#mytable #checkall").is(':checked')) {
        $("#mytable input[type=checkbox]").each(function () {
          $(this).prop("checked", true);
        });

      } else {
        $("#mytable input[type=checkbox]").each(function () {
          $(this).prop("checked", false);
        });
      }
    });

    $("[data-toggle=tooltip]").tooltip();
  });
</script>