<div class="bqn">
    <div class="bqo">
      <h4 class="bqp">ReceivedPurchaseOrder</h4>
    </div>
  </div>
  <div class="container">
  
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row" style="margin-top:35px;">
          <div class="col-md-6">
  
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <input type="text" placeholder="" class="form-control form-control-sm">

                </div>
              </div>
  
  
            </div>
  
            <div class="row" >
  
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                </div>
              </div>
  
  
            </div>
  
  
           
            <div class="row" style="margin-top:45px;">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
  
  
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
  
  
                <button type="button" style="margin-bottom: 10px" class="btn btn-dark">Show All</button>
  
  
              </div>
            </div>
  
  
          </div>
  
          <div class="col-md-6">
  
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-md-12 offset-3">
                <!-- <button type="button"  (click)="NewBill()" style="margin-bottom: 10px;" class="btn btn-primary">New Bill</button> -->
                <button type="button" style="margin-right: 5px;margin-bottom: 10px;" data-toggle="modal" data-target="#edit"class="btn btn-info">Add</button>
                <button type="button" style="margin-bottom: 10px;background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>
                <button type="button" style="margin-bottom: 10px;" class="btn btn-warning">Export</button>
  
  
              </div>
            </div>
  
          </div>
  
        </div>
  
  
  
  
  
      </div>
    </div>
  </div>
  </div>
  
  
  <div class="ly">
    <table class="ck table-bordered table-sm table-striped" data-sort="table">
      <thead style="color:#fff;background-color: #cc5f61">
        <tr>
          <th>
            <input type="checkbox" class="bsn" id="selectAll">
          </th>
          
          <th>Date</th>
          <th>ID</th>
          <th>DriverName</th>
          <th>VehicleNo.</th>
          <th>ProductType</th>
          <th>Qty</th>
          <th>Operation</th>
          
          
          
        </tr>
      </thead>
      <tbody style="color: black;" class="table-hover">
        <tr>
          <td>
            <input type="checkbox" class="bsn" id="selectAll">
          </td>
  
  
          <td>1 Jan 2017</td>
          <td>1</td>
          <td>Nitesh Pande</td>
          <td>MH-12BP4891</td>
          <td>Petrol</td>
          <td>1000ltr</td>
         
          <td>
           
              <!-- <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
                <span class="bv bji iconstyle"></span>
              </p>
          
            
              <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
                <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p> -->
              <div style="float: left;margin-left: 10px;">
                  <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
                         <span class="bv bji iconstyle"></span>
                  </p>
                </div>
                <div style="float: left;margin-left: 10px;">
                    <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
                        <a>
                      <span class="bv bmx iconstyle2"></span>
                    </a>
                  </p>
                </div>
                <div>
                    <p data-title ="Delete" class="delete" data-toggle="modal" data-target="#delete">
                        <a>
                              <i class="fa fa-bars" ></i>
                        </a>
                      </p>
        
                </div>
          </td>
  
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="bsn" id="selectAll">
          </td>
          <td>18 Jan 2017</td>
          <td>2</td>
          <td>Nitesh Pande</td>
          <td>MH-12BP4891</td>
          <td>Petrol</td>
          <td>1000ltr</td>
          <td>
              <div style="float: left;margin-left: 10px;">
                  <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
                         <span class="bv bji iconstyle"></span>
                  </p>
                </div>
                <div style="float: left;margin-left: 10px;">
                    <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
                        <a>
                      <span class="bv bmx iconstyle2"></span>
                    </a>
                  </p>
                </div>
                <div>
                    <p data-title ="Delete" class="delete" data-toggle="modal" data-target="#delete">
                        <a>
                              <i class="fa fa-bars" ></i>
                        </a>
                      </p>
        
                </div>
          </td>
  
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="bsn" id="selectAll">
          </td>
          <td>20 Jan 2017</td>
          <td>3</td>
          <td>Nitesh Pande</td>
          <td>MH-12BP4891</td>
          <td>Petrol</td>
          <td>1000ltr</td>
          <td><div style="float: left;margin-left: 10px;">
              <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
                     <span class="bv bji iconstyle"></span>
              </p>
            </div>
            <div style="float: left;margin-left: 10px;">
                <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
                    <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p>
            </div>
            <div>
                <p data-title ="Delete" class="delete" data-toggle="modal" data-target="#delete">
                    <a>
                          <i class="fa fa-bars" ></i>
                    </a>
                  </p>
    
            </div>
          </td>
  
        </tr>
        <tr>
          <td>
            <input type="checkbox" class="bsn" id="selectAll">
          </td>
          <td>30 Jan 2017</td>
          <td>4</td>
          <td>Nitesh Pande</td>
          <td>MH-12BP4891</td>
          <td>Petrol</td>
          <td>1000ltr</td>
          <td>
              <div style="float: left;margin-left: 10px;">
                  <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
                         <span class="bv bji iconstyle"></span>
                  </p>
                </div>
                <div style="float: left;margin-left: 10px;">
                    <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
                        <a>
                      <span class="bv bmx iconstyle2"></span>
                    </a>
                  </p>
                </div>
                <div>
                    <p data-title ="Delete" class="delete" data-toggle="modal" data-target="#delete">
                        <a>
                              <i class="fa fa-bars" ></i>
                        </a>
                      </p>
        
                </div>
          </td>
  
        </tr>
  
  
      </tbody>
  
    </table>
    
  <div class="avv">
      <nav>
        <ul class="qn">
          <li class="qp">
            <a class="qo" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="adp">Previous</span>
            </a>
          </li>
          <li class="qp active">
            <a class="qo" href="#">1</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">2</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">3</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">4</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">5</a>
          </li>
          <li class="qp">
            <a class="qo" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="adp">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- <div *ngIf="showError" style="margin-bottom: 10px" class="alert-danger">
    {{errMessage}}
  </div> -->
  
  
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
        </div>
        <div class="modal-body">
  
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
  
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Received order</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-md-12">
                     <div class="row">
                       <div class="col-md-6">
                          <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Date</label>
                              </div>
                              <input class="form-control form-control-sm" type="Date" placeholder="">
              
                            </div>
                         </div>
                         <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">ID</label>
                                </div>
                                <input class="form-control form-control-sm" type="text" placeholder="">
                
                              </div>
                           </div>
                       </div>
                       <div class="row">
                          <div class="col-md-6">
                              <div class="input-group input-group-sm mb-3">
                                  <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Driver Name</label>
                                  </div>
                                  <input class="form-control form-control-sm" type="text" placeholder="">
                  
                                </div>
                             </div>
                             <div class="col-md-6">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Vehicle No</label>
                                    </div>
                                    <input class="form-control form-control-sm" type="text" placeholder="">
                    
                                  </div>
                               </div>
                         </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Product Type</label>
                                    </div>
                                    <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="1">HSD</option>
                                        <option value="2">MS</option>
                                        <option value="2">Oil</option>
                                      </select>                    
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="input-group input-group-sm mb-3">
                                      <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Quantity</label>
                                      </div>
                                      <input class="form-control form-control-sm" type="text" placeholder="">
                      
                                    </div>
                                 </div>
                           </div>
                           <div class="row">
                           <div class="col-md-12 offset-5 ">
                              <button type="button" class="btn btn-warning">
                                <span class="glyphicon glyphicon-ok-sign"></span> ADD</button>
                                <button type="button" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-ok-sign"></span> Cancel</button>
                            </div>
                           
                            </div>
                      
                      
  
                      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              </button>
                              <h5 class="modal-title custom_align" id="Heading">Edit Your Detail</h5>
                            </div>
                            <div class="modal-body">
                              <div class="form-group">
                                <input class="form-control " type="text" placeholder="Shift Name">
                              </div>
                              <div class="form-group">
  
                                <input class="form-control " type="text" placeholder="shift code">
                              </div>
                              <div class="form-group">
                                <textarea rows="2" class="form-control" placeholder="Shift Start"></textarea>
  
                              </div>
                              <div class="form-group">
                                <textarea rows="2" class="form-control" placeholder="Shift End"></textarea>
  
                              </div>
                            </div>
                            <div class="modal-footer ">
                              <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
                                <span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
  
  
                      <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              </button>
                              <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                            </div>
                            <div class="modal-body">
  
                              <div class="alert alert-danger">
                                <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
  
                            </div>
                            <div class="modal-footer ">
                              <button type="button" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">
                                <span class="glyphicon glyphicon-remove"></span> No</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <script>
                        $(document).ready(function () {
                          $("#mytable #checkall").click(function () {
                            if ($("#mytable #checkall").is(':checked')) {
                              $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", true);
                              });
  
                            } else {
                              $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", false);
                              });
                            }
                          });
  
                          $("[data-toggle=tooltip]").tooltip();
                        });
                      </script>
  
  
                    
  
                  </div>
  
  
                </div>
  
              </div>
            </div>
  
  
  
          </div>
        </div>
      </div>
    </div>
  
  <script>
    $(document).ready(function () {
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
          $("#mytable input[type=checkbox]").each(function () {
            $(this).prop("checked", true);
          });
  
        } else {
          $("#mytable input[type=checkbox]").each(function () {
            $(this).prop("checked", false);
          });
        }
      });
  
      $("[data-toggle=tooltip]").tooltip();
    });
  </script>