<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Employee List</h4>
  </div>
</div>
<!-- Search Operation -->
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <form #employeeForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                    </div>
                    <input class="form-control form-control-sm" id="Category" [(ngModel)]="Category" type="text" placeholder="" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Code</label>
                    </div>
                    <input type="text" placeholder="" class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Role</label>
                    </div>
                    <select [(ngModel)]="employee.UserRole" #UserRole="ngModel" name="UserRole" class="form-control" [ngModelOptions]="{standalone: true}"
                      required autocomplete="off">
                      <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor="let item of departmaster" [ngValue]="item.ID">
                        {{item.Type}}
                      </option>
                    </select>
                  </div>
                </div>

                <!-- <div class="col-sm-6  form-group">
                  <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
                </div> -->
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Employee Name</label>
                    </div>
                    <input class="form-control form-control-sm" id="inputName" [(ngModel)]="inputName" type="text" placeholder="" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 offset-3">
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary"> Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light" (click)="resetForm(employeeForm)">  Reset</button>
                  <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn buttonload" (click)="GetList()"> Show All</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <!-- <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div> -->
              </div>
              <div class="row ">
                <div class="col-sm-12">
                  <div *ngIf="edited" class="alert alert-success popover" role="alert">
                    <strong>List Saved!</strong> Your changes has been saved.
                  </div>
                  <div class="col-md-12 offset-3">
                    <button type="button" (click)="openModal(template)" class="btn btn-info" style="margin-top:130px;">+ Add Employee</button>

                  </div>
                </div>
              </div>

            </div>
     

        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- <div class="dbtable">
  <ag-grid-angular style="width:1000px; height:550px;" class="ag-theme-material" [columnDefs]="columnDefs" [enableSorting]="true"
    [enableFilter]="true" [animateRows]="true" [pagination]="true" [sortingOrder]="sortingOrder" (gridReady)="onGridReady($event)"></ag-grid-angular>
  </div> -->
  <!--  End of Search -->
  <div class="ly">
    <!-- <img *ngIf="ShowLoader" style="margin-left: 40%" src="./assets/img/Loader.gif" /> -->
    <table *ngIf="!ShowLoader" class="ck table-bordered table-sm table-striped" data-sort="table">
      <thead style="color:#fff;background-color: #cc5f61">
        <tr>
          <th>
            <input type="checkbox" id="checkall" />
          </th>
          <th>Employee ID</th>
          <!-- <th>Photo</th> -->
          <th>Employee Name</th>
          <th>User Role</th>
          <th>Mobile No.</th>
          <th>Gender</th>
          <th>DOB</th>
          <th>Address</th>
          <th>Joining Date</th>
          <th>Salary</th>
          <th>Operation</th>

        </tr>
      </thead>
      <tbody style="color: black;" class="table-hover">
        <tr *ngFor="let employee of pagedItems;let i=index ">
          <!-- | filterRegEmployee:bsRangeValue -->
          <td>
            <input type="checkbox" id="checkthis" />
          </td>
          <td>{{employee.ID}}</td>
          <td style="column-width:auto">{{employee.EmployeeName}}</td>
          <td>{{employee.UserRoleDes}}</td>
          <td>{{employee.MobileNo}}</td>
          <td>{{employee.Gender}}</td>
          <td>{{employee.DOB}}</td>
          <td>{{employee.Address}}</td>
          <td>{{employee.JoiningDate}}</td>
          <td>{{employee.Salary}}</td>
          <td>
            <div style="float: left;margin-left: 10px;">
              <p data-title="Edit" class="edit" (click)="openModal(template,employee.ID)">
                <span class="bv bji iconstyle"></span>
              </p>
            </div>
            <div style="float: left;margin-left: 10px;">
              <p class="delete" (click)="DeleteEmployee(employee.ID)">
                <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p>
            </div>

          </td>
        </tr>
      </tbody>
    </table>

    <div class="avv">
      <nav>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
            <a (click)="setPage(1)" class="qo">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
            <a (click)="setPage(pager.currentPage - 1)" class="qo">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="qp">
            <a (click)="setPage(page)" class="qo">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
            <a (click)="setPage(pager.currentPage + 1)" class="qo">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
            <a (click)="setPage(pager.totalPages)" class="qo">Last</a>
          </li>
        </ul>
        <!-- <ul class="qn">
        <li class="qp">
          <a class="qo" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="adp">Previous</span>
          </a>
        </li>
        <li class="qp active">
          <a class="qo" href="#">1</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">2</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">3</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">4</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">5</a>
        </li>
        <li class="qp">
          <a class="qo" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="adp">Next</span>
          </a>
        </li>
      </ul> -->
      </nav>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title">Employee Registration</h4>
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- popup Form code  -->
      <form ngForm="EmployeeForm" #EmployeeForm="ngForm" name="EmployeeForm">
        <div class="well">
          <div class="row">
            <div class="col-sm-8 col-md-8">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Employee Name
                    <i class="fa fa-male"></i>
                  </span>
                </div>
                <input type="text" [(ngModel)]="employee.EmployeeName" #EmployeeName="ngModel" name="EmployeeName" [ngModelOptions]="{standalone: true}"
                  class="form-control" pattern="[a-zA-Z][a-zA-Z ]+" required autocomplete="off" placeholder="">

                <!-- <div style="margin-top:10px" *ngIf="EmployeeName.invalid&&(EmployeeName.dirty||submitted)" class="alert-danger">
                  <span *ngIf="EmployeeName.errors?.required">Employee Name is required</span>
                  <div *ngIf="EmployeeName.errors.minlength">
                    Name must be at least 4 characters long.
                  </div>
                </div> -->
              </div>
              <div style="float:left;" class="validation-error" *ngIf="EmployeeName.invalid&&(EmployeeName.dirty||submitted)">
                <span *ngIf="EmployeeName.errors?.required">Employee Name is required</span>
                <span *ngIf="EmployeeName.errors?.pattern">Employee Name should be alphabet character</span>

              </div>
            </div>

            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3" [class.has.error]="!UserRole.vaild">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">User Role
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select [(ngModel)]="employee.UserRole" #UserRole="ngModel" name="UserRole" class="form-control" [ngModelOptions]="{standalone: true}"
                  required autocomplete="off">
                  <option [ngValue]="null" disabled>--Select--</option>
                  <option *ngFor="let item of departmaster" [ngValue]="item.ID">
                    {{item.Type}}
                  </option>
                </select>

              </div>
              <div class="validation-error" style="margin-top: 10px;" *ngIf="UserRole.touched && !UserRole.valid">
                <span *ngIf="UserRole.errors?.required">User Role is required</span>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Mobile
                    <i class="fa fa-mobile-phone"></i>
                  </span>
                </div>
                <input type="text" [(ngModel)]="employee.MobileNo" #MobileNo="ngModel" name="MobileNo" [ngModelOptions]="{standalone: true}"
                  class="form-control" minlength="10" maxlength="12" pattern="[0-9]*" required autocomplete="off">
                <div class="validation-error" style="margin-top:10px" *ngIf="MobileNo.invalid&&(MobileNo.dirty||submitted)">
                  <span *ngIf="MobileNo.errors?.required">Mobile No is required</span>
                  <div *ngIf="MobileNo.errors.minlength">
                    Mobile No is 10 digit required .
                  </div>
                  <span *ngIf="MobileNo.errors?.pattern">Mobile No is only digit</span>
                 
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3" [class.has-error]="employee.touched && employee.invalid">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Gender
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
                <select [(ngModel)]="employee.Gender" #Gender="ngModel" name="Gender" class="form-control custom-select" [ngModelOptions]="{standalone: true}"
                  required autocomplete="off">
                  <option [ngValue]="null" disabled>--Select--</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>

                
              </div>
              <div class="validation-error has-block"  *ngIf="Gender.touched && Gender.invalid">
                  <span *ngIf="Gender.errors?.required">Gender is required</span>
                </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">DOB
                    <i class="fa fa-birthday-cake"></i>
                  </span>
                </div>
                <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" [(ngModel)]="employee.DOB" name="DOB" #DOB="ngModel"
                  class="form-control" placeholder="Date of Birth">
              </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Created User
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div> -->
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Joining Date
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>

                <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" [(ngModel)]="employee.JoiningDate" name="EmpJoiningDate"
                  #EmpJoiningDate="ngModel" class="form-control" placeholder="Joining Date">
              </div>
            </div>
            <!-- <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Salary ₹</span>
                </div>
                <input type="text" [(ngModel)]="employee.Salary" name="Salary" #Salary="ngModel" class="form-control" aria-label="Salary"
                  aria-describedby="basic-addon1" required autocomplete="off">
                <div style="margin-top:10px" *ngIf="Salary.invalid&&(Salary.dirty||submitted)" class="alert-danger">
                  <span *ngIf="Salary.errors?.required">Salary is required</span>
                </div>
              </div>
            </div> -->
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Salary</span>
                </div>
                <input type="text" [(ngModel)]="employee.Salary" #Salary="ngModel" name="Salary" class="form-control"
                  aria-label="Salary" aria-describedby="basic-addon1" pattern='[0-9]+' required autocomplete="off">
              </div>
              <div class="validation-error" *ngIf="Salary.invalid&&(Salary.dirty||submitted)">
                <span *ngIf="Salary.errors?.required">Salary is required</span>
                <span *ngIf="Salary.errors?.pattern">Salary is a digit</span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Address
                    <i class="fa fa-address-book"></i>
                  </span>
                </div>
                <input type="text" [(ngModel)]="employee.Address" name="Address" #Address="ngModel" class="form-control" aria-label="Address"
                  aria-describedby="basic-addon1" required autocomplete="off">
              </div>
              <div class="validation-error" *ngIf="Address.invalid&&(Address.dirty||submitted)">
                <span *ngIf="Address.errors?.required">Address is required</span>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="input-group input-group-sm mb-3">
                <img width="90" height="90" [src]="defaultImage" style="margin-left: 50px;" />
              </div>
              <div>
                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" (change)="onSelectFile($event)" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                  </div>
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="fileChange()" id="">Upload
                      <i class="fa fa-upload"></i>
                    </span>
                  </div>
                </div>
                <img [src]="url" height="200">
              </div>
            </div>
          </div>
          <div class="row " style="margin-top:10px">
            <div class="offset-5">
              <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="EmployeeForm.valid?SaveEmployee():submitted=true">Save</button>
              <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="EmployeeForm.valid?UpdateEmployee():submitted=true">Update</button>
              <button type="button" style="margin-left:5px; margin-right: 5px;" class="btn btn-info" (click)="resetFormall(EmployeeForm)"> Reset</button>
              <button type="button" class="btn btn-danger" (click)="modalRef.hide()" style="margin-left:10px;height: 40px;">Cancel</button>
            </div>
          </div>
        </div>

      </form>
      <!--End of popup Code-->
    </div>
  </ng-template>
