.justify-content-start{
   position: relative;
   display: flex;
 
   margin-top: 15px;
 }

 .well{
   padding-bottom: 12px;
 }
 .modal-content{
     width: 120%;
 }
 .modal-header{
     padding:0.5rem;
 }tbody > tr:hover{
   color:blue;
}.delete{
   color: red;
}