<div class="bqn">
  <div class="bqo">
    <h2 class="bqp">Shifts</h2>
  </div>
</div>
<div class="bop ayg">
  <div class="boq bor">
    <div class="axm bpy">
      <input type="text" class="form-control bsx" placeholder="Search ">
      <span class="bv bhw"></span>
    </div>
    <div class="axm bpy" style="float:right;">
      <button type="button" (click)="CreateShift()" class="btn btn-primary">Add New</button>
    </div>
  </div>

  <div class="row" style="margin-top:5px;">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>
              <input type="checkbox" id="checkall" />
            </th>
            <th>Shift Code</th>
            <th>Shift Name</th>
            <th>Shift Start</th>
            <th>Shift End</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>1</td>
              <td>Day Shift</td>
              <td>08:30</td>
              <td>300</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                  <p data-title="Edit" (click)="EditShift()">
                    <span class="bv bji iconstyle"></span>
                  </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <p data-title="Delete" data-toggle="modal" data-target="#delete">
                    <a>
                      <span class="bv bei iconstyle2"></span>
                    </a>
                  </p>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>1</td>
              <td>Day Shift</td>
              <td>08:30</td>
              <td>300</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                  <p (click)="EditShift()" data-title="Edit" data-toggle="modal">
                    <span class="bv bji iconstyle"></span>
                  </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <p data-title="Delete" data-toggle="modal" data-target="#delete">
                    <a>
                      <span class="bv bei iconstyle2"></span>
                    </a>
                  </p>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>1</td>
              <td>Day Shift</td>
              <td>08:30</td>
              <td>300</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                  <p (click)="EditShift()" data-title="Edit" data-toggle="modal">
                    <span class="bv bji iconstyle"></span>
                  </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <p data-title="Delete" data-toggle="modal" data-target="#delete">
                    <a>
                      <span class="bv bei iconstyle2"></span>
                    </a>
                  </p>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>1</td>
              <td>Day Shift</td>
              <td>08:30</td>
              <td>300</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit">
                  <p (click)="EditShift()" data-title="Edit" data-toggle="modal">
                    <span class="bv bji iconstyle"></span>
                  </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Delete">
                  <p data-title="Delete" data-toggle="modal" data-target="#delete">
                    <a>
                      <span class="bv bei iconstyle2"></span>
                    </a>
                  </p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"></div>
        <ul class="pagination pull-right">
          <li class="disabled">
            <a href="#">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input class="form-control " type="text" placeholder="Shift Name">
          </div>
          <div class="form-group">
            <input class="form-control " type="text" placeholder="shift code">
          </div>
          <div class="form-group">
            <textarea rows="2" class="form-control" placeholder="Shift Start"></textarea>
          </div>
          <div class="form-group">
            <textarea rows="2" class="form-control" placeholder="Shift End"></textarea>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
            <span class="glyphicon glyphicon-ok-sign"></span> Update</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
          $("#mytable input[type=checkbox]").each(function () {
            $(this).prop("checked", true);
          });

        } else {
          $("#mytable input[type=checkbox]").each(function () {
            $(this).prop("checked", false);
          });
        }
      });

      $("[data-toggle=tooltip]").tooltip();
    });
  </script>

  <!-- <div class="ly">
      <table class="ck" data-sort="table">
        <thead>
          <tr style="color: aqua; font: bold">
            <th>Shift Code</th>
            <th>Shift Name</th>
            <th>Shift Start</th>
            <th>Shift End</th>        
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Day Shift</td>
            <td>08:30</td>          
            <td>300</td>
            <td>
             <a > <span  class="bv bji iconstyle"></span></a>   
             
            </td>
            <td>
              <a> <span class="bv bei iconstyle2"></span></a>
              
            </td>
  
          </tr>
  
  
        </tbody>
      </table>
    </div>  -->