<div class="bw">
  <div class="dh">
    <div class="en bpz" >
        <div class="row" style="min-height:400px;">
            <div class=" p-l-0 p-r-0 collapse in" id="sidebar" style="min-height:400px;">
                <div class="list-group panel">
                    <a  class="list-group-item collapsed oy"routerLink="/layout/home"routerLinkActive="active" data-parent="#sidebar"><img width="20"height="20" class="responsive" src="{{user1}}"> <span class="hidden-sm-down"> Dashboard</span></a>
                     
                  <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" routerLinkActive="active" data-parent="#sidebar" aria-expanded="false"><img width="20" height="20"class="responsive" src="{{shiftimg}}"><span class="hidden-sm-down"> Shift</span> </a>
                    <div class="collapse" id="menu1">
                        
                        <a class="list-group-item" data-parent="#menu1" routerLink="/layout/shift/shift-allocation" routerLinkActive="active">Shift Allocation</a>
                        <a class="list-group-item" data-parent="#menu1"routerLink="/layout/shift/shift-entry"routerLinkActive="active">Shift Entry</a>
                        <a class="list-group-item" data-parent="#menu1"routerLink="/layout/shift/shift-details"routerLinkActive="active">Shift Details</a>
                        <a class="list-group-item" data-parent="#menu1"routerLink="/layout/shift/Unit-master"routerLinkActive="active">Unit Master</a>
                        <a class="list-group-item" data-parent="#menu1"routerLink="/layout/shift/shift-nozzel"routerLinkActive="active">Nozzel Master</a>
                        <a class="list-group-item" data-parent="#menu1"routerLink="/layout/shift/tank-master"routerLinkActive="active">Tank Master</a>
                        <a class="list-group-item" data-parent="#menu1"routerLink="/layout/shift/shifttype-master"routerLinkActive="active">Shift Master</a>
                        
                    </div>
                    <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" routerLinkActive="active" aria-expanded="false"><img width="20" height="20" class="responsive" src="{{employee}}"> <span class="hidden-sm-down"> Dip Chart</span></a>
                    <div class="collapse" id="menu3">
                        <a class="list-group-item" data-parent="#menu3"routerLink="/layout/dipchart/dip-hsd" routerLinkActive="active">Dip HSD</a>
                       
                        <a class="list-group-item" data-parent="#menu3"routerLink="/layout/dipchart/dip-ms" routerLinkActive="active">Dip MS</a>
                    </div>
                    <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar"routerLinkActive="active" aria-expanded="false"><img width="20" height="20" class="responsive" src="{{creditor}}"> <span class="hidden-sm-down"> Creditor</span></a>
                    <div class="collapse" id="menu4">
                        <a class="list-group-item" data-parent="#menu4" routerLink="/layout/creditor/entrycreditor" routerLinkActive="active">Entry Creditor</a>
                        <a class="list-group-item" data-parent="#menu4" routerLink="/layout/creditor/addcreditor" routerLinkActive="active">Add Creditor</a>
                        <a class="list-group-item" data-parent="#menu4" routerLink="/layout/creditor/debitor" routerLinkActive="active">Debitor</a>
                    </div>
                    <a class="list-group-item collapsed" data-parent="#sidebar"routerLink="/layout/billing" routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{billing}}"><span class="hidden-sm-down"> Billing</span></a>
                    <a class="list-group-item collapsed" data-parent="#sidebar"routerLink="/layout/receiveitem" routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{billing}}"> <span class="hidden-sm-down"> Receive Item</span></a>
                     
                    <a class="list-group-item collapsed" data-parent="#sidebar"routerLink="/layout/productsale"routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{billing}}"> <span class="hidden-sm-down"> Product Sale</span></a>
                    <!-- <a href="#menu5" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{inventory}}"> <span class="hidden-sm-down">Inventory</span></a>
                    <div class="collapse" id="menu5">
                        <a class="list-group-item" data-parent="#menu5"routerLink="/layout/inventory/product-entry" routerLinkActive="active">Product Entry</a>
                        <a class="list-group-item" data-parent="#menu5"routerLink="/layout/inventory/stock-report" routerLinkActive="active">Stock Report</a>
                        <a class="list-group-item" data-parent="#menu5"routerLink="/layout/inventory/purchase-product" routerLinkActive="active">Purchase Product</a>
                        <a class="list-group-item" data-parent="#menu5"routerLink="/layout/inventory/purchase-return" routerLinkActive="active">Purchase Return</a>
                    </div> -->
                    <a href="#menu6" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false" routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{employee}}"> <span class="hidden-sm-down">CRM</span></a>
                    <div class="collapse" id="menu6">
                        <a class="list-group-item" data-parent="#menu6"routerLink="/layout/crm/add-supplier" routerLinkActive="active">Add Supplier</a>
                        <a class="list-group-item" data-parent="#menu6"routerLink="/layout/crm/add-customer" routerLinkActive="active">Add Customer</a>
                        
                    </div>
                    <a    class="list-group-item collapsed" data-parent="#sidebar"routerLink="/layout/expense-entry"routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{expenses}}"> <span class="hidden-sm-down">Expenses</span></a>
                    <a href="#menu7" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{accounting}}"> <span class="hidden-sm-down">Accounting</span></a>
                    <div class="collapse" id="menu7">
                        <a class="list-group-item" data-parent="#menu7"routerLink="/layout/accounting/bank-acc-master" routerLinkActive="active">Bank Account Master</a>
                        <a class="list-group-item" data-parent="#menu7"routerLink="/layout/accounting/bank-deposit-master" routerLinkActive="active">Bank Deposit Master</a>
                        <a class="list-group-item" data-parent="#menu7"routerLink="/layout/accounting/bank-credit-master" routerLinkActive="active">Bank Credit Master</a>
                    </div>
                    <a href="#menu8" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{report}}"> <span class="hidden-sm-down">Report</span></a>
                    <div class="collapse" id="menu8">
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/pump-month" routerLinkActive="active">Pump Month Report</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/all-credit" routerLinkActive="active">All Credit Sale Report</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/credit-bill-balance" routerLinkActive="active">Credit Bill Balance</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/customer-wise-sale" routerLinkActive="active">CustomerWise CreditSale</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/all-credit-balance" routerLinkActive="active">All Credit Balance</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/product-rate-history" routerLinkActive="active">Product Rate History</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/account-balance-sheet" routerLinkActive="active">Account Balance Sheet</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/product-inventory-report" routerLinkActive="active">Product Inventory Report</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/pump-attendent-daily-sale" routerLinkActive="active">Pump Attendent DailySale</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/cash-book" routerLinkActive="active">Cash Book</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/bank-book" routerLinkActive="active">Bank Book</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/shift-wise-daily" routerLinkActive="active">ShiftWise Daily</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/attendant-wise-daily-pump" routerLinkActive="active">Attendant Wise Daily Pump</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/customer-wise-credit-balance" routerLinkActive="active">Customer Wise Credit Balance</a>
                        <a class="list-group-item" data-parent="#menu8"routerLink="/layout/report/expense-report" routerLinkActive="active">Expence Report</a>
                    </div>
                    <a href="#menu9" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"routerLinkActive="active"><img width="20" height="20" class="responsive" src="{{employee}}"> <span class="hidden-sm-down">Employee</span></a>
                    <div class="collapse" id="menu9">
                        <a class="list-group-item" data-parent="#menu9"routerLink="/layout/employee/registration" routerLinkActive="active">Employee Registration</a>
                        <a class="list-group-item" data-parent="#menu9"routerLink="/layout/employee/employee-salary" routerLinkActive="active">Employee Salary</a>
                        <a class="list-group-item" data-parent="#menu9"routerLink="/layout/employee/department-master" routerLinkActive="active">Department Master</a>
                    </div>
                   </div>
            </div>
        </div>
    </div>
    <div class="et brf" style="min-height: 600px;">
        <!-- <div class="collapse navbar-collapse" id="navbarsExampleDefault" style="margin-left:900px; ">
            <ul class="navbar-nav mr-auto">
         
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setting</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" style="background-color:#ca848b">
                  <a class="dropdown-item" href="#">Sign In</a>
                  <a class="dropdown-item" href="#">Sign Up</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </li>
            </ul>
          </div> -->
            <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a>
            <div class="logo">
                <h5> Giriraj Stateway Corporation</h5>
            </div>
            
            
            <hr>
            
            <router-outlet></router-outlet>
            
      
    </div>
  </div>
</div>