#sidebar .list-group-item {
    border-radius: 0;
    background-color: #234686c2;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: yellowgreen;
    white-space: nowrap;
 
 }
 
 /* highlight active menu */
 #sidebar .list-group-item:not(.collapsed) {
    background-color: #5f7699fb;
 }
 
 /* closed state */
 #sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
 }
 
 /* open state */
 #sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
 }
 #sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
 }
 
 / *level 1*/
 #sidebar .list-group .collapse .list-group-item  {
  padding-left: 20px;
 }
 
 / *level 2*/
 #sidebar .list-group .collapse > .collapse .list-group-item {
  padding-left: 30px;
 }
 
 / *level 3*/
 #sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
 }
 
 @media (max-width:48em) {
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.in, #sidebar .list-group .collapsing {
        position: absolute;
        z-index: 1;
        width: 190px;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
 }
 
 /* change transition animation to width when entire sidebar is toggled */
 #sidebar.collapse {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
 }
 
 #sidebar.collapsing {
  opacity: 0.8;
  width: 0;
  -webkit-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: width;
       -o-transition-property: width;
          transition-property: width;
 
 }
 
 .en{
    flex: 0 0 13%;
    max-width: 15%;
 }
 .logo{
    margin-top: -20px;
    margin-left: 40px;
 }