<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Bank Deposit Entry</h4>
  </div>
</div>
<!-- Search Operation -->
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                    <option>ID</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="date" class="form-control">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="date" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Value</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                <button type="button" style="margin-bottom: 10px" (click)="GetList()" class="btn btn-dark">Show All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-right: 5px;" (click)="openModal(template)" class="btn btn-info">New Advance</button>
                <button type="button" style="background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>


                <button type="button" class="btn btn-warning">Export</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ly">
  <table class="ck table-bordered table-sm table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" id="checkall" />
        </th>
        <th>ID</th>
        <th>Date</th>
        <th>Bank Name</th>
        <th>Bank Account Number</th>
        <th>Amount</th>
        <th>Note</th>
        <th>Operation</th>


      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr *ngFor="let item of bankdepositList">
        <td>
          <input type="checkbox" id="checkthis" />
        </td>
        <td>{{item.ID}}</td>
        <td>{{item.Date}} </td>
        <td>{{item.BankName}}</td>
        <td>{{item.BankAccNo}}</td>
        <td>{{item.Amount}}</td>
        <td>{{item.Note}}</td>
        <td>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Edit" class="edit" (click)="openModal(template,item.ID)">
              <span class="bv bji iconstyle"></span>
            </p>
          </div>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Delete" class="delete" (click)="DeleteBankAccMaster(item.ID)">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title">Bank Deposit Master</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form ngForm="BankDepositMasterForm" #BankDepositMasterForm="ngForm" name="BankDepositMasterForm">
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Date</span>
                </div>
                <input type="text" [(ngModel)]="bankdeposit.Date" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" [ngModelOptions]="{standalone: true}" placeholder="" class="form-control form-control-sm">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Bank Name</span>
                </div>
                <input type="text" [(ngModel)]="bankdeposit.BankName" [ngModelOptions]="{standalone: true}" class="form-control" aria-label="accountname"
                  aria-describedby="basic-addon1">
              </div>
            </div>
            <!-- <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Account Holder Name</span>
                </div>
                <input type="text" [(ngModel)]="bankdeposit.AccHolderName" class="form-control" name="accountcode"> </div>
            </div> -->
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Bank Account Number</span>
                </div>
                <input type="text" [(ngModel)]="bankdeposit.BankAccNo" [ngModelOptions]="{standalone: true}" class="form-control" name="accountcode"> </div>
            </div>

            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Amount</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="bankdeposit.Amount" name="Amount"> </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Note</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="bankdeposit.Note" [ngModelOptions]="{standalone: true}" name="Note"> </div>
            </div>



          </div>
          <div class="col-sm-12 offset-4  ">
            <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="BankDepositMasterForm.valid?SaveBankAccMaster():submitted=true">Save</button>
            <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="BankDepositMasterForm.valid?UpdateBankAccMaster():submitted=true">Update</button>
            <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>

          </div>
        </div>
      </form>
    </div>

  </ng-template>

  <div class="avv">
    <nav>
      <ul class="qn">
        <li class="qp">
          <a class="qo" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="adp">Previous</span>
          </a>
        </li>
        <li class="qp active">
          <a class="qo" href="#">1</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">2</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">3</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">4</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">5</a>
        </li>
        <li class="qp">
          <a class="qo" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="adp">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
