<div class="bqn">
  <div class="bqo">
    
    <h4 class="bqp">Pump Monthly Report</h4>
  </div>
</div>

<!-- Search Operation -->
<div class="container" >
<div class="row">
  <div class="card text-white bg-secondary mb-3" style="width:100%;">
    <div class="card-body ">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                </div>
                <select class="form-control form-control-sm" id="item-type">
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                </div>
                <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">To</label>
                </div>
                <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">By Month</label>
                </div>
                <select class="form-control form-control-sm" id="item-type">
                  </select>
              </div>
            </div>
          
          
              <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Product</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                    </select>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 offset-2">
              <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
              <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
              <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-warning">Export</button>
              <button type="button" style="margin-bottom: 10px;background-color: #dc143c" class="btn">Print</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-white bg-secondary mb-3" style="width:100%;">
            <div class="card-body ">
              <div class="row">
                <div class="col-md-6">
                  <label type="text">Overview</label>
                </div>
              </div>
              <div class="row" style="margin-top:18px;">
                <div class="col-md-7">
                  <label type="text">Total No of Credit Bill:0</label>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--  End of Search -->
<br>
<br>
<div class="ly">
    <table class="ck table-bordered table-sm table-striped" data-sort="table">
      <thead style="color:#fff;background-color: #cc5f61">
        <tr>
            <th>Date</th>
            <th>Opening_Stk</th>
            <th>Receipts</th>
            <th>Total</th>
            <th>Sale</th>
            <th>Closing_Stk</th>
            <th>Actual_Stk</th>
            <th>Dipstock</th>
            <th>Variation</th>
            <th>1st_Meter</th>
            <th>Difference</th>
            <th>2nd_Meter</th>
            <th>Difference</th>
            <th>3rd_Meter</th>
            <th>Difference</th>
            <th>4th_Meter</th>
            <th>Difference</th>
            <th>Total</th>
            <th>Pump_Testing</th>
        </tr>
      </thead>
      <tbody  style="color: black;" class="table-hover">
        <tr>
          <td>21/05/2018</td>
          <td>10000</td>
          <td>100</td>
          <td>100000</td>
          <td>189</td>
          <td>811</td>
          <td>10000</td>
          <td>90</td>
          <td>0</td>
          <td>90</td>
          <td>0</td>
          <td>95</td>
          <td>0</td>
          <td>76</td>
          <td>0</td>
          <td>60</td>
          <td>0</td>
          <td>411</td>
          <td>--</td>
          
        </tr>
      </tbody>
    </table>

  

    <div class="avv">
      <nav>
        <ul class="qn">
          <li class="qp">
            <a class="qo" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="adp">Previous</span>
            </a>
          </li>
          <li class="qp active">
            <a class="qo" href="#">1</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">2</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">3</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">4</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">5</a>
          </li>
          <li class="qp">
            <a class="qo" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="adp">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>