<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
                
                
            </div>
            <div style="margin-left: 100px; font-weight: bold;color: black"><label>Petrol</label></div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
            <div style="margin-left: 100px; font-weight: bold;color: black"><label>Diesel</label></div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="progress pink">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">85%</div>
          </div>
          <div style="margin-left: 100px; font-weight: bold;color: black"><label>Oil</label></div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="progress green">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">90%</div>
              
              
          </div>
          <div style="margin-left: 80px; font-weight: bold;color: black"><label>Low Stock</label></div>
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
                
                
            </div>
            <div style="margin-left: 80px; font-weight: bold;color: black"><label>Total Expenses</label></div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
            <div style="margin-left: 80px; font-weight: bold;color: black"><label>Total Product</label></div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="progress pink">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">85%</div>
          </div>
          <div style="margin-left: 80px; font-weight: bold;color: black"><label>Sale Product</label></div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="progress green">
              <span class="progress-left">
                  <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                  <span class="progress-bar"></span>
              </span>
              <div class="progress-value">90%</div>
              
              
          </div>
          <div style="margin-left: 80px; font-weight: bold;color: black"><label>Low Product</label></div>
      </div>
    </div>
  </div>
  
  

















<!-- 
<div class="bqn">
  <div class="bqo">
    <h2 class="bqp">Order history</h2>
  </div>
  <div class="on bqr">
    <div class="axm bpy">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="bv bbc"></span>
    </div>
  </div>
</div>

<div class="bop ayg">
  <div class="boq bor">
    <div class="axm bpy">
      <input type="text" class="form-control bsx" placeholder="Search orders">
      <span class="bv bhw"></span>
    </div>
  </div>
  <div class="boq">
    <div class="ol">
      <button type="button" class="ce nr">
        <span class="bv bji"></span>
      </button>
      <button type="button" class="ce nr">
        <span class="bv bei"></span>
      </button>
    </div>
  </div>
</div>

<div class="ly">
  <table class="ck table-sm table-bordered table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" class="bsn" id="selectAll">
        </th>
        <th>Order</th>
        <th>Customer name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          #10001
        </td>
        <td>First Last</td>
        <td>Admin theme, marketing theme</td>
        <td>01/01/2015</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          #10002
        </td>
        <td>Firstname Last</td>
        <td>Admin theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          #10003
        </td>
        <td>Name Another</td>
        <td>Personal blog theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10004</a>
        </td>
        <td>One More</td>
        <td>Marketing theme, personal blog theme, admin theme</td>
        <td>01/01/2015</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10005</a>
        </td>
        <td>Name Right Here</td>
        <td>Personal blog theme, admin theme</td>
        <td>01/02/2015</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10006</a>
        </td>
        <td>First Last</td>
        <td>Admin theme, marketing theme</td>
        <td>01/01/2015</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10007</a>
        </td>
        <td>Firstname Last</td>
        <td>Admin theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10008</a>
        </td>
        <td>Name Another</td>
        <td>Personal blog theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10009</a>
        </td>
        <td>One More</td>
        <td>Marketing theme, personal blog theme, admin theme</td>
        <td>01/01/2015</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10010</a>
        </td>
        <td>Name Right Here</td>
        <td>Personal blog theme, admin theme</td>
        <td>01/02/2015</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10011</a>
        </td>
        <td>First Last</td>
        <td>Admin theme, marketing theme</td>
        <td>01/01/2015</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10012</a>
        </td>
        <td>Firstname Last</td>
        <td>Admin theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10013</a>
        </td>
        <td>Name Another</td>
        <td>Personal blog theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10014</a>
        </td>
        <td>One More</td>
        <td>Marketing theme, personal blog theme, admin theme</td>
        <td>01/01/2015</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10015</a>
        </td>
        <td>Name Right Here</td>
        <td>Personal blog theme, admin theme</td>
        <td>01/02/2015</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10016</a>
        </td>
        <td>First Last</td>
        <td>Admin theme, marketing theme</td>
        <td>01/01/2015</td>
        <td>$200.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10017</a>
        </td>
        <td>Firstname Last</td>
        <td>Admin theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10018</a>
        </td>
        <td>Name Another</td>
        <td>Personal blog theme</td>
        <td>01/01/2015</td>
        <td>$100.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10019</a>
        </td>
        <td>One More</td>
        <td>Marketing theme, personal blog theme, admin theme</td>
        <td>01/01/2015</td>
        <td>$300.00</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" class="bso">
        </td>
        <td>
          <a href="#">#10020</a>
        </td>
        <td>Name Right Here</td>
        <td>Personal blog theme, admin theme</td>
        <td>01/02/2015</td>
        <td>$200.00</td>
    </tbody>
  </table>
</div>

<div class="avv">
  <nav>
    <ul class="qn">
      <li class="qp">
        <a class="qo" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="adp">Previous</span>
        </a>
      </li>
      <li class="qp active">
        <a class="qo" href="#">1</a>
      </li>
      <li class="qp">
        <a class="qo" href="#">2</a>
      </li>
      <li class="qp">
        <a class="qo" href="#">3</a>
      </li>
      <li class="qp">
        <a class="qo" href="#">4</a>
      </li>
      <li class="qp">
        <a class="qo" href="#">5</a>
      </li>
      <li class="qp">
        <a class="qo" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="adp">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div id="docsModal" class="cb fade" tabindex="-1" role="dialog" aria-labelledby="brl">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="sd">
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="se">
        <button type="button" class="ce ni" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div> -->