<div class="bqn">
    <div class="bqo">
      <h4 class="bqp">Customer Wise Credit Sale Report</h4>
    </div>
  </div>
  <!-- Search Operation -->
  <div class="container">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                    </div>
                    <select class="form-control form-control-sm" id="item-type">
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Cust Code</label>
                    </div>
                    <input type="text"  class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Cust Name</label>
                    </div>
                    <input type="text" class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                    </div>
                    <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">To</label>
                    </div>
                    <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 offset-2">
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-warning">Export</button>
                  <button type="button" style="margin-bottom: 10px;background-color:#dc143c" class="btn">Print</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-md-6">
                      <label type="text">Overview</label>
                    </div>
                  </div>
                  <div class="row" style="margin-top:18px;">
                    <div class="col-md-7">
                      <label type="text">Total No of Credit Bill:0</label>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <!--  End of Search -->
  
  <div class="ly">
      <table class="ck table-bordered table-sm table-striped" data-sort="table">
        <thead style="color:#fff;background-color: #cc5f61">
          <tr>
              <th>Sr.No</th>
              <th>Slip No.</th>
              <th>Vehicle No.</th>
              <th>Prod_Name</th>
              <th>Qty</th>
              <th>Unit</th>
              <th>Rate</th>
              <th>Amount</th>
              <th style="background-color:#fff;"> </th>
              <th>Product Name</th>
              <th>Qty</th>
              <th>Amount</th>
          <tr>
        </thead>
        <tbody  style="color: black;" class="table-hover">
          <tr>
            <td>1</td>
            <td>100231</td>
            <td>7241</td>
            <td>HSD</td>
            <td>15</td>
            <td>Ltr</td>
            <td>76.60</td>
            <td>1149</td>
            <th style="background-color:#fff;"> </th>
            <td>HSD <br>Total Amount<br>Round Off<br>Net Amount</td>
            <td>15</td>
            <td>1149<br>1149.0<br>Round 0.00<br>1149</td>
          </tr>
        </tbody>
      </table>
  </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Total Amount</label>
            </div>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Amount in Words</label>
            </div>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Total Quantity</label>
            </div>
            <input type="text" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      
      