<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Creditor</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" class="form-control" placeholder="Date From">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" class="form-control" placeholder="Date To">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Value</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                <button type="button" style="margin-bottom: 10px;background-color: #f44253" (click)="GetList()" class="btn">Show All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-md-12 offset-3">
                <!-- <button type="button"  (click)="NewBill()" style="margin-bottom: 10px;" class="btn btn-primary">New Bill</button> -->
                <button type="button" style="margin-bottom: 10px; margin-right: 5px" (click)="openModal(template)" class="btn btn-info">New Bill</button>
                <button type="button" style="margin-bottom: 10px;background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>
                <button type="button" style="margin-bottom: 10px;" class="btn btn-warning">Export</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ly">
  <table class="ck table-bordered table-sm table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" class="bsn" id="selectAll">
        </th>
        <th>ID</th>
        <th>B.No</th>
        <th>B.Date</th>
        <th>Creditor Name</th>
        <th>Vehicle No.</th>
        <th>P.Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr *ngFor="let item of pagedItems">
        <td>
          <input type="checkbox" class="bsn" id="selectAll">
        </td>
        <td>{{item.ID}}</td>
        <td>{{item.Billno}}</td>
        <td>{{item.BillDate}}</td>
        <td>{{item.CreditorName}}</td>
        <td>{{item.VehicleNo}}</td>
        <td>{{item.ItemType}}</td>
        <td>{{item.Qty}}</td>
        <td>{{item.Unit}}</td>
        <td>{{item.Rate}}</td>
        <td>{{item.Amount}}</td>
        
        
        <td>
          <!-- <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
              <span class="bv bji iconstyle"></span>
            </p>
        
          
            <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p> -->
          <div style="float: left;margin-left: 10px;">
            <p data-title="Edit" class="edit" (click)="openModal(template,item.CreditorEntryMasterId)">
              <span class="bv bji iconstyle"></span>
            </p>
          </div>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Delete" class="delete" class="delete" (click)="DeleteCreditor(item.CreditorEntryMasterId)">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p>
          </div>
          <div style="float: left;margin-left: 10px;">
              <p class="print">
                <a>
                    <i class="fa fa-print"></i>
                </a>
              </p>
            </div>
        </td>
      </tr>
      
    </tbody>
  </table>
  <div class="avv">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
              <a (click)="setPage(1)" class="qo">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
              <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
              <a (click)="setPage(page)"  class="qo">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
              <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
              <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
          </li>
      </ul>
    
  </nav>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Creditor Entry</h4>
    <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Bill No</span>
                    </div>
                    <input type="text" [(ngModel)]="entrymaster.Billno" name="Billno" #Billno="ngModel" class="form-control" aria-label="Small"
                      aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Bill Date</span>
                    </div>
                    <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" [(ngModel)]="entrymaster.BillDate" name="BillDate" #BillDate="ngModel"
                  class="form-control" placeholder="{{valuedate | date:'dd/MM/yyyy'}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Creditor Name</span>
                    </div>
                    <select [(ngModel)]="entrymaster.CreditorName" #CreditorName="ngModel" name="CreditorName" class="form-control" [ngModelOptions]="{standalone: true}"
                    required autocomplete="off">
                    <option *ngFor="let item of addCreditor" [ngValue]="item.ID">
                      {{item.CreditorName}}
                    </option>
                  </select>
                           
          
                    <!-- <input type="text" [(ngModel)]="entrymaster.CreditorName" name="CreditorName" #CreditorName="ngModel" placeholder="" class="form-control form-control-sm"> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Vehicle No</span>
                    </div>
                    <input type="text" [(ngModel)]="entrymaster.VehicleNo" name="VehicleNo" #VehicleNo="ngModel" placeholder="" class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table id="mytable" class="table table-sm table-bordred table-striped">
                      <thead>
                        <th>P.Name</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let m of entrydetailsList;let i=index">
                          <td>
                            <input type="text" style="border: none"[(ngModel)]="m.ItemType" name="itemtype" #itemtype="ngModel" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </td>
                          <td>
                            <input type="number" style="border: none" [(ngModel)]="m.Qty" name="Qty" #Qty="ngModel" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </td>
                          <td>
                              <select [(ngModel)]="m.Unit" #Unit="ngModel" name="Unit" style="width:100px " class="form-control form-control-sm" [ngModelOptions]="{standalone: true}"
                              required autocomplete="off">
                              <option *ngFor="let item of unitType" [ngValue]="item.ID">
                                {{item.Type}}
                              </option>
                            </select>
                          </td>
                          <td>
                            <input type="number" style="border: none" [(ngModel)]="m.Rate" name="Rate" #Rate="ngModel" (change)="MultiplicationAmt(m,i)" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </td>
                          <td>
                            <input type="number" style="border: none" [ngModel]="m.Amount" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                          </td>
                          <td>
                            <button type="button" style="margin-bottom: 10px;margin-right: 5px;"(click)="addrow(this.entrymaster.entrymasterList)" class="btn btn-primary">Add</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>         
              <div class="row">
                <div class="col-md-4">
                  <label type="text">Total Amount</label>
                  <input class="form-control form-control-sm" [(ngModel)]="TotalAmt" readonly type="text" placeholder="">
                </div>
                <div class="col-md-8">
                  <label type="text">Amount In Words</label>
                  <input class="form-control form-control-sm" type="text" placeholder="">
                </div>
              </div>
              <div class="row justify-content-start">
                <div class="col-md-8 offset-6">
                  <!-- <button type="button" style="margin-bottom: 10px;" class="btn btn-info">New</button> -->
                  <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" style="margin-bottom: 10px;" (click)="SaveCreditor()" class="btn btn-success">Save</button>
                   <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="UpdateCreditor()">Update</button>
                 
                  <!-- <button type="button" style="margin-bottom: 10px;background-color:#dc143c" class="btn">Print</button> -->
                  <button  type="button" style="margin-bottom: 10px;" (click)="modalRef.hide()"  class="btn btn-danger">Cancel</button>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <div class="card-body ">
                  <div clas="row">
                    <div class="table-responsive">
                      <table id="mytable" class="table table-sm table-bordred table-striped">
                        <thead>
                          <th>P.Name</th>
                          <th>Qty</th>
                          <th>Amount</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Hs</td>
                            <td>100</td>
                            <td>11200</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="well">
                    <div class="row">
                      <div class="col-md-5">
                        <label type="text">T.Amount</label>
                      </div>
                      <div class="col-md-7">
                        <input class="form-control form-control-sm" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="well">
                    <div class="row">
                      <div class="col-md-5">
                        <label type="text">R.Off</label>
                      </div>
                      <br>
                      <div class="col-md-7">
                        <input class="form-control form-control-sm" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="well">
                    <div class="row">
                      <div class="col-md-5">
                        <label type="text">Net Amount</label>
                      </div>
                      <div class="col-md-7">
                        <input class="form-control form-control-sm" type="text" placeholder="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label type="text">Total Qty</label>
                      <input class="form-control form-control-sm" type="text" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>