<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Dip Chart HSD</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
       <form #dipHSDForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <!-- <input type="text" placeholder="" class="form-control form-control-sm"> -->
                  <input type="text"class="form-control form-control-sm" name="NozzelType" #NozzelType="ngModel" [(ngModel)]="Category" placeholder="">
                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="text" name="NozzelType" #NozzelType="ngModel" [(ngModel)]="DateFrom"placeholder="Date From" bsDatepicker [bsConfig]="{dateInputFormat:'MM/DD/YYYY'}" class="form-control form-control-sm">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  
                  <input type="text"name="NozzelType" #NozzelType="ngModel"[(ngModel)]="DateTo" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" [(ngModel)]="diphsd.Date" 
                  class="form-control" placeholder="Date To">
                </div>
              </div>


            </div>


            <!-- <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Value</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">

                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>


                <button type="button" style="margin-bottom: 10px;margin-right: 5px;"(click)="resetForm(dipHSDForm)" class="btn btn-light">Reset</button>


                <button type="button" style="margin-bottom: 10px;background-color: #f44253" (click)="GetList()" class="btn">Show All</button>


              </div>
            </div>


          </div>

          <div class="col-md-6">

            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-md-12 offset-3">
                <!-- <button type="button"  (click)="NewBill()" style="margin-bottom: 10px;" class="btn btn-primary">New Bill</button> -->
                <button type="button" (click)="openModal(template)" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-info">Add HSD</button>



                <!-- <button type="button" data-toggle="modal" data-target="#edit1" style="margin-bottom: 10px;margin-right: 5px;background-color: #dc143c" class="btn">Purchase</button> -->

              </div>
            </div>

          </div>

        </div>
       </form>
      </div>

    </div>
    <div style="float:right">
        <div *ngIf="edited" class="alert alert-success popover" role="alert">
          <strong>List Saved!</strong> Your changes has been saved.
        </div>
      </div>
    <div class="ly">
      <table class="ck table-bordered table-sm table-striped" data-sort="table">
        <thead style="color:#fff;background-color: #cc5f61">
          <tr>
            <th>
              <input type="checkbox" class="bsn" id="selectAll">
            </th>
            <th>Id</th>
            <th>Date</th>
            <th>Current Dip</th>
            <th>Actual Dip</th>
            <th>Variation</th>
            <th>Operation</th>

          </tr>
        </thead>
        <tbody style="color: black;" class="table-hover">
          <tr *ngFor="let item of pagedItems ">
            <td>
              <input type="checkbox" class="bsn" id="selectAll">
            </td>

            <td>
            {{item.ID}}
            </td>
            <td>{{item.Date}}</td>

            <td>{{item.CurrentDip}}</td>
            <td>{{item.ActualDip}}</td>
            <td>{{item.Variation}}</td>

            <td>

              <!-- <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
                <span class="bv bji iconstyle"></span>
              </p>
           

              <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
                <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p> -->
              <div style="float: left;margin-left: 10px;">
                  <p data-title="Edit" class="edit" (click)="openModal(template,item.ID)">
                    <span class="bv bji iconstyle"></span>
                  </p>
                </div>
                <div style="float: left;margin-left: 10px;">
                  <p data-title="Delete" class="delete" (click)="DeleteHSD(item.ID)">
                    <a>
                      <span class="bv bmx iconstyle2"></span>
                    </a>
                  </p>
                </div>
                <div style="float: left;margin-left: 10px;">
                    <p class="print">
                      <a>
                          <i class="fa fa-print"></i>
                      </a>
                    </p>
                  </div>
             
            </td>
          </tr>
        </tbody>
      </table>

      <div class="avv">
        <nav>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
                    <a (click)="setPage(1)" class="qo">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
                    <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
                    <a (click)="setPage(page)"  class="qo">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                    <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                    <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
                </li>
            </ul>
          <!-- <ul class="qn">
            <li class="qp">
              <a class="qo" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="adp">Previous</span>
              </a>
            </li>
            <li class="qp active">
              <a class="qo" href="#">1</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">2</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">3</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">4</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">5</a>
            </li>
            <li class="qp">
              <a class="qo" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="adp">Next</span>
              </a>
            </li>
          </ul> -->
        </nav>
      </div>
    </div>

    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title">Add HSD Entry</h4>
          <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <form ngForm="DipHSDForm" #DipHSDForm="ngForm" name="DipHSdForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Date</label>
                      </div>
                      <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'MM/DD/YYYY'}" [(ngModel)]="diphsd.Date" placeholder="{{valuedate | date:'dd/MM/yyyy'}}" class="form-control form-control-sm">
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                              <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">Item Type</label>
                                </div>
                                <select class="form-control form-control-sm" id="item-type">
    
                                </select>
                              </div>
                            </div> -->
  
  
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Current Dip</label>
                      </div>
                      <input type="text" [(ngModel)]="diphsd.CurrentDip" name="CurrentDip" #CurrentDip="ngModel" aria-label="CurrentDip"pattern="[0-9]*"
                      aria-describedby="basic-addon1" required autocomplete="off" placeholder="" class="form-control form-control-sm">
                      
                    </div>
                    <div  *ngIf="CurrentDip.invalid&&(CurrentDip.dirty||submitted)" class="validation-error">
                        <div *ngIf="CurrentDip.errors?.required">CurrentDip is required</div>
                        <div [hidden]="!CurrentDip.hasError('pattern')">CurrentDip should be only numbers</div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Actual Dip</label>
                      </div>
                      <input type="text" placeholder="" [(ngModel)]="diphsd.ActualDip" pattern="[0-9]*" (change)="subtractActual()" name="ActualDip" #ActualDip="ngModel" class="form-control form-control-sm" aria-label="ActualDip"
                      aria-describedby="basic-addon1" required autocomplete="off">
                     
                    </div>
                    <div  *ngIf="ActualDip.invalid&&(ActualDip.dirty||submitted)" class="validation-error">
                        <span *ngIf="ActualDip.errors?.required">ActualDip is required</span>
                        <div [hidden]="!ActualDip.hasError('pattern')">CurrentDip should be only numbers</div>
                      </div>
                  </div>
  
  
                  <div class="col-md-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Variation</label>
                      </div>
                      <input type="text" placeholder="" [(ngModel)]="diphsd.Variation"readonly name="Variation" #Variation="ngModel" class="form-control form-control-sm">
  
                    </div>
                  </div>
                </div>
  
                <div class="row justify-content-start">
                  <div class="col-md-8 offset-4">
  
                    <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="DipHSDForm.valid?SaveHSD():submitted=true">Save</button>
                    <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="DipHSDForm.valid?UpdateHSD():submitted=true">Update</button>
  
                    <!-- <button type="button" style="margin-bottom: 10px;" (click)="SaveMS()" class="btn btn-success">Save</button>
     -->
                    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
  
                  </div>
                </div>
  
              </form>
            </div>
  
  
  
          </div>
        </div>
  
  
  
  
      </ng-template>



</div>
</div>
