<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Supplier</h4>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row" style="margin-top:35px;">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <input type="text" placeholder="" class="form-control form-control-sm">

                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                  class="form-control" placeholder="Date From"> </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                  class="form-control" placeholder="Date To">
                </div>
              </div>


            </div>



            <div class="row" style="margin-top:45px;">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>


                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>


                <button type="button" (click)="GetList()" style="margin-bottom: 10px;background-color: #f44253" class="btn">Show All</button>


              </div>
            </div>


          </div>

          <div class="col-md-6">

            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-md-12 offset-3">
                <!-- <button type="button"  (click)="NewBill()" style="margin-bottom: 10px;" class="btn btn-primary">New Bill</button> -->
                <button type="button" style="margin-right: 5px;margin-bottom: 10px;" (click)="openModal(template)" data-toggle="modal" data-target="#edit"
                  class="btn btn-info">Add Supplier</button>
                <button type="button" style="margin-bottom: 10px;background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>
                <button type="button" style="margin-bottom: 10px;" class="btn btn-warning">Export</button>


              </div>
            </div>

          </div>

        </div>





      </div>
    </div>
  </div>
</div>


<div class="ly">
  <img *ngIf="ShowLoader" style="margin-left: 40%" src="./assets/img/Loader.gif" />
  <table *ngIf="!ShowLoader" class="ck table-bordered table-sm table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" class="bsn" id="selectAll">
        </th>

        <th>ID</th>
        <th>Supplier Name</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Mobile No 1</th>
        <th>Mobile No 2</th>
        <th>Addrress</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Operation</th>


      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr *ngFor="let supplier of pagedItems">
        <td>
          <input type="checkbox" class="bsn" id="selectAll">
        </td>

        <td style="column-width:auto">{{supplier.ID}}</td>

        <td>{{supplier.Name}}</td>

        <td>{{supplier.CompanyName}}</td>
        <td>{{supplier.Email}}</td>
        <td>{{supplier.MobileNo1}}</td>
        <td>{{supplier.MobileNo2}}</td>
        <td>{{supplier.Address}}</td>
        <td>{{supplier.City}}</td>
        <td>{{supplier.ZipCode}}</td>

        <td>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Edit" class="edit" (click)="openModal(template,supplier.ID)">
              <span class="bv bji iconstyle"></span>
            </p>
          </div>
          <div style="float: left;margin-left: 10px;">
            <p class="delete" (click)="DeleteSupplier(supplier.ID)">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p>
          </div>
         
        </td>

      </tr>


    </tbody>

  </table>

  <div class="avv">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
          <a (click)="setPage(1)" class="qo">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
          <a (click)="setPage(pager.currentPage - 1)" class="qo">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="qp">
          <a (click)="setPage(page)" class="qo">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
          <a (click)="setPage(pager.currentPage + 1)" class="qo">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
          <a (click)="setPage(pager.totalPages)" class="qo">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add Supplier Entry</h4>
    <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngForm="SupplierForm" #SupplierForm="ngForm" name="SupplierForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">ID</label>
                </div>
                <input class="form-control form-control-sm" type="text" placeholder="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Supplier Name
                    <i class="fa fa-male"></i>
                  </span>
                </div>
                <input [(ngModel)]="supplier.Name" name="SupplierName" #SupplierName="ngModel" class="form-control form-control-sm" required
                  pattern="[a-zA-Z][a-zA-Z ]+" autocomplete="off" type="text" placeholder="">
                <div style="margin-top:10px" *ngIf="SupplierName.invalid&&(SupplierName.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!SupplierName.hasError('required')">Supplier Name is required</div>
                  <div [hidden]="!SupplierName.hasError('pattern')">Only alphabets allowed</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Company Name</label>
                </div>
                <input [(ngModel)]="supplier.CompanyName" name="CompanyName" #CompanyName="ngModel" class="form-control form-control-sm"
                  pattern="[a-zA-Z][a-zA-Z ]+" required autocomplete="off" type="text" placeholder="">
                <div style="margin-top:10px" *ngIf="CompanyName.invalid&&(CompanyName.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!CompanyName.hasError('required')">Company Name is required</div>
                  <div [hidden]="!CompanyName.hasError('pattern')">Only alphabets allowed</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Email</label>
                </div>
                <input [(ngModel)]="supplier.Email" name="Email" #Email="ngModel" class="form-control form-control-sm" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required type="text" placeholder="">
                <div style="margin-top:10px" *ngIf="Email.invalid&&(Email.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!Email.hasError('required')">Email is required</div>
                  <div [hidden]="!Email.hasError('pattern')">Email format should be
                    <small>
                      <b>joe@abc.com</b>
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Address</label>
                </div>
                <input [(ngModel)]="supplier.Address" name="Address" #Address="ngModel" class="form-control form-control-sm" type="text"
                  placeholder="" required autocomplete="off">
                <div style="margin-top:10px" *ngIf="Address.invalid&&(Address.dirty||submitted)" class="alert-danger">
                  <span *ngIf="Address.errors?.required">Address is required</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Mobile Number 1</label>
                </div>
                <input type="text" [(ngModel)]="supplier.MobileNo1" name="MobileNo1" pattern="[0-9]*" minlength="10" maxlength="10" #MobileNo1="ngModel"
                  class="form-control form-control-sm" placeholder="" required autocomplete="off">
                <div style="margin-top:10px" *ngIf="MobileNo1.invalid&&(MobileNo1.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!MobileNo1.hasError('minlength')">Mobile should be 10digit</div>
                  <div [hidden]="!MobileNo1.hasError('required')">Mobile is required</div>
                  <div [hidden]="!MobileNo1.hasError('pattern')">Mobile numberr should be only numbers</div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Mobile Number 2</label>
                </div>
                <input [(ngModel)]="supplier.MobileNo2" name="MobileNo2" #MobileNo2="ngModel" required pattern="[0-9]*" minlength="10" maxlength="10" class="form-control form-control-sm" type="text"
                  placeholder="">
                  <div style="margin-top:10px" *ngIf="MobileNo2.invalid&&(MobileNo2.dirty||submitted)" class="alert-danger">
                    <div [hidden]="!MobileNo2.hasError('minlength')">Mobile should be 10digit</div>
                    <div [hidden]="!MobileNo2.hasError('required')">Mobile is required</div>
                    <div [hidden]="!MobileNo2.hasError('pattern')">Mobile numberr should be only numbers</div>
                  </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">City</label>
                </div>
                <input [(ngModel)]="supplier.City" name="City" #City="ngModel" required class="form-control form-control-sm" type="text" placeholder="">
                <div style="margin-top:10px" *ngIf="City.invalid&&(City.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!City.hasError('required')">City is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">ZIP Code</label>
                </div>
                <input [(ngModel)]="supplier.ZipCode" name="ZipCode" #ZipCode="ngModel" required  autocomplete="off" minlength="6" maxlength="6" class="form-control form-control-sm" type="text"
                  placeholder="">
                  <div *ngIf="ZipCode.invalid&&(ZipCode.dirty||submitted)" class="alert-danger">
                    <div [hidden]="!ZipCode.hasError('minlength')">ZipCode should be 6 digit</div>
                    <div [hidden]="!ZipCode.hasError('required')">ZipCode is required</div>
                    <div [hidden]="!ZipCode.hasError('pattern')">ZipCode should be numbers</div>
                  </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 offset-5 ">
              <!-- <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="SaveSupplier()">Save</button>                -->
              <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="SupplierForm.valid?SaveSupplier():submitted=true">Save</button>
              <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="SupplierForm.valid?UpdateSupplier():submitted=true">Update</button>
              <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
            </div>

          </div>
        </div>
      </div>


    </form>
  </div>
</ng-template>
<!-- </div>
  </div> -->
