<div class="bqn">
    <div class="bqo">
      <h4 class="bqp">Product Entry</h4>
    </div>
  </div>
  <!-- Search Operation -->
  <div class="container">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                    </div>
                    <select class="form-control form-control-sm" id="item-type">
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Product Code</label>
                    </div>
                    <input type="text" class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-sm-7">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Product Name</label>
                    </div>
                    <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">HSD</option>
                      <option value="2">MS</option>
                      <option value="3">OIL</option>
                    </select>
                  </div>
                </div>
              </div>
  
              <div class="row" style="margin-top: 40px">
                <div class="col-md-12 offset-3">
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                  <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn ">Show All</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-md-6">
                      <label type="text">Overview</label>
                    </div>
                  </div>
                  <div class="row" style="margin-top:18px;">
                    <div class="col-md-7">
                      <label type="text">Total No of Credit Bill:0</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 offset-4">
                  <button type="button" style="margin-right: 5px;margin-bottom:10px;" data-toggle="modal" data-target="#myModal" class="btn btn-info">Add New</button>
                  <button type="button" style="margin-bottom: 10px;margin-right:5px;background-color:#dc143c;" class="btn">Print</button>
  
  
                  <button type="button" style="margin-bottom: 10px" class="btn btn-warning">Export</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  End of Search -->
  <div class="ly">
    <table class="ck table-bordered table-sm table-striped" data-sort="table">
      <thead style="color:#fff;background-color: #cc5f61">
        <tr>
          <th>Code</th>
          <!-- <th>Photo</th> -->
          <th>Product_Name</th>
          <!-- <th>Rate</th>
          <th>Quantity</th> -->
          <th>Unit</th>
          <th>Brand</th>
          <th>Status</th>
         
          <th>Operation</th>
  
        </tr>
      </thead>
      <tbody style="color: black;" class="table-hover">
        <tr>
          <td> 1</td>
          <td>Notebook</td>
          <!-- <td>
            <img width="60" height="60" src="{{defaultImage}}" />
          </td> -->
          <!-- <td>25.00</td>
          <td>10</td> -->
          <td>--</td>
          <td>Navneet</td>
          <td>Available</td>
         
          <td>
            <!-- <p data-title="Edit" class="edit" data-toggle="modal" data-target="#myModal">
              <span class="bv bji iconstyle"></span>
            </p>
         
  
            <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p> -->
            <div style="float: left;margin-left: 10px;">
              <p data-title="Edit" class="edit" data-toggle="modal" data-target="#myModal">
                <span class="bv bji iconstyle"></span>
              </p>
            </div>
            <div style="float: left;margin-left: 10px;">
              <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
                <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p>
            </div>
            <div>
              <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
                <a>
                  <i class="fa fa-bars"></i>
                </a>
              </p>
  
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Product</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- popup Form code  -->
            <form>
              <div class="well">
                <div class="row">
  
                  <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Product Name</span>
                      </div>
                      <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">HSD</option>
                        <option value="2">MS</option>
                        <option value="3">OIL</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Brand</span>
                      </div>
                      <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">Castrol</option>
                        <option value="2">Navneet</option>
                      </select>
                    </div>
                  </div>
  
                </div>
              </div>
              <div class="well">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Unit</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Status</span>
                      </div>
                      <select class="form-control">
                        <option>Available</option>
                        <option>Un-Available</option>
                      </select>
                    </div>
                  </div>
                 
                  
                </div>
              </div>
              <div class="row" style="margin-top:40px">
                <div class="col-sm-4 offset-5">
                  <button type="button" class="btn btn-success" (click)="btnSave()">Save</button>
                  <button type="button" class="btn btn-danger" style="margin-left:10px;">Cancel</button>
                </div>
              </div>
            </form>
            <!--End of popup Code-->
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
          </div>
          <div class="modal-body">
  
            <div class="alert alert-danger">
              <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
  
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span> No</button>
          </div>
        </div>
      </div>
    </div>