<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Debitors List</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Customer Name</label>
                  </div>
                  <input type="text" placeholder="" class="form-control form-control-sm">
                  <!-- <select [(ngModel)]="debitorOBJ.CustomerName" name="CustomerName" #CustomerName="ngModel" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                    <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor="let item of customer" [ngValue]="item.ID">{{item.CustomerName}}</option>
                    </select> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'MM/DD/YYYY'}" placeholder="Date From" class="form-control form-control-sm">

                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'MM/DD/YYYY'}" placeholder="Date To" class="form-control form-control-sm">

                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 40px">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                <button type="button" style="margin-bottom: 10px;background-color: #f44253" (click)="GetList()" class="btn">Show All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-md-12 offset-3" style="margin-top:10px;">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" (click)="openModal(template)" class="btn btn-info">New Entry</button>
                <button type="button" style="margin-bottom: 10px;background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>
                <button type="button" style="margin-bottom: 10px;" class="btn btn-warning">Export</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ly">
  <table class="ck table-bordered table-sm table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" class="bsn" id="selectAll">
        </th>
        <th>B.No</th>
        <!-- <th>B.Date</th> -->
        <th>Customer Name</th>
        <th>Previous Amt</th>
        <th>Paid Amt</th>
        <th>Total Amt</th>
        <th>Status</th>
        <th>Operation</th>
      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr *ngFor="let debitor of pagedItems">
        <td>
          <input type="checkbox" class="bsn" id="selectAll">
        </td>
        <td>{{debitor.ID}}</td>
        <!-- <td>01/01/2015</td> -->
        <td>{{debitor.CustomerNameDes}}</td>
        <td>{{debitor.PreviousAmt}}</td>
        <td>{{debitor.PaidAmt}}</td>
        <td>{{debitor.TotalAmt}}</td>
        <td>{{debitor.Status}}</td>
          <td>
            <!-- <p data-title="Edit" data-toggle="modal" data-target="#edit" class="edit">
                <span class="bv bji iconstyle"></span>
              </p>
          
            
              <p data-title="Delete" class="delete" class="delete" data-toggle="modal" data-target="#delete">
                <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p> -->
              <div style="float: left;margin-left: 10px;">
                  <p data-title="Edit" class="edit" (click)="openModal(template,debitorOBJ.ID)">
                    <span class="bv bji iconstyle"></span>
                </div>
                <div style="float: left;margin-left: 10px;">
                  <p data-title="Delete" class="delete" (click)="DeleteDebitor(debitorOBJ.ID)">
                    <a>
                      <span class="bv bmx iconstyle2"></span>
                    </a>
                  </p>
                </div>
                <div style="float: left;margin-left: 10px;">
                    <p class="print">
                      <a>
                          <i class="fa fa-print"></i>
                      </a>
                    </p>
                  </div>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="avv">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
            <a (click)="setPage(1)" class="qo">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
            <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
            <a (click)="setPage(page)"  class="qo">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
            <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
            <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
        </li>
    </ul>
  
    </nav>
  </div>
</div>
<!-- <div *ngIf="showError" style="margin-bottom: 10px" class="alert-danger">
    {{errMessage}}
  </div> -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add Debitor Entry</h4>
    <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngForm="DebitorForm" #DebitorForm="ngForm" name="DebitorForm">
      <div class="container" style="background-color: white;border-radius: 5px">
        <div class="row">
          <!-- <div class=col-md-6>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Date
                </span>
              </div>
              <input type="text" placeholder="Datepicker" class="form-control form-control-sm">
            </div>
          </div> -->
          <div class=col-md-6>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Customer Name
                </span>
              </div>
              <select [(ngModel)]="debitorOBJ.CustomerName" name="CustomerName" #CustomerName="ngModel" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm">
                <option [ngValue]="null" disabled>--Select--</option>
                <option *ngFor="let item of customer" [ngValue]="item.ID">{{item.CustomerName}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Previous Amount
                </span>
              </div>
              <input type="text" [(ngModel)]="debitorOBJ.PreviousAmt" name="PreviousAmt" #PreviousAmt="ngModel" placeholder="" class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Paid Amount
                </span>
              </div>
              <input type="text" [(ngModel)]="debitorOBJ.PaidAmt" (change)="subtract()" name="PaidAmt" #PaidAmt="ngModel" placeholder="" class="form-control form-control-sm">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Total Amount
                </span>
              </div>
              <input type="text" [(ngModel)]="debitorOBJ.TotalAmt" name="TotalAmt" #TotalAmt="ngModel" placeholder="" class="form-control form-control-sm" readonly>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Status
                </span>
              </div>
              <select [(ngModel)]="debitorOBJ.Status" #Status="ngModel" name="Status" class="form-control form-control-sm">
                <option [ngValue]="null" disabled>--Select--</option>
                <option value="Pending">Pending</option>
                <option value="Closed">Closed</option>
              </select>
            </div>
          </div>
        </div>
        <!-- <br> -->
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 offset-4">
          <button type="button" style="margin-bottom: 10px;" (click)="SaveDebitor()" class="btn btn-success">Save</button>
          <button type="button" style="margin-bottom: 10px;" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
          <!-- <button type="button" style="margin-bottom: 10px;" class="btn btn-primary">Back</button> -->
        </div>
      </div>
    </form>
  </div>
</ng-template>
