<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Customer</h4>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row" style="margin-top:35px;">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <input type="text" placeholder="" class="form-control form-control-sm">

                </div>
              </div>


            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                  class="form-control" placeholder="Date From"> </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}"
                  class="form-control" placeholder="Date To "> </div>
              </div>


            </div>



            <div class="row" style="margin-top:45px;">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>


                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>


                <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn" (click)="GetList()">Show All</button>


              </div>
            </div>


          </div>

          <div class="col-md-6">

            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-start">
              <div class="col-md-12 offset-3">
                <!-- <button type="button"  (click)="NewBill()" style="margin-bottom: 10px;" class="btn btn-primary">New Bill</button> -->
                <button type="button" style="margin-right: 5px;margin-bottom: 10px;" (click)="openModal(template)" class="btn btn-info">Add Customer</button>
                <button type="button" style="margin-bottom: 10px;background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>
                <button type="button" style="margin-bottom: 10px;" class="btn btn-warning">Export</button>


              </div>
            </div>

          </div>

        </div>





      </div>
    </div>
  </div>
</div>


<div class="ly">
  <table class="ck table-bordered table-sm table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" class="bsn" id="selectAll">
        </th>

        <th>ID</th>
        <th>Customer Name</th>

        <th>Email</th>
        <th>Mobile No 1</th>
        <th>Mobile No 2</th>
        <th>Addrress</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Operation</th>


      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr *ngFor="let cust of pagedItems">
        <td>
          <input type="checkbox" class="bsn" id="selectAll">
        </td>


        <td>{{cust.ID}}</td>
        <td>{{cust.CustomerName}}</td>

        <td>{{cust.Email}}</td>
        <td>{{cust.MobileNumber1}}</td>
        <td>{{cust.MobileNumber2}}</td>
        <td>{{cust.Address}}</td>
        <td>{{cust.City}}</td>
        <td>{{cust.ZipCode}}</td>
        <td>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Edit" class="edit" (click)="openModal(template,cust.ID)">
              <span class="bv bji iconstyle"></span>
            </p>
          </div>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Delete" class="delete" (click)="DeleteCust(cust.ID)">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p>
          </div>

        </td>

      </tr>


    </tbody>

  </table>

  <div class="avv">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
          <a (click)="setPage(1)" class="qo">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
          <a (click)="setPage(pager.currentPage - 1)" class="qo">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="qp">
          <a (click)="setPage(page)" class="qo">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
          <a (click)="setPage(pager.currentPage + 1)" class="qo">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
          <a (click)="setPage(pager.totalPages)" class="qo">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add Customer Entry</h4>
    <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngForm="CustomerForm" #CustomerForm="ngForm" name="CustomerForm">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">ID</label>
                </div>
                <input class="form-control form-control-sm" type="text" placeholder="">

              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Customer Name</label>
                </div>
                <input [(ngModel)]="customer.CustomerName" name="CustomerName" #CustomerName="ngModel" class="form-control form-control-sm"
                  pattern="[a-zA-Z][a-zA-Z ]+" required autocomplete="off" type="text" placeholder="">
                <div style="margin-top:10px" *ngIf="CustomerName.invalid&&(CustomerName.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!CustomerName.hasError('required')">Customer Name is required</div>
                  <div [hidden]="!CustomerName.hasError('pattern')">Only alphabets allowed</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Email</label>
                </div>
                <input [(ngModel)]="customer.Email" name="Email" #Email="ngModel" class="form-control form-control-sm" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required type="text" placeholder="">
                <div style="margin-top:10px" *ngIf="Email.invalid&&(Email.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!Email.hasError('required')">Email is required</div>
                  <div [hidden]="!Email.hasError('pattern')">Email format should be
                    <small>
                      <b>joe@abc.com</b>
                    </small>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Address</label>
                </div>
                <input [(ngModel)]="customer.Address" name="Address" #Address="ngModel" class="form-control form-control-sm" type="text"
                  placeholder="" required autocomplete="off">
                <div style="margin-top:10px" *ngIf="Address.invalid&&(Address.dirty||submitted)" class="alert-danger">
                  <span *ngIf="Address.errors?.required">Address is required</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Mobile Number 1</label>
                </div>
                <input type="text" [(ngModel)]="customer.MobileNumber1" name="MobileNumber1" pattern="[0-9]*" minlength="10" maxlength="10" #MobileNumber1="ngModel"
                  class="form-control form-control-sm" placeholder="" required autocomplete="off">
                <div style="margin-top:10px" *ngIf="MobileNumber1.invalid&&(MobileNumber1.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!MobileNumber1.hasError('minlength')">Mobile should be 10digit</div>
                  <div [hidden]="!MobileNumber1.hasError('required')">Mobile is required</div>
                  <div [hidden]="!MobileNumber1.hasError('pattern')">Mobile numberr should be only numbers</div>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Mobile Number 2</label>
                </div>
                <input type="text" [(ngModel)]="customer.MobileNumber2" name="MobileNumber2" pattern="[0-9]*" minlength="10" maxlength="10" #MobileNumber2="ngModel"
                  class="form-control form-control-sm" placeholder="" required autocomplete="off">
                <div style="margin-top:10px" *ngIf="MobileNumber2.invalid&&(MobileNumber2.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!MobileNumber2.hasError('minlength')">Mobile should be 10digit</div>
                  <div [hidden]="!MobileNumber2.hasError('required')">Mobile is required</div>
                  <div [hidden]="!MobileNumber2.hasError('pattern')">Mobile numberr should be only numbers</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">City</label>
                </div>
                <input [(ngModel)]="customer.City" name="City" #City="ngModel" required class="form-control form-control-sm" type="text" placeholder="">
                <div style="margin-top:10px" *ngIf="City.invalid&&(City.dirty||submitted)" class="alert-danger">
                  <div [hidden]="!City.hasError('required')">City is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">ZIP Code</label>
                </div>
                <input [(ngModel)]="customer.ZipCode" name="ZipCode" #ZipCode="ngModel" required  autocomplete="off" class="form-control form-control-sm" type="text"
                  placeholder="" minlength="6" maxlength="6" pattern="[0-9]">
                  <div *ngIf="ZipCode.invalid&&(ZipCode.dirty||submitted)" class="alert-danger">
                    <div [hidden]="!ZipCode.hasError('minlength')">ZipCode should be 6 digit</div>
                    <div [hidden]="!ZipCode.hasError('required')">ZipCode is required</div>
                    <!-- <div [hidden]="!ZipCode.hasError('pattern')">ZipCode should be numbers</div> -->
                  </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 offset-5 ">
              <!-- <button type="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-ok-sign"></span> ADD</button> -->
              <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="SaveCust()">Save</button>
              <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="CustomerForm.valid?UpdateCust():submitted=true">Update</button>
              <button type="button" class="btn btn-danger" (click)="modalRef.hide()">
                <span class="glyphicon glyphicon-ok-sign"></span> Cancel</button>
            </div>

          </div>






        </div>


      </div>


    </form>
  </div>
</ng-template>
