<div class="bqn">
    <div class="bqo">
      <h4 class="bqp">Stock Report</h4>
    </div>
  </div>
  <!-- Search Operation -->
  <div class="container">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                    </div>
                    <select class="form-control form-control-sm" id="item-type">
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Code</label>
                    </div>
                    <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Item-type</label>
                    </div>
                    <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                    </div>
                    <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">To</label>
                    </div>
                    <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 offset-2">
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-warning">Export</button>
                  <button type="button" style="margin-bottom: 10px;background-color: #dc143c" class="btn">Print</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-md-6">
                      <label type="text">Overview</label>
                    </div>
                  </div>
                  <div class="row" style="margin-top:18px;">
                    <div class="col-md-7">
                      <label type="text">Total No of Credit Bill:0</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  End of Search -->
  
  <div class="ly">
    <table class="ck table-bordered table-sm table-striped" data-sort="table">
      <thead style="color:#fff;background-color: #cc5f61">
        <tr>
          <th>Code</th>
          <th>Item-type</th>
          <th>Unit</th>
          <th>Purchase_Qty</th>
          <th>Sale_Qty</th>
          <th>Remaining_Stk</th>
          <th>Buy_Price</th>
          <th>Buy_Stk_Price</th>
          <th>Sale_Price</th>
          <th>Sale_Stk_Price</th>
        </tr>
      </thead>
      <tbody style="color: black;" class="table-hover">
        <tr>
          <td>1</td>
          <td>T-Shirt</td>
          <td>Piece</td>
          <td>200</td>
          <td>150</td>
          <td>50</td>
          <td>150.00</td>
          <td>30,000.00</td>
          <td>200</td>
          <td>40,000.00</td>
        </tr>
      </tbody>
    </table>
    <div class="avv">
      <nav>
        <ul class="qn">
          <li class="qp">
            <a class="qo" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="adp">Previous</span>
            </a>
          </li>
          <li class="qp active">
            <a class="qo" href="#">1</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">2</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">3</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">4</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">5</a>
          </li>
          <li class="qp">
            <a class="qo" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="adp">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  
  
  
  
  
  