<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <label> Department</label>
      <select class="form-control">

      </select>
    </div>
    <div class="col-sm-4">
      <label for="fromdate">From Date</label>

      <input type="date" class="form-control" id="fromdate" placeholder="Datepicker">
    </div>
    <div class="col-sm-4">
      <label for="ToDate">To Date</label>

      <input type="date" class="form-control" id="ToDate" placeholder="Datepicker">
    </div>


    
  </div>

  <br>
  <div class="row">
    <div class="col-sm-8 offset-4">
      <button type="button" class="btn btn-primary">VIEW </button>

      <button type="button" class="btn btn-primary" style="margin-left:5px;" (click)="EditMonthlyEmployeeShift()">UPDATE</button>

      <button type="button" class="btn btn-primary" style="margin-left:5px;">EXPORT</button>
    </div>
  </div>

  <br>

  <div class="row">


    <div class="col-md-12">

      <div class="table-responsive">


        <table id="mytable" class="table table-bordred table-striped">

          <thead>

            <th>
              <input type="checkbox" id="checkall" />
            </th>

            <th>Employee Name</th>
            <th>Employee code</th>
            <th>Designation</th>

          </thead>
          <tbody>

            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>Mohsin</td>
              <td>001</td>
              <td>senior manager</td>


            </tr>

            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>Mohsin</td>
              <td>002</td>
              <td>associate</td>


            </tr>


            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>Mohsin</td>
              <td>003</td>
              <td>manager</td>


            </tr>



            <tr>
              <td>
                <input type="checkbox" class="checkthis" />
              </td>
              <td>Mohsin</td>
              <td>004</td>
              <td>senior associate</td>

            </tr>
          </tbody>

        </table>

        <div class="clearfix"></div>
        <ul class="pagination pull-right">
          <li class="disabled">
            <a href="#">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">

          <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
          <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>


        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;">
          <span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
      <div class="modal-body">

        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#mytable #checkall").click(function () {
      if ($("#mytable #checkall").is(':checked')) {
        $("#mytable input[type=checkbox]").each(function () {
          $(this).prop("checked", true);
        });

      } else {
        $("#mytable input[type=checkbox]").each(function () {
          $(this).prop("checked", false);
        });
      }
    });

    $("[data-toggle=tooltip]").tooltip();
  });
</script>