<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Shift Entry</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Employee Name</label>
                  </div>
                  <select class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                    <option [ngValue]="null" disabled>--Select--</option>
                    <!-- <option *ngFor="let item in employee" [ngValue]="item.ID">
                      {{item.EmployeeName}}
                    </option> -->
                    <option *ngFor="let name of employee" [ngValue]="name.ID">
                      {{name.EmployeeName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Date</label>
                  </div>
                  <input type="text" placeholder="{{valuedate | date:'dd/MM/yyyy'}}" [(ngModel)]="shiftentry.Date" name="Date" #Date="ngModel"  bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" class="form-control">
                    </div>
              </div>
              <div class="col-md-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                  </div>
                  <select [(ngModel)]="shiftentry.ShiftType" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                    <option [ngValue]="null" disabled>--Select--</option>
                        <option *ngFor="let item of shiftmaster"  [ngValue]="item.ID">
                          {{item.Type}}
                        </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                <button type="button" style="margin-bottom: 10px;background-color: #f44253" (click)="GetList()" class="btn">Show All</button>
                <!-- <button type="button" style="margin-bottom: 10px" (click)="CreateShift()" class="btn btn-primary" data-toggle="modal" data-target="#Edit">Add New</button> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:2px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Shift:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" (click)="openModal(template)" class="btn btn-info">Add Shift</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bop ayg">
      <div class="bqn">
        <div class="bqo">
          <h4 class="bqp">First Shift</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="mytable" class="table table-bordered table-sm table-striped">
              <thead style="color:#fff;background-color: #cc5f61">
                <th>
                  <input type="checkbox" id="checkall" />
                </th>
                <th>Date</th>
                <th>Shift</th>
                <th>Employee Name</th>
                
                
                <th>Edit</th>
              </thead>
              <tbody style="color: black;" class="table-hover">
                <tr *ngFor="let shift of pagedItems; let i=index">
                  <td>
                    <input type="checkbox" class="checkthis" />
                  </td>
                  <td>{{shift.CreatedDate}}</td>
                  <td>{{shift.ShiftTypeDec}}</td>
                  <td>{{shift.EmployeeNameDes}}</td>
                 
                  <td>
                      <div style="float: left;margin-left: 10px;">
                          <p data-title="Edit" class="edit" (click)="openModal(template,shift.ID)">
                            <span class="bv bji iconstyle"></span>
                          </p>
                        </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="avv">
              <nav>
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
                      <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
                          <a (click)="setPage(1)" class="qo">First</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
                          <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
                      </li>
                      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
                          <a (click)="setPage(page)"  class="qo">{{page}}</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                          <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
                      </li>
                      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
                          <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
                      </li>
                  </ul>
                <!-- <ul class="qn">
                  <li class="qp">
                    <a class="qo" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="adp">Previous</span>
                    </a>
                  </li>
                  <li class="qp active">
                    <a class="qo" href="#">1</a>
                  </li>
                  <li class="qp">
                    <a class="qo" href="#">2</a>
                  </li>
                  <li class="qp">
                    <a class="qo" href="#">3</a>
                  </li>
                  <li class="qp">
                    <a class="qo" href="#">4</a>
                  </li>
                  <li class="qp">
                    <a class="qo" href="#">5</a>
                  </li>
                  <li class="qp">
                    <a class="qo" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="adp">Next</span>
                    </a>
                  </li>
                </ul> -->
              </nav>
            </div>
          </div>
        </div>
      </div>
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title">Add New Entry</h4>
              <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form ngForm="ShiftEntryForm" #ShiftEntryForm="ngForm" name="ShiftEntryForm">
              <div class="container" style="background-color: white
              ;border-radius: 5px">
                <div class="row">
                  <div class=col-md-6>
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Date
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                      <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" [(ngModel)]="shiftentry.CreatedDate" name="CreatedDate" #CreatedDate="ngModel"
                      class="form-control" placeholder="{{valuedate | date:'dd/MM/yyyy'}}">
                    </div>
                  </div>
                  <div class=col-md-6>
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                      </div>
                      <select [(ngModel)]="shiftentry.ShiftType" name="ShiftType" #ShiftType="ngModel" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                        <option [ngValue]="null" disabled>--Select--</option>
                        <option *ngFor=" let stype of shiftmaster" [ngValue]="stype.ID">{{stype.Type}}</option>
                      </select>
                    </div>
                  </div>
                  <!-- <div class=col-md-6>
                      <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Start Time
                           
                          </span>
                        </div>
                        <input type="time" [(ngModel)]="shiftentry.StartTime" name="sTime" #sTime="ngModel" class="form-control form-control-sm">
                      </div>
                    </div>
                    <div class=col-md-6>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">End Time
                              
                            </span>
                          </div>
                          <input type="time" [(ngModel)]="shiftentry.EndTime" name="eTime" #eTime="ngModel" class="form-control form-control-sm">
                        </div>
                      </div> -->
                </div>
                <!-- <br> -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Employee Name
                          <i class="fa fa-male"></i>
                        </span>
                      </div>
                      <select [(ngModel)]="shiftentry.EmployeeName" [ngModelOptions]="{standalone: true}" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                        <option [ngValue]="null" disabled>--Select--</option>
                        <option *ngFor="let name of employee" [ngValue]="name.ID">
                          {{name.EmployeeName}}
                        </option>
                        
                      </select>
                    </div>
                    
                  </div>
                </div>
                <!-- <br> -->
                <div class="col-sm-4 offset-4 ">
                    <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="ShiftEntryForm.valid?SaveShiftEntry():submitted=true">Save</button>
                    <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="ShiftEntryForm.valid?UpdateShiftEntry():submitted=true">Update</button>
                    <button type="button" class="btn btn-danger" (click)="modalRef.hide()" style="margin-left:10px;height: 40px;">Cancel</button>
                 
                </div>
              </div>
            </form>
            </div>
          
          </ng-template>
       
    </div>
  </div>
</div>