<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Employee List</h4>
  </div>
</div>
<!-- Search Operation -->
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Code</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Role</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Employee Name</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                <button type="button" style="margin-bottom: 10px;" class="btn btn-dark">Show All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 offset-3">
                <button type="button" data-toggle="modal" data-target="#edit" class="btn btn-info">Add New</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="dbtable">
<ag-grid-angular style="width:1000px; height:550px;" class="ag-theme-material" [columnDefs]="columnDefs" [enableSorting]="true"
  [enableFilter]="true" [animateRows]="true" [pagination]="true" [sortingOrder]="sortingOrder" (gridReady)="onGridReady($event)"></ag-grid-angular>
</div> -->








<!--  End of Search -->
 <div class="ly">
  <table class="ck table-bordered table-sm table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
          <th>
              <input type="checkbox" id="checkall" />
            </th>
        <th>Employee ID</th>
        <th>Photo</th>
        <th>Employee Name</th>
        <th>User Role</th>
        <th>Mobile No.</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Joining Date</th>
        <th>Salary</th>
        <th>Operation</th>
        
      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr>
        <td>
            <input type="checkbox" id="checkthis" />
          </td>
        <td> 1</td>
        <td>
          <img width="60" height="60" [src]="image ? image : defaultImage" />
        </td>
        <td style="column-width:auto">Manoj deshmukh</td>
        <td>Manager</td>
        <td>9973535389</td>
        <td>Male</td>
        <td>21/05/2018</td>
        <td>Pune</td>
        <td>23/05/2018</td>
        <td>15000</td>
        <td>
         <div style="float: left;margin-left: 10px;">
          <p data-title="Edit" class="edit" data-toggle="modal" data-target="#edit">
            <span class="bv bji iconstyle"></span>
          </p>
        </div>
        <div style="float: left;margin-left: 10px;">
          <p data-title ="Delete" class="delete" data-toggle="modal" data-target="#delete">
            <a>
              <span class="bv bmx iconstyle2" ></span>
            </a>
          </p>
        </div>
        <div>
            <p data-title ="Delete" class="delete" data-toggle="modal" data-target="#delete">
                <a>
                    <i class="fa fa-bars" style="color:green"></i>
                </a>
              </p>

        </div>
          
          
        </td>
      </tr>
    </tbody>
  </table>
  
<div class="avv">
    <nav>
      <ul class="qn">
        <li class="qp">
          <a class="qo" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="adp">Previous</span>
          </a>
        </li>
        <li class="qp active">
          <a class="qo" href="#">1</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">2</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">3</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">4</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">5</a>
        </li>
        <li class="qp">
          <a class="qo" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="adp">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Employee Registration</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- popup Form code  -->
          <form>
            <div class="well">
              <div class="row">
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">ID<i class="fa fa-id-card"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Employee Name<i class="fa fa-male"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">User Role<i class="fa fa-user-circle"></i></span>
                    </div>
                    <select class="form-control"></select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Mobile<i class="fa fa-mobile-phone"></i></span>
                    </div>
                    <input type="text" class="form-control" name="date"> </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Gender <i class="fa fa-male"></i></span>
                    </div>
                    <select class="form-control"></select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Date Of Birth <i class="fa fa-birthday-cake"></i> </span>
                    </div>
                    <input type="date" class="form-control" id="DOB" placeholder="Date of Birth">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Created User<i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Joining Date<i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="date" class="form-control" id="DOB" placeholder="Date of Birth">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <img width="90" height="90" [src]="image ? image : defaultImage" style="margin-left: 50px;" />
                  </div>
                  <div>
                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text" id="">Upload<i class="fa fa-upload"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Salary</span>
                        <span class="input-group-text" id="basic-addon1">₹</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Address<i class="fa fa-address-book"></i></span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col-sm-4 offset-5">
                <button type="button" class="btn btn-success" style="height: 40px;" (click)="btnSave()">Save</button>
                <button type="button" class="btn btn-danger" style="margin-left:10px;height: 40px;">Cancel</button>
              </div>
            </div>
          </form>
          <!--End of popup Code-->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
        </div>
        <div class="modal-body">

          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div>
    </div>
  </div>






  <div class="modal fade" id="edit1" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Employee Registration</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- popup Form code  -->
          <form>
            <div class="well">
              <div class="row">
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">ID</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Employee Name</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">User Role</span>
                    </div>
                    <select class="form-control"></select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Mobile</span>
                    </div>
                    <input type="text" class="form-control" name="date"> </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Gender</span>
                    </div>
                    <select class="form-control"></select>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Date Of Birth</span>
                    </div>
                    <input type="date" class="form-control" id="DOB" placeholder="Date of Birth">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Created User</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Joining Date</span>
                    </div>
                    <input type="date" class="form-control" id="DOB" placeholder="Date of Birth">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Salary </span>

                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="input-group input-group-sm mb-3">
                    <img width="90" height="90" [src]="image ? image : defaultImage" style="margin-left: 50px;" />
                  </div>
                  <div>
                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Address</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:10px">
              <div class="col-sm-4 offset-5">
                <button type="button" class="btn btn-primary" style="height: 40px;" (click)="btnSave()">Save</button>
                <button type="button" class="btn btn-danger" style="margin-left:10px;height: 40px;">Cancel</button>
              </div>
            </div>
          </form>
          <!--End of popup Code-->
        </div>
      </div>
    </div>
  </div>