.modal-content
{
margin-top: 80px;
}
/* .input-group-text
{
background-color: darkorange;
color: black;
} */
.delete{
    color: red;
}
tbody > tr:hover{
    color:blue;
}
tr{
    text-align: center;
}