<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Credit Sale Bill</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;margin-top:0px;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">

                  </select>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Value</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>

                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>

                <button type="button" style="margin-bottom: 10px" class="btn btn-dark">Show All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-right: 5px;" data-toggle="modal" data-target="#edit" class="btn btn-info">New Bill</button>
                <button type="button" style="background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>


                <button type="button"  class="btn btn-warning">Export</button>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ly">
      <table class="ck table-bordered table-sm table-striped" data-sort="table">
        <thead style="color:#fff;background-color: #cc5f61">
          <tr>
            <th>
              <input type="checkbox" class="bsn" id="selectAll">
            </th>
            <th>ID</th>
            <th>Bill No</th>
            <th>Bill Date</th>
            <th>Customer Code</th>
            <th>Customer Name</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Total Qty</th>
            <th>Total Amount</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody style="color: black;" class="table-hover">
          <tr>
            <td>
              <input type="checkbox" class="bsn" id="selectAll">
            </td>
            <td>1001</td>
            <td>1234454</td>
            <td>06/07/2018</td>
            <td>IB1244</td>
            <td>Name</td>
            <td>06/07/2018</td>
            <td>06/07/2018</td>
            <td>1000</td>
            <td>100000</td>
            <td>
              <!-- <p data-placement="top" data-toggle="tooltip" title="Edit"> -->
              <p data-title="Edit" class="edit" data-toggle="modal" data-target="#edit">
                <span class="bv bji iconstyle"></span>
              </p>
            </td>
            <td>
              <!-- <p data-placement="top" data-toggle="tooltip" title="Delete"> -->
              <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
                <a>
                  <span class="bv bmx iconstyle2"></span>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="avv">
        <nav>
          <ul class="qn">
            <li class="qp">
              <a class="qo" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="adp">Previous</span>
              </a>
            </li>
            <li class="qp active">
              <a class="qo" href="#">1</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">2</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">3</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">4</a>
            </li>
            <li class="qp">
              <a class="qo" href="#">5</a>
            </li>
            <li class="qp">
              <a class="qo" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="adp">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div *ngIf="showError" style="margin-bottom: 10px" class="alert-danger">
    {{errMessage}}
  </div>
  <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="margin-top:80px;">
        <div class="modal-header">
          <h4 class="modal-title"> Creditor Bill Entry</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">

            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-9">
                    <div class="card text-white bg-secondary mb-3" style="width:100%;">
                      <div class="card-body ">
                        <div class="row">


                          <div class="col-md-4">
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Bill no</label>
                              </div>
                              <input class="form-control form-control-sm" type="text" placeholder="">

                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Bill Date</label>
                              </div>
                              <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">

                            </div>
                          </div>

                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Cst Code</label>
                              </div>
                              <input class="form-control form-control-sm" type="text" placeholder="">

                            </div>

                          </div>
                          <div class="col-md-8">
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Customer Name</label>
                              </div>
                              <select class="form-control form-control-sm" id="item-type">

                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">From Date</label>
                              </div>
                              <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">

                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group input-group-sm mb-3">
                              <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">To Date</label>
                              </div>
                              <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">

                            </div>
                          </div>
                          <div class="col-md-12 offset-4">
                            <button type="button" class="btn btn-primary">Search</button>
                           
              
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table id="mytable" class="table table-sm table-bordred table-striped">
                            <thead>

                              <th>
                                <input type="checkbox" id="checkall" />
                              </th>
                              <th>Sr.No</th>
                              <th>Date</th>
                              <th>Slip No</th>
                              <th>Vechile No</th>
                              <th>Product Name</th>
                              <th>QTY</th>
                              <th>Unit</th>
                              <th>Rate</th>
                              <th>Amount</th>
                            </thead>
                            <tbody>

                              <tr>
                                <th>
                                  <input type="checkbox" id="checkall" />
                                </th>
                                <th>1         </th>
                                <th>10/01/2018     </th>
                                <th>   121b1     </th>
                                <th>          mh12bg122                      </th>
                                <th>         petrol                       </th>
                                <th>         1000                       </th>
                                <th>LTR</th>
                                <th>83</th>
                                <th>830000</th>
                              </tr>



                            </tbody>




                          </table>
                          
                        </div>
                      </div>
                    </div>



                    <script>
                      $(document).ready(function () {
                        $("#mytable #checkall").click(function () {
                          if ($("#mytable #checkall").is(':checked')) {
                            $("#mytable input[type=checkbox]").each(function () {
                              $(this).prop("checked", true);
                            });

                          } else {
                            $("#mytable input[type=checkbox]").each(function () {
                              $(this).prop("checked", false);
                            });
                          }
                        });

                        $("[data-toggle=tooltip]").tooltip();
                      });
                    </script>


                    <div class="row">
                      <div class="col-md-4">
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Total Amount</label>
                          </div>
                          <input class="form-control form-control-sm" type="text" placeholder="">

                        </div>

                      </div>
                      <div class="col-md-8">
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Amount in Words</label>
                          </div>
                          <input class="form-control form-control-sm" type="text" placeholder="">

                        </div>

                      </div>

                    </div>
                    <div class="row justify-content-start">
                      <div class="col-md-8">
                        <button type="button" style="margin-bottom: 10px;" class="btn btn-primary">New</button>

                        <button type="button" style="margin-bottom: 10px;" class="btn btn-success">Save</button>

                        <button type="button" style="margin-bottom: 10px;background-color: #dc143c" class="btn">Print</button>
                        <button type="button" style="margin-bottom: 10px;" class="btn btn-danger">Clear</button>

                      </div>
                    </div>


                  </div>

                  <div class="col-md-3">

                    <div class="card text-white bg-secondary mb-3" style="width:100%; margin-top:0px;">

                      <div class="card-body ">
                        <div clas="row">
                          <div class="table-responsive">
                            <table id="mytable" class="table table-sm table-bordred table-striped">

                              <thead>
                                <th>Vechile No</th>
                                <th>Select</th>
                                

                              </thead>
                              <tbody>
                                <tr>

                                  <td>Hs</td>
                                  <td>100</td>
                                  

                                </tr>
                                
                              </tbody>
                            </table>
                          </div>

                          <div class="table-responsive">
                            <table id="mytable" class="table table-sm table-bordred table-striped">

                              <thead>
                                <th>Bill No</th>
                               
                                <th>Select</th>

                              </thead>
                              <tbody>
                                <tr>

                                  <td>Hs</td>
                                  <td>100</td>
                                  

                                </tr>
                                
                              </tbody>
                            </table>
                          </div>

                        </div>

                        <div class="well">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">T.Amount</label>
                                </div>
                                <input class="form-control form-control-sm" type="text" placeholder="">

                              </div>
                            </div>
                          </div>
                          <div class="well">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="input-group input-group-sm mb-3">
                                  <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Round Off</label>
                                  </div>
                                  <input class="form-control form-control-sm" type="text" placeholder="">

                                </div>
                              </div>
                            </div>
                            <div class="well">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Net Amount</label>
                                    </div>
                                    <input class="form-control form-control-sm" type="text" placeholder="">

                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                      <label class="input-group-text" for="inputGroupSelect01">Total Qty</label>
                                    </div>
                                    <input class="form-control form-control-sm" type="text" placeholder="">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
        </div>
        <div class="modal-body">

          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div>
    </div>
  </div>