<div class="container col-sm-3" style="margin-top:5%">
  <div class="card" style="width: 20rem;">
    <div class="card-header">
      <!-- <div style="float: right;">
        <i class="fa fa-close"></i>
      </div> -->
      <div class="card-title" style="color:#FFF;font-weight: bold;font-size: 20px;">
        Login
      </div>
    </div>
    <div class="card-body" style="color:black">
      <form ngForm="LoginForm" #LoginForm="ngForm" name="LoginForm">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Username</label>
              </div>
              <input type="text" id="username" name="username" placeholder="" minlength="3" maxlength="6" [(ngModel)]="usernameText" #username="ngModel" [ngModelOptions]="{standalone: true}" required>
              <div class="alert alert-danger" style="font-size: 12px;" *ngIf="username.touched && !username.valid">Username is required</div>
              <!-- <div class="alert alert-danger"*ngIf="username.errors.minlength">Username should be minlength 3</div>
              <div class="alert alert-danger" *ngIf="username.errors.maxlength">Username should be maxlength 6</div> -->
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Password</label>
              </div>
              <input type="password" name="password" placeholder="" [(ngModel)]="passwordText" #password="ngModel" [ngModelOptions]="{standalone: true}" required>
              <div style="font-size: 12px;" class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required</div>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-success" (click)="login()">Login</button>
          <button class="btn btn-primary" routerLink="/login-registration">Registration</button>
        </div>
      </form>
    </div>
  </div>
</div>
