<!-- <head>
    <title>example</title>
    <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head> -->
<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Create Nozzel Master</h4>
  </div>
</div>
<!-- Search Operation -->
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <form #nozzelForm="ngForm">
          <div class="row">
            <div class="col-md-6" style="margin-top: 20px;">
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Nozzel Type</label>
                    </div>
                    <!-- <input type="text" [(ngModel)]="inputName" name="inputName" #NozzelType="inputName" class="form-control" aria-label="Username"
                        aria-describedby="basic-addon1"> -->
                    <input type="text" name="NozzelType" #NozzelType="ngModel" [(ngModel)]="inputName" placeholder="">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <!-- <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn" (click)="FilterByName1()">Show All</button> -->
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" (click)="resetForm(nozzelForm)" class="btn btn-light"> Reset</button>
                  <button type="button" style="margin-bottom: 10px;background-color: #f44253" class="btn" (click)="GetList()"> Show All</button>
                  <button type="button" style="margin-bottom: 10px;" (click)="openModal(template)" class="btn btn-info">+Add New</button>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- <div ng-app="my-app" ng-controller="MyController" class="ly"> -->
<img *ngIf="ShowLoader" style="margin-left: 40%" src="./assets/img/Loader.gif" />

<div style="float:right">
  <div *ngIf="edited" class="alert alert-success popover" role="alert">
    <strong>List Saved!</strong> Your changes has been saved.
  </div>
</div>
<div ng-app="my-app" ng-controller="MyController">
  <!-- <input  type="text"  id="inputName" [(ngModel)]="inputName" />
            <input type="button" ng-click="FilterByName()" value="Apply"/> -->

  <table *ngIf="!ShowLoader" class="ck table-bordered table-sm table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" id="checkall" />
        </th>
        <th>Nozzel ID</th>
        <th>Nozzel Type</th>

        <th>Operation</th>

      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr *ngFor="let nozzel of pagedItems  ">
        <td>
          <input type="checkbox" id="checkthis" />
        </td>
        <!-- <td> 1</td>
                <td>
                  <img width="60" height="60" [src]="image ? image : defaultImage" />
                </td> -->
        <td style="column-width:auto">{{nozzel.ID}}</td>

        <td>{{nozzel.Type }}</td>

        <td>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Edit" class="edit" (click)="openModal(template,nozzel.ID)">
              <span class="bv bji iconstyle"></span>
            </p>
          </div>
          <div style="float: left;margin-left: 10px;">
            <p class="delete" (click)="DeleteNozzelMaster(nozzel.ID)">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="avv">
  <nav>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
        <a (click)="setPage(1)" class="qo">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
        <a (click)="setPage(pager.currentPage - 1)" class="qo">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="qp">
        <a (click)="setPage(page)" class="qo">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
        <a (click)="setPage(pager.currentPage + 1)" class="qo">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="qp">
        <a (click)="setPage(pager.totalPages)" class="qo">Last</a>
      </li>
    </ul>
    <!-- <ul class="qn">
              <li class="qp">
                <a class="qo" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="adp">Previous</span>
                </a>
              </li>
              <li class="qp active">
                <a class="qo" href="#">1</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">2</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">3</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">4</a>
              </li>
              <li class="qp">
                <a class="qo" href="#">5</a>
              </li>
              <li class="qp">
                <a class="qo" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="adp">Next</span>
                </a>
              </li>
            </ul> -->
  </nav>
</div>
<!-- <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                 -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add Unit</h4>
    <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- popup Form code  -->
    <form ngForm="NozzelMasterForm" #NozzelMasterForm="ngForm" name="NozzelMasterForm">
      <div class="well">
        <div class="row">

          <div class="col-sm-12">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Nozzel Type

                </span>
              </div>
              <input type="text" [(ngModel)]="nozzel.Type" name="Type" #Type="ngModel" class="form-control" aria-label="Address" aria-describedby="basic-addon1"
                required autocomplete="off" >
                <!-- pattern="[a-zA-Z][a-zA-Z ]+" -->
            </div>
            <div class="validation-error" *ngIf="Type.invalid&&(Type.dirty||submitted)">
              <span *ngIf="Type.errors?.required">Nozzel Type is required</span>
              <!-- <div *ngIf="Type.errors?.pattern">Only alphabets allowed</div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 offset-3">



          <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;margin-left: 10px"
            (click)="NozzelMasterForm.valid?SaveNozzelMaster():submitted=true">Save</button>
          <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="NozzelMasterForm.valid?UpdateNozzelMaster():submitted=true">Update</button>


          <button type="button" class="btn btn-danger" (click)="modalRef.hide()" style="height: 40px;">Cancel</button>




        </div>
      </div>
    </form>
    <!--End of popup Code-->
  </div>
</ng-template>
<!-- </div>
            </div>
          </div> -->


<!-- <script>
        var myApp = angular.module('myApp', []);

myApp.controller('MyController', function MyController($scope) {

    $scope.selectedFieldName = '';
    $scope.searchText = '';

    $scope.SearchList = function () {

        if ($scope.selectedFieldName && $scope.searchText) {

            $scope.searchresult = [];


            for (var i = 0; i < $scope.customer.length; i++) {
                if ($scope.customer[i][$scope.selectedFieldName.toLowerCase()].toUpperCase().indexOf($scope.searchText.toUpperCase()) > -1) {
                    $scope.searchresult.push($scope.customer[i]);
                }
            }


        } else {
            $scope.searchresult = $scope.customer;
        }

    };
      
    $scope.searchresult = $scope.customer = [
         {
             'id': 1,
             'firstname': 'Tridip',
             'lastname': 'Bhattacharjee',
             'salary': 15000,
             'dob': '05/09/2013',
             'city': 'kolkata',
             'phone': '033 2589 7415'
         },
         {
             'id': 2,
             'firstname': 'Arijit',
             'lastname': 'Banerjee',
             'salary': 25000,
             'dob': '01/09/2010',
             'city': 'Bihar',
             'phone': '033 2589 9999'
         },
         {
             'id': 3,
             'firstname': 'Dibyendu',
             'lastname': 'Saha',
             'salary': 20000,
             'dob': '06/09/2011',
             'city': 'Rachi',
             'phone': '033 2589 3333'
         },
         {
             'id': 4,
             'firstname': 'Bisu',
             'lastname': 'Das',
             'salary': 5000,
             'dob': '05/01/2009',
             'city': 'Silchar',
             'phone': '033 2589 2222'
         },
         {
             'id': 5,
             'firstname': 'Soumyajit',
             'lastname': 'Kar',
             'salary': 12000,
             'dob': '09/08/2011',
             'city': 'kanpur',
             'phone': '033 3333 1894'
         }
       ];

   })
      </script>
       -->