<div class="bqn">
    <div class="bqo">
      <h4 class="bqp">Credit Note</h4>
    </div>
  </div>
<!-- Search Operation -->
<div class="container">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                    </div>
                    <select class="form-control form-control-sm" id="item-type">
                      <option>ID</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                    </div>
                    <input type="date" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">To</label>
                    </div>
                    <input type="date" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Value</label>
                    </div>
                    <input class="form-control form-control-sm" type="text" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 offset-3">
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                  <button type="button" style="margin-bottom: 10px" class="btn btn-dark">Show All</button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card text-white bg-secondary mb-3" style="width:100%;">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-md-6">
                      <label type="text">Overview</label>
                    </div>
                  </div>
                  <div class="row" style="margin-top:18px;">
                    <div class="col-md-7">
                      <label type="text">Total No of Credit Bill:0</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12 offset-3">
                  <button type="button" style="margin-right: 5px;" data-toggle="modal" data-target="#edit" class="btn btn-info">New Note</button>
                  <button type="button" style="background-color: #dc143c;margin-right: 5px;" class="btn">Print</button>


                  <button type="button"  class="btn btn-warning">Export</button>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  End of Search -->
  <div class="ly">
    <table class="ck table-bordered table-sm table-striped" data-sort="table">
      <thead style="color:#fff;background-color: #cc5f61">
        <tr>
          <th><input type="checkbox" id="checkthis" /></th>
          <th>ID</th>
         
          <th>Credit Note Date</th>
          <th>Account Name</th>
          <th>Credit Amount</th>
          <th>Notes</th>
          <th>Update</th>
          <th>Delete</th>
          
        </tr>
      </thead>
      <tbody style="color: black;" class="table-hover">
        <tr>
            <td> <input type="checkbox" id="checkthis" /></td>
          <td>DB212</td>
          <td>21/05/2018</td>
          <td>abc </td>
          <td>15000</td>
          <td> chk no: 3333132</td>
          <td>
              <!-- <p data-placement="top" data-toggle="tooltip" title="Edit"> -->
                <p data-title="Edit" class="edit" data-toggle="modal" data-target="#edit">
                  <span class="bv bji iconstyle"></span>
                </p>
            </td>
            <td>
              <!-- <p data-placement="top" data-toggle="tooltip" title="Delete"> -->
                <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
                  <a>
                    <span class="bv bmx iconstyle2"></span>
                  </a>
                </p>
            </td>
        </tr>
      </tbody>
    </table>
    
<div class="avv">
    <nav>
      <ul class="qn">
        <li class="qp">
          <a class="qo" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="adp">Previous</span>
          </a>
        </li>
        <li class="qp active">
          <a class="qo" href="#">1</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">2</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">3</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">4</a>
        </li>
        <li class="qp">
          <a class="qo" href="#">5</a>
        </li>
        <li class="qp">
          <a class="qo" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="adp">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
          </div>
          <div class="modal-body">
  
            <div class="alert alert-danger">
              <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
  
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove"></span> No</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Credit Note entry</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="well">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Date</span>
                      </div>
                      <input type="date" class="form-control" id="date" placeholder="Date">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Account Name</span>
                      </div>
                      <input type="text" class="form-control" aria-label="accountname" aria-describedby="basic-addon1">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Pump Attendent</span>
                      </div>
                     <select class="form-control">
  
                     </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Payment Mode</span>
                      </div>
                      <select class="form-control"></select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Bank Name</span>
                      </div>
                      <input type="text" class="form-control" name="date"> </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Bank A/C No</span>
                      </div>
                      <select class="form-control"></select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Amount</span>
                      </div>
                      <input type="text" class="form-control" aria-label="amount" aria-describedby="basic-addon1">
                    </div>
                  </div>
                 
                  <div class="col-sm-4">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Note</span>
                      </div>
                      <input type="text" class="form-control" aria-label="note" aria-describedby="basic-addon1">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row" style="margin-top:10px">
                <div class="col-sm-4 offset-5">
                  <button type="button" class="btn btn-primary" style="height: 40px;" (click)="btnSave()">Save</button>
                  <button type="button" class="btn btn-danger" style="margin-left:10px;height: 40px;">Cancel</button>
                </div>
              </div> -->
            </form>
            <div class="col-md-12 offset-4 ">
              <!-- <button type="button" class="btn btn-success">Back</button> -->
              <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Clear</button>
              <!--<button type="button" class="btn btn-dark" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span>Back</button> -->
            </div>
  
          </div>
         
        </div>
      </div>
    </div>