<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Add Creditor</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Date</label>
                  </div>
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <input type="Date" placeholder="Datepicker" class="form-control form-control-sm">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Value</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                <button type="button" style="margin-bottom: 10px;background-color: #f44253" (click)="GetList()" class="btn">Show All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 offset-3">
                <button type="button" data-toggle="modal" data-target="#myModal" (click)="openModal(template)" class="btn btn-info">Add New</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ly">
  <table class="ck table-sm table-bordered table-striped" data-sort="table">
    <thead style="color:#fff;background-color: #cc5f61">
      <tr>
        <th>
          <input type="checkbox" class="bsn" id="selectAll">
        </th>
        <th>Id</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Address</th>
        <!-- <th>Date</th> -->
        <th>Operation</th>

      </tr>
    </thead>
    <tbody style="color: black;" class="table-hover">
      <tr *ngFor="let creditor of pagedItems">
        <th>
          <input type="checkbox" class="bsn" id="selectAll">
        </th>
        <td>{{creditor.ID}}</td>
        <!-- <td>01/01/2015</td> -->
        <td>{{creditor.CreditorName}}</td>
        <td>{{creditor.MobileNo}}</td>
        <td>{{creditor.Address}}</td>

        <td>

          <!-- <p data-title="Edit" data-toggle="modal" class="myModal" (click)="EditShift()" data-target="#edit"> -->
          <!-- <span class="bv bji iconstyle"></span>
                        </p>
                      
      
                        <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
                          <a>
                            <span class="bv bmx iconstyle2"></span>
                          </a>
                        </p> -->
          <div style="float: left;margin-left: 10px;">
            <p data-title="Edit" class="edit" (click)="openModal(template,creditor.ID)">
              <span class="bv bji iconstyle"></span>
          </div>
          <div style="float: left;margin-left: 10px;">
            <p data-title="Delete" class="delete" (click)="DeleteCust(creditor.ID)">
              <a>
                <span class="bv bmx iconstyle2"></span>
              </a>
            </p>
          </div>
         
        </td>
      </tr>
    </tbody>
  </table>

  <div class="avv">
    <nav>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination qn">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="qp">
            <a (click)="setPage(1)" class="qo">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}"class="qp">
            <a (click)="setPage(pager.currentPage - 1)"  class="qo">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"class="qp">
            <a (click)="setPage(page)"  class="qo">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
            <a (click)="setPage(pager.currentPage + 1)"  class="qo">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"class="qp">
            <a (click)="setPage(pager.totalPages)"  class="qo">Last</a>
        </li>
    </ul>
  
    </nav>
  </div>
</div>
<!-- <div *ngIf="showError" style="margin-bottom: 10px" class="alert-danger">
  {{errMessage}}
</div> -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add Creditor Entry</h4>
    <button type="button" class="close" (click)="modalRef.hide()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form ngForm="CreditorForm" #CreditorForm="ngForm" name="CreditorForm">
      <!-- <div class="container" style="background-color: white;border-radius: 5px"> -->
      <!-- <div class="row">
        <div class=col-md-6>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">ID
                <i class="fa fa-id-card"></i>
              </span>
            </div>
            <input type="text" placeholder="" class="form-control form-control-sm">
          </div>
        </div>
        <div class=col-md-6>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Date
                <i class="fa fa-calendar"></i>
              </span>
            </div>
            <input type="date" placeholder="Datepicker" class="form-control form-control-sm">
          </div>
        </div>
      </div> -->
      <!-- <br> -->
      <div class="row">
        <div class=col-md-6>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Name
                <i class="fa fa-male"></i>
              </span>
            </div>
            <input type="text" [(ngModel)]="creditorOBJ.CreditorName" name="CreditorName" #CreditorName="ngModel" class="form-control form-control-sm">
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Mobile No
                <i class="fa fa-mobile-phone"></i>
              </span>
            </div>
            <input type="text" [(ngModel)]="creditorOBJ.MobileNo" name="mobileNo" #mobileNo="ngModel" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Address
                <i class="fa fa-address-book"></i>
              </span>
            </div>
            <textarea class="form-control" [(ngModel)]="creditorOBJ.Address" name="address" #address="ngModel" aria-label="With textarea"></textarea>
          </div>
        </div>
      </div>
      <!-- <br> -->
      <!-- </div> -->
      <br>
      <div class="row">
        <div class="col-md-12 offset-4">
          <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="CreditorForm.valid?SaveCreditor():submitted=true">Save</button>
          <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="CreditorForm.valid?UpdateCreditor():submitted=true">Update</button>
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()">
            <span class="glyphicon glyphicon-ok-sign"></span> Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
