<div class="container">
  <form ngForm="ShiftAllocationForm" #ShiftAllocationForm="ngForm" name="ShiftAllocationForm">
    <div class="row">
      <div class="card text-white bg-secondary mb-3" style="width:100%;">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                    </div>
                    <input type="text" bsDatepicker [bsConfig]="{dateInputFormat:'DD/MM/YYYY'}" class="form-control" placeholder="{{valuedate | date:'dd/MM/yyyy'}}">
                  </div>
                </div>
                <div class=col-md-6>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Shift</span>
                    </div>
                    <select [(ngModel)]="shiftallocation.ShiftType" name="ShiftType" #ShiftType="ngModel" [ngModelOptions]="{standalone: true}"
                      class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor="let stype of shiftMaster" [ngValue]="stype.ID"> {{ stype.Type}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <br> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">EmployeeName</span>
                    </div>
                    <select name="EmployeeName1" [(ngModel)]="shiftallocation.EmployeeName" class="custom-select form-control form-control-sm"
                      id="inputGroupSelect01">
                      <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor=" let ename of EmployeeNameMaster " [ngValue]="ename.ID">
                        {{ ename.EmployeeName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <br> -->
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Notes</span>
                    </div>
                    <input type="text" [(ngModel)]="shiftdetails.Note" name="Note" #Note="ngModel" class="form-control" aria-label="Note"
                      aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table  name="tblshift" class="ck table-bordered table-sm table-striped" cellpadding="1" cellspacing="5" width="100%" height="100%">
              <thead style="color:#fff;background-color: #cc5f61">
                <tr>
                  
                  <th>Tank</th>
                  <th>Nozzel </th>
                  <th>Opening</th>
                  <th>Closing</th>
                  <th>TotalSale</th>
                  <th>Rate</th>
                  <th>TotalAmount</th>
                  <th>Cash</th>
                  <th>CreditCard</th>
                  <th>Debit Cash</th>
                  <th>PumpTesting</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody class="text-body">
                <tr *ngFor="let item of shiftallocationList ;let i=index">
                  <!-- <td width="40%">
                    <input type="number" name="ID{{i}}" [(ngModel)]="item.ID" class="form-control form-control-sm" aria-label="ID" aria-describedby="basic-addon1">
                  </td> -->
                  <td>
                    <select name="Tank-{{i}}" style="width:80px;"  [(ngModel)]="item.Tank" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor=" let ttype of tankmaster " [ngValue]="ttype.ID">{{ttype.Type}}</option>
                    </select>
                  </td>
                  <td>
                    <select name="Nozzel-{{i}}" style="width:80px;"  [(ngModel)]="item.Nozzel" class="custom-select form-control form-control-sm" id="inputGroupSelect01">
                      <option [ngValue]="null" disabled>--Select--</option>
                      <option *ngFor=" let ntype of nozzelmaster " [ngValue]="ntype.ID">{{ntype.Type}}</option>
                    </select>
                  </td>
                  <td >
                    <input type="number" style="width:100px;"  [(ngModel)]="item.Opening" name="Opening-{{i}}"  class="form-control form-control-sm"
                      aria-label="large" aria-describedby="inputGroup-sizing-lg"  >
                      <!-- <div style="margin-top:10px;color: red" *ngIf="Opening.invalid&&(Opening.dirty||submitted)" class="alert-danger">
                        <span *ngIf="Opening.errors?.required">Opening is required</span>
                        
                      </div> -->
                  
                  </td>
                  <td >
                    <input type="number" style="width:100px;" [(ngModel)]="item.Closing" name="Closing-{{i}}" (change)="SubtractionTotalSale(item, i)" 
                      class="form-control form-control-sm" aria-label="large" aria-describedby="inputGroup-sizing-lg" required>
                   <!-- <div style="margin-top:10px" *ngIf="Closing.invalid&&(Closing.dirty||submitted)" class="alert-danger">
                        <span *ngIf="Closing.errors?.required">Closing is required</span>
                        
                      </div> -->
                    </td>
                  <td >
                    <input type="number" style="width:80px;" name="TotalSale-{{i}}" [ngModel]="item.TotalSale" readyonly  class="form-control form-control-sm"
                      aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly>
                  </td>
                  <td >
                    <input type="number" style="width:60px;"  name="Rate-{{i}}" [(ngModel)]="item.Rate" (change)="MultiplicationTotalAmt(item, i)" 
                      class="form-control form-control-sm" aria-label="Small"  aria-describedby="inputGroup-sizing-sm">
                    <!-- <div style="margin-top:10px" *ngIf="Rate.invalid&&(Rate.dirty||submitted)" class="alert-danger">
                        <span *ngIf="Rate.errors?.required">Rate is required</span>
                        
                      </div> -->
                 
                    </td>
                  <td >
                    <input type="text" style="width:80px;"  name="TotalAmt-{{i}}" [ngModel]="item.TotalAmt" readyonly  class="form-control form-control-sm"
                      aria-label="Small" aria-describedby="inputGroup-sizing-sm" readonly>
                  </td>
                  <td >
                    <input type="number" style="width:80px;"  name="ByCash-{{i}}" [(ngModel)]="item.ByCash"  (change)="SubstractionCreditCard(item, i)" 
                      class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    <!-- <div style="margin-top:10px" *ngIf="ByCash.invalid&&(ByCash.dirty||submitted)" class="alert-danger">
                        <span *ngIf="ByCash.errors?.required">ByCash is required</span>
                        
                      </div> -->
                    </td>
                  <td >
                    <input type="text" style="width:80px;"  name="CreditCardCash-{{i}}" [ngModel]="item.CreditCardCash"  readonly  class="form-control form-control-sm"
                      aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                      <!-- <div style="margin-top:10px" *ngIf="CreditCardCash.invalid&&(CreditCardCash.dirty||submitted)" class="alert-danger">
                        <span *ngIf="CreditCardCash.errors?.required">CreditCardCash is required</span>
                        
                      </div> -->
                  </td>
                  <td>
                    <input type="number" name="DebitCardCash-{{i}}" style="width:80px;" [(ngModel)]="item.DebitCardCash"   class="form-control form-control-sm"
                      aria-label="large" aria-describedby="inputGroup-sizing-lg">
                       <!-- <div style="margin-top:10px" *ngIf="DebitCardCash.invalid&&(DebitCardCash.dirty||submitted)" class="alert-danger">
                        <span *ngIf="DebitCardCash.errors?.required">DebitCardCash is required</span>
                        
                      </div> -->
                  </td>
                  <td>
                    <input type="number" name="PumpTesting-{{i}}" [(ngModel)]="item.PumpTesting"  style="width:80px;" class="form-control form-control-sm"
                      aria-label="large" aria-describedby="inputGroup-sizing-lg">
                       <!-- <div style="margin-top:10px" *ngIf="PumpTesting.invalid&&(PumpTesting.dirty||submitted)" class="alert-danger">
                        <span *ngIf="PumpTesting.errors?.required">PumpTesting is required</span>
                        
                      </div> -->
                  </td>
                  <td>
                    <div class="form-control">
                      <i class="fa fa-plus" style="color:green" (click)="addrow(this.shiftallocation.shiftallocationList)"></i>
                      <!-- (click)="addrow(this.shiftallocation.shiftallocationList)" -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">TotalSale</span>
          </div>
          <input type="text" name="totalsale" [(ngModel)]="totalsale" readonly class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">TotalAmount</span>
          </div>
          <input type="text" name="totalamount" [(ngModel)]="totalamount" readonly class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
      <div class="col-md-12 offset-5 ">
        <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="SaveShiftAllocationdetails()">Save</button>
        <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="UpdateShiftAllocationdetails()">Update</button>
        <button type="button" routerLink="/layout/shift/shift-allocation" class="btn btn-danger" >Cancel</button>
      </div>
    </div>
  </form>
</div>