<div class="bqn">
  <div class="bqo">
    <h4 class="bqp">Bill Details</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card text-white bg-secondary mb-3" style="width:100%;">
      <div class="card-body ">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">By Category</label>
                  </div>
                  <select class="form-control form-control-sm" id="item-type">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">From Date</label>
                  </div>
                  <input class="form-control form-control-sm" id="item-type" type="date">

                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To Date</label>
                  </div>
                  <input class="form-control form-control-sm" id="item-type" type="text">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Employee Name</label>
                  </div>
                  <input class="form-control form-control-sm" type="text" placeholder="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Search</button>
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-light">Reset</button>
                <button type="button" style="margin-bottom: 10px;background-color: #f44253" (click)="GetList()" class="btn">Show All</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-6">
                    <label type="text">Overview</label>
                  </div>
                </div>
                <div class="row" style="margin-top:18px;">
                  <div class="col-md-7">
                    <label type="text">Total No of Credit Bill:0</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-md-12 offset-3">
                <button type="button" style="margin-bottom: 10px;margin-right: 5px;" (click)="openModal(template)" class="btn btn-info">Add New</button>
                <button type="button" style="margin-bottom: 10px;margin-right:5px;background-color:#dc143c;" class="btn">Print</button>


                <button type="button" style="margin-bottom: 10px" class="btn btn-warning">Export</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="row">


  <div class="col-md-12">

    <div class="table-responsive">


      <table id="mytable" class="ck table-bordered table-sm table-striped">

        <thead style="color:#fff;background-color: #cc5f61">

          <th>
            <input type="checkbox" id="checkall" />
          </th>
          <th>Bill no</th>
          <th>Invoice no</th>
          <th>Date</th>
          <th>Item Type</th>
          <th>Rate</th>
          <th>Qty</th>
          <th>Total</th>
          <th>Operation</th>

        </thead>
        <tbody style="color: black;" class="table-hover">

          <tr *ngFor="let item of billingList ">
            <td>
              <input type="checkbox" class="checkthis" />
            </td>
            <td>1</td>
            <td>1001</td>
            <td>1-02-2018</td>
            <td>{{item.ItemTypeDes}}</td>

            <td>{{item.Rate}}</td>
            <td>{{item.Qty}}</td>
            <td>{{item.Total}}</td>
            <td>
                      <div style="float: left;margin-left: 10px;">
                <p data-title="Edit" class="edit" (click)="openModal(template,billing.ID)">
                  <span class="bv bji iconstyle"></span>
                </p>
              </div>
              <div style="float: left;margin-left: 10px;">
                <p data-title="Delete" class="delete" (click)="DeleteBilling(billing.ID)">
                  <a>
                    <span class="bv bmx iconstyle2"></span>
                  </a>
                </p>
              </div>
              <div>
                <p data-title="Delete" class="delete" data-toggle="modal" data-target="#delete">
                  <a>
                    <i class="fa fa-bars"></i>
                  </a>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="avv">
      <nav>
        <ul class="qn">
          <li class="qp">
            <a class="qo" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="adp">Previous</span>
            </a>
          </li>
          <li class="qp active">
            <a class="qo" href="#">1</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">2</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">3</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">4</a>
          </li>
          <li class="qp">
            <a class="qo" href="#">5</a>
          </li>
          <li class="qp">
            <a class="qo" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="adp">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

  <ng-template #template>
      <div class="modal-header">
          <h4 class="modal-title">Billing Entry</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="card text-white bg-secondary mb-3" style="width:100%;">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Bill No</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Bill Date</span>
                          </div>
                          <input type="date" placeholder="Datepicker" class="form-control form-control-sm">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Vehicle No</span>
                          </div>
                          <input type="text" placeholder="" class="form-control form-control-sm">
                        </div>
                      </div>
                    </div>
  
                    <div class="row">
  
                      <div class="col-md-12">
  
                        <div class="table-responsive">
  
                          <table id="mytable" class="table table-sm table-bordred table-striped">
  
                            <thead>
  
  
  
                              <th>C.Name</th>
                              <th>Item Type</th>
                              <th>Qty</th>
                              <th>Rate</th>
                              <th>Amount</th>
                              <th></th>
                            </thead>
                            <tbody>
  
                              <tr>
  
  
                                <td>
                                  <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td>
                                  <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td>
                                  <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td>
                                  <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td>
                                  <input type="text" style="border: none" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </td>
                                <td>
                                  <button type="button" style="margin-bottom: 10px;margin-right: 5px;" class="btn btn-primary">Add</button>
  
                                </td>
  
  
                              </tr>
  
  
                            </tbody>
  
                          </table>
                        </div>
                      </div>
                    </div>
  
  
                   
  
                   
                   
  
  
                    <div class="row">
                      <div class="col-md-4">
                        <label type="text">Total Amount</label>
                        <input class="form-control form-control-sm" type="text" placeholder="">
  
                      </div>
                      <div class="col-md-8">
                        <label type="text">Amount In Words</label>
                        <input class="form-control form-control-sm" type="text" placeholder="">
  
                      </div>
  
                    </div>
                    <div class="row justify-content-start">
                      <div class="col-md-8">
                        <button type="button" style="margin-bottom: 10px;" class="btn btn-info">New</button>
  
                        <button type="button" style="margin-bottom: 10px;" class="btn btn-success">Save</button>
  
                        <button type="button" style="margin-bottom: 10px;background-color:#dc143c" class="btn">Print</button>
                        <button type="button" style="margin-bottom: 10px;" class="btn btn-danger">Clear</button>
  
                      </div>
                    </div>
  
  
                  </div>
  
                  <!-- <div class="col-md-3">
  
                    <div class="card text-white bg-secondary mb-3" style="width:100%;">
  
                      <div class="card-body ">
                        <div clas="row">
  
                          <div class="table-responsive">
                            <table id="mytable" class="table table-sm table-bordred table-striped">
  
                              <thead>
                                <th>C.Name</th>
                                <th>Qty</th>
                                <th>Amount</th>
  
                              </thead>
                              <tbody>
                                <tr>
  
                                  <td>Hs</td>
                                  <td>100</td>
                                  <td>11200</td>
  
                                </tr>
                              </tbody>
                            </table>
                          </div>
  
                        </div>
  
  
                        <div class="well">
                          <div class="row">
                            <div class="col-md-5">
                              <label type="text">T.Amount</label>
                            </div>
                            <div class="col-md-7">
                              <input class="form-control form-control-sm" type="text" placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="well">
                          <div class="row">
                            <div class="col-md-5">
                              <label type="text">R.Off</label>
                            </div>
                            <br>
                            <div class="col-md-7">
                              <input class="form-control form-control-sm" type="text" placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="well">
                          <div class="row">
                            <div class="col-md-5">
                              <label type="text">Net Amount</label>
                            </div>
                            <div class="col-md-7">
                              <input class="form-control form-control-sm" type="text" placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <label type="text">Total Qty</label>
                            <input class="form-control form-control-sm" type="text" placeholder="">
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div> -->
  
                </div>
  
  
              </div>
  
            </div>
          </div>
  
  
  
        </div>
    <!-- <div class="modal-header">
      <h4 class="modal-title">Billing Management</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form ngForm="BillingForm" #BillingForm="ngForm" name="BillingForm">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-body ">
            <div class="row">
              <div class="col-sm-6">
                <label type="text">Bill Number</label>
                <input [(ngModel)]="billing.BillNo"  name="BillNo" #BillNo="ngModel" class="form-control form-control-sm" type="text" placeholder="">
              </div>
              <div class="col-sm-6  ">
                <label type="text">Date</label>
                <input type="date" placeholder="Datepicker" class="form-control form-control-sm">
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6  ">
                <label type="text">Party</label>
                <input [(ngModel)]="billing.Party" name="Party" #Party="ngModel" class="form-control form-control-sm" type="text" placeholder="">
              </div>
              <div class="col-sm-6  ">
                <label type="text">Vehicle No</label>
                <input [(ngModel)]="billing.VehicleNo" name="VehicleNo" #VehicleNo="ngModel" class="form-control form-control-sm" type="text" placeholder="">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6  ">
                <label type="text">Item Type</label>
                <select [(ngModel)]="billing.ItemType" name="ItemType" #ItemType="ngModel" class="form-control form-control-sm" id="item-type">
                  <option *ngFor="let item of tanktype">{{item.Type}}</option>
                </select>
              </div>
              <div class="col-sm-6  ">
                <label type="text">Quantity</label>
                <input [(ngModel)]="billing.Qty" name="Qty" #Qty="ngModel" class="form-control form-control-sm" type="text" placeholder="">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6  ">
                <label type="text">Rate</label>
                <input [(ngModel)]="billing.Rate" name="Rate" #Rate="ngModel" class="form-control form-control-sm" type="text" placeholder="">
              </div>
              <div class="col-sm-6 ">
                <label type="text">Total</label>
                <input [(ngModel)]="billing.Total" name="Total" #Total="ngModel" class="form-control form-control-sm" type="text" placeholder="">
              </div>
            </div>
           
            <div class="row" style="margin-top:20px;">
              <div class="col-sm-8 offset-4">
                <button *ngIf="!isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="BillingForm.valid?SaveBilling():submitted=true">Save</button>
                <button *ngIf="isUpdate" [disabled]="ShowLoader" type="button" class="btn btn-success" style="height: 40px;" (click)="BillingForm.valid?UpdateBilling():submitted=true">Update</button>



                <button type="button"  class="btn btn-light">Clear</button>


                <button type="button"  class="btn btn-danger">Cancel</button>


              </div>
            </div>

          </div>
        </div>
      </form>
    </div> -->

  </ng-template>
