
.jumbotron{

    height: 50px;
    padding-top: 15px;
    text-align: center;
   background-color: #1997c6;;
}

h2{
   
text-align: center;
}
.container{
   
}
.form-row{
    margin-top:20px;
}
.well{
    padding-bottom: 12px;
  }
  tbody > tr:hover{
    color:blue;
}
.delete{
    color: red;
}

.bpy >.form-control{
    margin-right: 300px;
    }